{
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "schemes": [
    "https"
  ],
  "swagger": "2.0",
  "info": {
    "description": "\u003cstyle type=\"text/css\"\u003e\nn {\n    padding: 1em;\n    width: 100%;\n    display: block;\n    margin: 28px 0;\n}\nn.info {\n    background-color: rgba(0, 51, 160, 0.1);\n}\nn.warning {\n    background-color: #fdf6e3;\n}\ni:before {\n    margin-right: 6px;\n}\nnh {\n    font-size: 1.5rem;\n    font-weight: 700;\n    line-height: 1.1;\n    display: block;\n}\nnb {\n    margin-top: 10px;\n    padding-left: 22px;\n    display: block;\n}\n\u003c/style\u003e\n\n# Overview\n\n\u003cn class=\"info\"\u003e\n\u003cnh\u003e\n\u003ci class=\"fa fa-info-circle\"\u003e\u003c/i\u003e\nNew API Available!\n\u003c/nh\u003e\n\u003cnb\u003e\nSamsara has launched a **new and improved API!** You can read more about the new API [here](https://developers.samsara.com/docs/introducing-our-next-generation-api).\n\u003c/nb\u003e\n\u003c/n\u003e\n\nSamsara provides API endpoints so that you can build powerful applications and custom solutions with sensor data. Samsara has endpoints available to track and analyze sensors, vehicles, and entire fleets.\n\nThe Samsara API is a [RESTful API](https://en.wikipedia.org/wiki/Representational_state_transfer). It uses standard [HTTP](https://en.wikipedia.org/wiki/Hypertext_Transfer_Protocol) authentication, verbs, and response codes, and it returns [JSON](http://www.json.org/) response bodies. If you're familiar with what you can build with a REST API, then this will be your go-to API reference.\n\nIf you have any questions, reach out to us at [support@samsara.com](mailto:support@samsara.com).\n\n## Endpoints\n\nAll our APIs can be accessed through HTTP requests to URLs like:\n\n```\nhttps://api.samsara.com/v1/\u003cendpoint\u003e\n```\n\n## Authentication\n\nTo authenticate your API request you will need to include your secret token. You can manage your API tokens in the [Dashboard](https://cloud.samsara.com). They are visible under `Settings-\u003eOrganization-\u003eAPI Tokens`.\n\nYour API tokens carry many privileges, so be sure to keep them secure. Do not share your secret API tokens in publicly accessible areas such as GitHub, client-side code, and so on.\n\nAuthentication to the API is performed via Bearer Token in the HTTP Authorization header. Provide your API token as the `access_token` value in an `Authorization: Bearer` header. You do not need to provide a password:\n\n```curl\nAuthorization: Bearer {access_token}\n```\n\nAll API requests must be made over [HTTPS](https://en.wikipedia.org/wiki/HTTPS). Calls made over plain HTTP or without authentication will fail.\n\n## Common Patterns\n\nYou can find more info about request methods, response codes, error codes, and versioning [here](https://developers.samsara.com/docs/common-structures).\n",
    "title": "Samsara Legacy API",
    "version": "2019-12-12"
  },
  "host": "api.samsara.com",
  "paths": {
    "/v1/addresses": {
      "get": {
        "description": "Fetch all addresses/geofences for the organization. An address contains either a circle or polygon geofence describing the address boundaries.",
        "tags": [
          "Fleet"
        ],
        "summary": "/addresses",
        "operationId": "getOrganizationAddresses",
        "responses": {
          "200": {
            "description": "List of addresses/geofences. For each address entry, the geofence field will only be populated with either 'circle' or 'polygon', depending on the geofence type.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Address"
              }
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "post": {
        "description": "Add one or more addresses to the organization",
        "tags": [
          "Fleet"
        ],
        "summary": "/addresses",
        "operationId": "addOrganizationAddresses",
        "parameters": [
          {
            "$ref": "#/parameters/addressAddParam"
          }
        ],
        "responses": {
          "200": {
            "description": "List of added addresses/geofences. For each address entry, the geofence field will only be populated with either 'circle' or 'polygon', depending on the geofence type. Circle geofences added without a specific lat/lng are geocoded asynchronously, and will be 0,0 in the immediate response.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Address"
              }
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/v1/addresses/{addressId}": {
      "get": {
        "description": "Fetch an address by its id.",
        "tags": [
          "Fleet"
        ],
        "summary": "/addresses/{addressId}",
        "operationId": "getOrganizationAddress",
        "parameters": [
          {
            "type": "integer",
            "format": "int64",
            "description": "ID of the address/geofence",
            "name": "addressId",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "The address/geofence. The geofence field will only be populated with either 'circle' or 'polygon', depending on the geofence type.",
            "schema": {
              "$ref": "#/definitions/Address"
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "description": "Delete an address.",
        "tags": [
          "Fleet"
        ],
        "summary": "/addresses/{addressId}",
        "operationId": "deleteOrganizationAddress",
        "parameters": [
          {
            "type": "integer",
            "format": "int64",
            "description": "ID of the address/geofence",
            "name": "addressId",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Address was successfully deleted. No response body is returned."
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "patch": {
        "description": "Update the name, formatted address, geofence, notes, or tag and contact Ids for an address. The set of tags or contacts associated with this address will be updated to exactly match the list of IDs passed in. To remove all tags or contacts from an address, pass an empty list; to remove notes, pass an empty string.",
        "tags": [
          "Fleet"
        ],
        "summary": "/addresses/{addressId}",
        "operationId": "updateOrganizationAddress",
        "parameters": [
          {
            "$ref": "#/parameters/addressUpdateParam"
          },
          {
            "type": "integer",
            "format": "int64",
            "description": "ID of the address/geofence",
            "name": "addressId",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Address was successfully updated. No response body is returned."
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/v1/contacts": {
      "get": {
        "description": "Fetch all contacts for the organization.",
        "tags": [
          "Contacts"
        ],
        "summary": "/contacts",
        "operationId": "listContacts",
        "responses": {
          "200": {
            "description": "List of contacts.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Contact"
              }
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "post": {
        "description": "Add a contact to the organization.",
        "tags": [
          "Contacts"
        ],
        "summary": "/contacts",
        "operationId": "addOrganizationContact",
        "parameters": [
          {
            "$ref": "#/parameters/addContactParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Contact was successfully added.",
            "schema": {
              "$ref": "#/definitions/ContactData"
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/v1/contacts/{contact_id}": {
      "get": {
        "description": "Fetch a contact by its id.",
        "tags": [
          "Contacts"
        ],
        "summary": "/contacts/{contact_id}",
        "operationId": "getOrganizationContact",
        "parameters": [
          {
            "type": "integer",
            "format": "int64",
            "description": "ID of the contact. Must contain only digits 0-9.",
            "name": "contact_id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "The contact.",
            "schema": {
              "$ref": "#/definitions/Contact"
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "description": "Remove a contact from the organization.",
        "tags": [
          "Contacts"
        ],
        "summary": "/contacts/{contact_id}",
        "operationId": "deleteOrganizationContact",
        "parameters": [
          {
            "type": "integer",
            "format": "int64",
            "description": "ID of the contact. Must contain only digits 0-9.",
            "name": "contact_id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Contact was successfully deleted."
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "patch": {
        "description": "Update the name, phone number or email of a contact using the contact id. Only fields to be changed need to be supplied.",
        "tags": [
          "Contacts"
        ],
        "summary": "/contacts/{contact_id}",
        "operationId": "updateOrganizationContact",
        "parameters": [
          {
            "$ref": "#/parameters/updateContactParam"
          },
          {
            "type": "integer",
            "format": "int64",
            "description": "ID of the contact. Must contain only digits 0-9.",
            "name": "contact_id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Contact was successfully updated.",
            "schema": {
              "$ref": "#/definitions/ContactData"
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/v1/fleet/add_address": {
      "post": {
        "description": "This method adds an address book entry.",
        "tags": [
          "Fleet"
        ],
        "summary": "/fleet/add_address",
        "operationId": "addFleetAddress",
        "parameters": [
          {
            "name": "addressParam",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "name",
                "address",
                "radius"
              ],
              "properties": {
                "address": {
                  "description": "The address of the entry to add, as it would be recognized if provided to maps.google.com.",
                  "type": "string",
                  "example": "501 York St"
                },
                "name": {
                  "description": "Name of the location to add to the address book.",
                  "type": "string",
                  "example": "HQ"
                },
                "radius": {
                  "description": "Radius in meters of the address (used for matching vehicle trip stops to this location).",
                  "type": "integer",
                  "example": 10
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Address was successfully added. No response body is returned."
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/v1/fleet/assets": {
      "get": {
        "description": "Fetch all of the assets.",
        "tags": [
          "Fleet",
          "Assets"
        ],
        "summary": "/fleet/assets",
        "operationId": "getAllAssets",
        "responses": {
          "200": {
            "description": "List of assets.",
            "schema": {
              "type": "object",
              "properties": {
                "assets": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/Asset"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/v1/fleet/assets/locations": {
      "get": {
        "description": "Fetch current locations of all assets.",
        "tags": [
          "Fleet",
          "Assets"
        ],
        "summary": "/fleet/assets/locations",
        "operationId": "getAllAssetCurrentLocations",
        "parameters": [
          {
            "$ref": "#/parameters/paginationStartingAfterParam"
          },
          {
            "$ref": "#/parameters/paginationEndingBeforeParam"
          },
          {
            "$ref": "#/parameters/paginationLimitParam"
          },
          {
            "$ref": "#/parameters/tagIdsPathParam"
          }
        ],
        "responses": {
          "200": {
            "description": "List of assets and their current locations.",
            "schema": {
              "type": "object",
              "properties": {
                "assets": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/AssetCurrentLocationsResponse"
                  }
                },
                "pagination": {
                  "$ref": "#/definitions/Pagination"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/v1/fleet/assets/reefers": {
      "get": {
        "description": "Fetches all reefers and reefer-specific stats.",
        "tags": [
          "Fleet",
          "Assets"
        ],
        "summary": "/fleet/assets/reefers",
        "operationId": "getAssetsReefers",
        "parameters": [
          {
            "$ref": "#/parameters/assetHistoryStartTimeParam"
          },
          {
            "$ref": "#/parameters/assetHistoryEndTimeParam"
          },
          {
            "$ref": "#/parameters/paginationStartingAfterParam"
          },
          {
            "$ref": "#/parameters/paginationEndingBeforeParam"
          },
          {
            "$ref": "#/parameters/paginationLimitParam"
          }
        ],
        "responses": {
          "200": {
            "description": "All org reefers and reefer-specific details.",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/AssetsReefer"
                  }
                },
                "pagination": {
                  "$ref": "#/definitions/Pagination"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/v1/fleet/assets/{asset_id}/locations": {
      "get": {
        "description": "Fetch the historical locations for the asset.",
        "tags": [
          "Fleet",
          "Assets"
        ],
        "summary": "/fleet/assets/{assetId}/locations",
        "operationId": "getAssetLocation",
        "parameters": [
          {
            "$ref": "#/parameters/assetIdParam"
          },
          {
            "$ref": "#/parameters/assetHistoryStartTimeParam"
          },
          {
            "$ref": "#/parameters/assetHistoryEndTimeParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Asset location details.",
            "schema": {
              "$ref": "#/definitions/AssetLocationResponse"
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/v1/fleet/assets/{asset_id}/reefer": {
      "get": {
        "description": "Fetch the reefer-specific stats of an asset.",
        "tags": [
          "Fleet",
          "Assets"
        ],
        "summary": "/fleet/assets/{assetId}/reefer",
        "operationId": "getAssetReefer",
        "parameters": [
          {
            "$ref": "#/parameters/assetIdParam"
          },
          {
            "$ref": "#/parameters/assetHistoryStartTimeParam"
          },
          {
            "$ref": "#/parameters/assetHistoryEndTimeParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Reefer-specific asset details.",
            "schema": {
              "$ref": "#/definitions/AssetReeferResponse"
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/v1/fleet/dispatch/routes": {
      "get": {
        "description": "Fetch all dispatch routes for a given time period. The time period is defined as `end_time` and the `duration` before which to query.\n\nRoutes are returned if the route's `scheduled_start_ms` and `scheduled_end_ms` overlap with the requested time period.\n\nMore concretely, if the route's `scheduled_start_ms` is before `end_time` and the `scheduled_end_ms` is within or after the given duration, then the route is returned.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Fleet",
          "Routes"
        ],
        "summary": "/fleet/dispatch/routes",
        "operationId": "fetchAllDispatchRoutes",
        "parameters": [
          {
            "$ref": "#/parameters/routeEndTimeParam"
          },
          {
            "$ref": "#/parameters/routeDurationParam"
          }
        ],
        "responses": {
          "200": {
            "description": "All dispatch route objects.",
            "schema": {
              "$ref": "#/definitions/DispatchRoutes"
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "post": {
        "description": "Create a new dispatch route.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Fleet",
          "Routes"
        ],
        "summary": "/fleet/dispatch/routes",
        "operationId": "createDispatchRoute",
        "parameters": [
          {
            "$ref": "#/parameters/routeCreateParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Created route object including the new route ID.",
            "schema": {
              "$ref": "#/definitions/DispatchRoute"
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/v1/fleet/dispatch/routes/job_updates": {
      "get": {
        "description": "Fetch all updates to a job including route data in the last 24 hours or subsequent to an sequence ID. Returns a maximum of 500 job updates. If more than 500 job updates are available, another request made with the prior request's sequence_id will return the next set of available job updates.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Fleet",
          "Routes"
        ],
        "summary": "/fleet/dispatch/routes/job_updates",
        "operationId": "fetchAllRouteJobUpdates",
        "parameters": [
          {
            "$ref": "#/parameters/lastReceivedSequenceIDParam"
          },
          {
            "$ref": "#/parameters/jobUpdatesIncludeParam"
          }
        ],
        "responses": {
          "200": {
            "description": "All job updates on routes.",
            "schema": {
              "$ref": "#/definitions/allRouteJobUpdates"
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/v1/fleet/dispatch/routes/{route_id}": {
      "get": {
        "description": "Fetch a dispatch route by id.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Fleet",
          "Routes"
        ],
        "summary": "/fleet/dispatch/routes/{route_id}",
        "operationId": "getDispatchRouteById",
        "responses": {
          "200": {
            "description": "The dispatch route corresponding to route_id.",
            "schema": {
              "$ref": "#/definitions/DispatchRoute"
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "description": "Update the dispatch route. Examples of this include:\n- Adding, removing, and/or editing jobs in the `dispatch_jobs` array. If you add a job to this array, you do not need to include an `id` field. One will be created automatically for that new job.\n- Updating the assigned driver or vehicle. (Routes may be assigned to a driver or a vehicle, but not both).\n- Updating the location and/or timing information of the route.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Fleet",
          "Routes"
        ],
        "summary": "/fleet/dispatch/routes/{route_id}/",
        "operationId": "updateDispatchRouteById",
        "parameters": [
          {
            "$ref": "#/parameters/routeUpdateParam"
          }
        ],
        "responses": {
          "200": {
            "description": "The updated route corresponding to route_id.",
            "schema": {
              "$ref": "#/definitions/DispatchRoute"
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "description": "Delete a dispatch route and its associated jobs.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Fleet",
          "Routes"
        ],
        "summary": "/fleet/dispatch/routes/{route_id}/",
        "operationId": "deleteDispatchRouteById",
        "responses": {
          "200": {
            "description": "Successfully deleted the dispatch route. No response body is returned."
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "parameters": [
        {
          "type": "integer",
          "format": "int64",
          "description": "ID of the dispatch route. Must contain only digits 0-9.",
          "name": "route_id",
          "in": "path",
          "required": true
        }
      ]
    },
    "/v1/fleet/dispatch/routes/{route_id}/history": {
      "get": {
        "description": "Fetch the history of a dispatch route.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Fleet",
          "Routes"
        ],
        "summary": "/fleet/dispatch/routes/{route_id}/history",
        "operationId": "getDispatchRouteHistory",
        "parameters": [
          {
            "$ref": "#/parameters/routeHistoryStartTimeParam"
          },
          {
            "$ref": "#/parameters/routeHistoryEndTimeParam"
          },
          {
            "type": "integer",
            "format": "int64",
            "description": "ID of the route with history. Must contain only digits 0-9.",
            "name": "route_id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "The historical route state changes between start_time and end_time.",
            "schema": {
              "$ref": "#/definitions/DispatchRouteHistory"
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/v1/fleet/drivers": {
      "get": {
        "description": "Get all *active* drivers. When drivers leave an organization, you can deactivate them. Use [DELETE /v1/fleet/drivers/{id}](#operation/deactivateDriver) to deactivate drivers and [GET /v1/fleet/drivers/inactive](#operation/getAllDeactivatedDrivers) to get inactive drivers. Inactive driver records will still be part of reports such as Hours of Service.",
        "tags": [
          "Fleet"
        ],
        "summary": "/fleet/drivers",
        "operationId": "getFleetDrivers",
        "responses": {
          "200": {
            "description": "All active drivers.",
            "schema": {
              "$ref": "#/definitions/DriversResponse"
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/v1/fleet/drivers/create": {
      "post": {
        "description": "Create a new driver.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Fleet",
          "Drivers"
        ],
        "summary": "/fleet/drivers/create",
        "operationId": "createDriver",
        "parameters": [
          {
            "$ref": "#/parameters/createDriverParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the successfully created the driver.",
            "schema": {
              "$ref": "#/definitions/Driver"
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/v1/fleet/drivers/document_types": {
      "get": {
        "description": "Fetch all of the document types.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Fleet"
        ],
        "summary": "/fleet/drivers/document_types",
        "operationId": "getDriverDocumentTypesByOrgId",
        "responses": {
          "200": {
            "description": "Returns all of the document types.",
            "schema": {
              "$ref": "#/definitions/DocumentTypes"
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/v1/fleet/drivers/documents": {
      "get": {
        "description": "Fetch all of the documents.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Fleet"
        ],
        "summary": "/fleet/drivers/documents",
        "operationId": "getDriverDocumentsByOrgId",
        "parameters": [
          {
            "$ref": "#/parameters/documentsEndMsParam"
          },
          {
            "$ref": "#/parameters/documentsDurationMsParam"
          },
          {
            "$ref": "#/parameters/documentQueryByParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns all of the documents.",
            "schema": {
              "$ref": "#/definitions/Documents"
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/v1/fleet/drivers/inactive": {
      "get": {
        "description": "Get all *inactive* drivers. When drivers leave an organization, you can deactivate them. You can use [DELETE /v1/fleet/drivers/{id}](#operation/deactivateDriver) to deactivate drivers. Inactive driver records will still be part of reports such as Hours of Service.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Fleet",
          "Drivers"
        ],
        "summary": "/fleet/drivers/inactive",
        "operationId": "getAllDeactivatedDrivers",
        "responses": {
          "200": {
            "description": "All inactive drivers.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Driver"
              }
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/v1/fleet/drivers/inactive/{driver_id_or_external_id}": {
      "get": {
        "description": "Get an *inactive* driver. When drivers leave an organization, you can deactivate them. You can use [DELETE /v1/fleet/drivers/{id}](#operation/deactivateDriver) to deactivate drivers. You can use [PUT /v1/fleet/drivers/{id}](#operation/reactivateDriverById) to reactivate drivers. Inactive driver records will still be part of reports such as Hours of Service.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Fleet",
          "Drivers"
        ],
        "summary": "/fleet/drivers/inactive/{driver_id or external_id}",
        "operationId": "getDeactivatedDriverById",
        "responses": {
          "200": {
            "description": "The inactive driver.",
            "schema": {
              "$ref": "#/definitions/Driver"
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "description": "Reactivate a driver.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Fleet",
          "Drivers"
        ],
        "summary": "/fleet/drivers/inactive/{driver_id or external_id}",
        "operationId": "reactivateDriverById",
        "parameters": [
          {
            "$ref": "#/parameters/reactivateDriverParam"
          }
        ],
        "responses": {
          "200": {
            "description": "The reactivated driver, which is now available at [GET /v1/fleet/drivers/{id}](#operation/getDriverById).",
            "schema": {
              "$ref": "#/definitions/CurrentDriver"
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/parameters/driverIdOrExternalIdParam"
        }
      ]
    },
    "/v1/fleet/drivers/summary": {
      "post": {
        "description": "Get the distance and time each driver in an organization has driven in a given time period.",
        "tags": [
          "Fleet"
        ],
        "summary": "/fleet/drivers/summary",
        "operationId": "getFleetDriversSummary",
        "parameters": [
          {
            "type": "boolean",
            "description": "Snap query result to HOS day boundaries.",
            "name": "snap_to_day_bounds",
            "in": "query"
          },
          {
            "name": "driversSummaryParam",
            "in": "body",
            "schema": {
              "type": "object",
              "required": [
                "orgId",
                "startMs",
                "endMs"
              ],
              "properties": {
                "endMs": {
                  "description": "End time (ms) of queried time period. Must be greater than startMs.",
                  "type": "integer",
                  "format": "int64",
                  "example": 1462881998034
                },
                "orgId": {
                  "description": "Organization ID that the drivers belong to",
                  "type": "integer",
                  "format": "int64",
                  "example": 555
                },
                "startMs": {
                  "description": "Start time (ms) of queried time period.",
                  "type": "integer",
                  "format": "int64",
                  "example": 1462878398034
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Distance traveled and time active for each driver in the organization over the specified time period.",
            "schema": {
              "$ref": "#/definitions/DriversSummaryResponse"
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/v1/fleet/drivers/{driverId}/safety/score": {
      "get": {
        "description": "Fetch the safety score for the driver.",
        "tags": [
          "Fleet",
          "Safety"
        ],
        "summary": "/fleet/drivers/{driverId}/safety/score",
        "operationId": "getDriverSafetyScore",
        "parameters": [
          {
            "$ref": "#/parameters/safetyScoreStartMsParam"
          },
          {
            "$ref": "#/parameters/safetyScoreEndMsParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Safety score details.",
            "schema": {
              "$ref": "#/definitions/DriverSafetyScoreResponse"
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "parameters": [
        {
          "type": "integer",
          "format": "int64",
          "description": "ID of the driver. Must contain only digits 0-9.",
          "name": "driverId",
          "in": "path",
          "required": true
        }
      ]
    },
    "/v1/fleet/drivers/{driver_id_or_external_id}": {
      "get": {
        "description": "Get an *active* driver. When drivers leave an organization, you can deactivate them. Use [GET /v1/fleet/drivers/inactive/{id}](#operation/getDeactivatedDriverById) to get an inactive driver, and use [DELETE /v1/fleet/drivers/{id}](#operation/deactivateDriver) to deactivate drivers.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Fleet",
          "Drivers"
        ],
        "summary": "/fleet/drivers/{driver_id or external_id}",
        "operationId": "getDriverById",
        "responses": {
          "200": {
            "description": "The driver with the given ID.",
            "schema": {
              "$ref": "#/definitions/CurrentDriver"
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "description": "Deactivate a driver. You can use [PUT /v1/fleet/drivers/{id}](#operation/reactivateDriverById) to reactivate a driver.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Fleet",
          "Drivers"
        ],
        "summary": "/fleet/drivers/{driver_id or external_id}",
        "operationId": "deactivateDriver",
        "responses": {
          "200": {
            "description": "Successfully deactivated the driver, which is now referenced by [GET /v1/fleet/drivers/inactive/{id}](#operation/getDeactivatedDriverById)."
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "patch": {
        "description": "Update a driver. You can update both active and inactive drivers. *Active* drivers are drivers that are currently part of your fleet. *Inactive* drivers are drivers that are not currently part of your fleet. Inactive driver historical data will still be available via different reports such as Hours of Service. Use [DELETE /v1/fleet/drivers/{id}](#operation/deactivateDriver) to deactivate drivers, and [PUT /v1/fleet/drivers/{id}](#operation/reactivateDriverById) to reactivate drivers.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Fleet",
          "Drivers"
        ],
        "summary": "/fleet/drivers/{driver_id or external_id}",
        "operationId": "updateDriverById",
        "parameters": [
          {
            "$ref": "#/parameters/updateDriverParam"
          }
        ],
        "responses": {
          "200": {
            "description": "The updated driver.",
            "schema": {
              "$ref": "#/definitions/CurrentDriver"
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/parameters/driverIdOrExternalIdParam"
        }
      ]
    },
    "/v1/fleet/drivers/{driver_id}/dispatch/routes": {
      "get": {
        "description": "Fetch all of the dispatch routes for a given driver.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Fleet",
          "Routes"
        ],
        "summary": "/fleet/drivers/{driver_id}/dispatch/routes",
        "operationId": "getDispatchRoutesByDriverId",
        "parameters": [
          {
            "$ref": "#/parameters/routeEndTimeParam"
          },
          {
            "$ref": "#/parameters/routeDurationParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the dispatch routes for the given driver_id.",
            "schema": {
              "$ref": "#/definitions/DispatchRoutes"
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "post": {
        "description": "Create a new dispatch route for the driver with driver_id.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Fleet",
          "Routes"
        ],
        "summary": "/fleet/drivers/{driver_id}/dispatch/routes",
        "operationId": "createDriverDispatchRoute",
        "parameters": [
          {
            "$ref": "#/parameters/routeCreateParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Created route object including the new route ID.",
            "schema": {
              "$ref": "#/definitions/DispatchRoute"
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "parameters": [
        {
          "type": "integer",
          "format": "int64",
          "description": "ID of the driver with the associated routes. Must contain only digits 0-9.",
          "name": "driver_id",
          "in": "path",
          "required": true
        }
      ]
    },
    "/v1/fleet/drivers/{driver_id}/documents": {
      "post": {
        "description": "Create a driver document for the given driver.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Fleet"
        ],
        "summary": "/fleet/drivers/{driver_id}/documents",
        "operationId": "createDriverDocument",
        "parameters": [
          {
            "$ref": "#/parameters/documentCreateParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the created document.",
            "schema": {
              "$ref": "#/definitions/Document"
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "parameters": [
        {
          "type": "integer",
          "format": "int64",
          "description": "ID of the driver for whom the document is created. Must contain only digits 0-9.",
          "name": "driver_id",
          "in": "path",
          "required": true
        }
      ]
    },
    "/v1/fleet/drivers/{driver_id}/documents/{document_id}": {
      "get": {
        "description": "Fetches a single document submission by driver.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Fleet"
        ],
        "summary": "/fleet/drivers/{driver_id}/documents/{document_id}",
        "operationId": "getDriverDocumentByIdAndDriverId",
        "responses": {
          "200": {
            "description": "Returns the specified document.",
            "schema": {
              "$ref": "#/definitions/Document"
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "parameters": [
        {
          "type": "integer",
          "format": "int64",
          "description": "ID of the driver who submitted the document. Must contain only digits 0-9.",
          "name": "driver_id",
          "in": "path",
          "required": true
        },
        {
          "type": "string",
          "description": "ID of document.",
          "name": "document_id",
          "in": "path",
          "required": true
        }
      ]
    },
    "/v1/fleet/drivers/{driver_id}/hos_daily_logs": {
      "post": {
        "description": "Get summarized daily Hours of Service charts for a specified driver.\n\nThe response will contain a list of `days`, where each entry in the list is the driver's summarized hours of service for that entire day.\n\nThe time range for a \"day\" is defined by the `driver`'s `eldDayStartHour`. By default, this is `0`, which indicates the `driver`'s \"day\" is from midnight to midnight in the `driver`'s respective `timezone`. This value is configurable per driver.\n\nThe `startMs` and `endMs` parameters indicate start and end for the date range you'd like to query. These parameters are inclusive. This means that the response will include the \"day\" that contains `startMs` and the \"day\" that contains `endMs`. For example:\n\nLet's say a `driver`'s `eldDayStartHour` is `0` and their timezone is `America/Chicago`.\n\nIf `startMs` was `1576080000000` (December 11, 2019 10:00:00 AM America/Chicago) and an `endMs` was `1576166400000` (December 12, 2019 10:00:00 AM America/Los_Angeles), then the response will contain a two `day` entries: [December 11, 2019 12:00:00 AM America/Chicago to December 12, 2019 12:00:00 AM America/Chicago], and [December 12, 2019 12:00:00 AM America/Chicago to December 13, 2019 12:00:00 AM America/Chicago].",
        "tags": [
          "Fleet"
        ],
        "summary": "/fleet/drivers/{driver_id}/hos_daily_logs",
        "operationId": "getFleetDriversHosDailyLogs",
        "parameters": [
          {
            "type": "integer",
            "format": "int64",
            "description": "ID of the driver with HOS logs.",
            "name": "driver_id",
            "in": "path",
            "required": true
          },
          {
            "name": "hosLogsParam",
            "in": "body",
            "schema": {
              "type": "object",
              "required": [
                "startMs",
                "endMs"
              ],
              "properties": {
                "endMs": {
                  "description": "End of the time range, specified in milliseconds UNIX time.",
                  "type": "integer",
                  "format": "int64",
                  "example": 1462881998034
                },
                "startMs": {
                  "description": "Beginning of the time range, specified in milliseconds UNIX time.",
                  "type": "integer",
                  "format": "int64",
                  "example": 1462878398034
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Distance traveled and time active for each driver in the organization over the specified time period.",
            "schema": {
              "$ref": "#/definitions/DriverDailyLogResponse"
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/v1/fleet/hos_authentication_logs": {
      "get": {
        "description": "Get the HOS (hours of service) signin and signout logs for the specified driver. The response includes 4 fields that are now deprecated.",
        "tags": [
          "Fleet"
        ],
        "summary": "/fleet/hos_authentication_logs",
        "operationId": "getFleetHosAuthenticationLogs",
        "parameters": [
          {
            "type": "integer",
            "format": "int64",
            "description": "Driver ID to query.",
            "name": "driverId",
            "in": "query",
            "required": true
          },
          {
            "type": "integer",
            "format": "int64",
            "description": "Beginning of the time range, specified in milliseconds UNIX time.",
            "name": "startMs",
            "in": "query",
            "required": true
          },
          {
            "type": "integer",
            "format": "int64",
            "description": "End of the time range, specified in milliseconds UNIX time.",
            "name": "endMs",
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "HOS authentication logs for the specified driver.",
            "schema": {
              "$ref": "#/definitions/HosAuthenticationLogsResponse"
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/v1/fleet/hos_logs": {
      "post": {
        "description": "Get the HOS (hours of service) logs for the specified driver. This method returns all the HOS statuses that the driver was in during this time period.",
        "tags": [
          "Fleet"
        ],
        "summary": "/fleet/hos_logs",
        "operationId": "getFleetHosLogs",
        "parameters": [
          {
            "name": "hosLogsParam",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "driverId",
                "startMs",
                "endMs"
              ],
              "properties": {
                "driverId": {
                  "description": "Driver ID to query.",
                  "type": "integer",
                  "format": "int64",
                  "example": 444
                },
                "endMs": {
                  "description": "End of the time range, specified in milliseconds UNIX time.",
                  "type": "integer",
                  "example": 1462881998034
                },
                "startMs": {
                  "description": "Beginning of the time range, specified in milliseconds UNIX time.",
                  "type": "integer",
                  "example": 1462878398034
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "HOS logs for the specified driver.",
            "schema": {
              "$ref": "#/definitions/HosLogsResponse"
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/v1/fleet/hos_logs_summary": {
      "get": {
        "description": "Get the current HOS status for all drivers. Note that this includes inactive as well as active drivers. You may need to upgrade your API token to version 2019-07-31 or later to leverage response pagination. [See here](https://kb.samsara.com/hc/en-us/articles/360026132972-Upgrading-API-Tokens)",
        "tags": [
          "Fleet"
        ],
        "summary": "/fleet/hos_logs_summary",
        "operationId": "getFleetHosLogsSummary",
        "parameters": [
          {
            "type": "string",
            "description": "Pagination parameter indicating the cursor position to continue returning results after. Used in conjunction with the 'limit' parameter.",
            "name": "after",
            "in": "query"
          },
          {
            "type": "number",
            "format": "int64",
            "description": "Pagination parameter indicating the number of results to return in this request. Used in conjunction with 'after'.",
            "name": "limit",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "HOS logs for the specified driver.",
            "schema": {
              "$ref": "#/definitions/HosLogsSummaryResponse"
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/v1/fleet/list": {
      "get": {
        "description": "Get list of the vehicles. This method returns a list of the vehicles in the Samsara Cloud and information about them.",
        "tags": [
          "Fleet"
        ],
        "summary": "/fleet/list",
        "operationId": "listFleet",
        "parameters": [
          {
            "$ref": "#/parameters/paginationStartingAfterParam"
          },
          {
            "$ref": "#/parameters/paginationEndingBeforeParam"
          },
          {
            "$ref": "#/parameters/paginationLimitParam"
          }
        ],
        "responses": {
          "200": {
            "description": "List of vehicles and information about each.",
            "schema": {
              "type": "object",
              "properties": {
                "groupId": {
                  "description": "Deprecated.",
                  "type": "integer",
                  "format": "int64",
                  "example": 101
                },
                "pagination": {
                  "$ref": "#/definitions/Pagination"
                },
                "vehicles": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/Vehicle"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/v1/fleet/locations": {
      "get": {
        "description": "Get current location of vehicles.",
        "tags": [
          "Fleet"
        ],
        "summary": "/fleet/locations",
        "operationId": "getFleetLocations",
        "parameters": [
          {
            "type": "string",
            "description": "Pagination parameter indicating the cursor position to continue returning results after. Used in conjunction with the 'limit' parameter.",
            "name": "after",
            "in": "query"
          },
          {
            "maximum": 512,
            "minimum": 1,
            "type": "number",
            "format": "int64",
            "default": 512,
            "description": "Pagination parameter indicating the number of results to return in this request. Used in conjunction with 'after'.",
            "name": "limit",
            "in": "query"
          },
          {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "A comma-separated list of vehicle IDs. Example: `vehicleIds=1000,1001`",
            "name": "vehicleIds",
            "in": "query"
          },
          {
            "$ref": "#/parameters/tagIdsPathParam"
          }
        ],
        "responses": {
          "200": {
            "description": "List of vehicle objects containing their location and the time at which that location was logged.",
            "schema": {
              "type": "object",
              "properties": {
                "pagination": {
                  "type": "object",
                  "required": [
                    "hasNextPage",
                    "endCursor"
                  ],
                  "properties": {
                    "endCursor": {
                      "description": "Cursor identifier representing the last element in the response. This value should be used in conjunction with a subsequent request's 'after' query parameter. This may be an empty string if there are no more pages left to view.",
                      "type": "string",
                      "example": "MTA1MDc5MB=="
                    },
                    "hasNextPage": {
                      "description": "True if there are more pages of results after this response.",
                      "type": "boolean"
                    }
                  }
                },
                "vehicles": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/VehicleLocation"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/v1/fleet/maintenance/dvirs": {
      "get": {
        "description": "Get DVIRs for the org within provided time constraints",
        "tags": [
          "Fleet"
        ],
        "summary": "/fleet/maintenance/dvirs",
        "operationId": "getDvirs",
        "parameters": [
          {
            "type": "integer",
            "description": "Time in millis until the last dvir log.",
            "name": "end_ms",
            "in": "query",
            "required": true
          },
          {
            "maximum": 7776000000,
            "type": "integer",
            "description": "Time in millis which corresponds to the duration before the end_ms. Must be less than or equal to 90 days.",
            "name": "duration_ms",
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "DVIRs for the specified duration.",
            "schema": {
              "$ref": "#/definitions/DvirListResponse"
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "post": {
        "description": "Create a new dvir, marking a vehicle or trailer safe or unsafe.",
        "tags": [
          "Fleet"
        ],
        "summary": "/fleet/maintenance/dvirs",
        "operationId": "createDvir",
        "parameters": [
          {
            "$ref": "#/parameters/createDvirParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Newly created DVIR.",
            "schema": {
              "$ref": "#/definitions/DvirBase"
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/v1/fleet/maintenance/list": {
      "get": {
        "description": "Get list of the vehicles with any engine faults or check light data.",
        "tags": [
          "Fleet"
        ],
        "summary": "/fleet/maintenance/list",
        "operationId": "getFleetMaintenanceList",
        "responses": {
          "200": {
            "description": "List of vehicles and maintenance information about each.",
            "schema": {
              "type": "object",
              "properties": {
                "vehicles": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/VehicleMaintenance"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/v1/fleet/messages": {
      "get": {
        "description": "Get all messages.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Messages"
        ],
        "summary": "/fleet/messages",
        "operationId": "getMessages",
        "parameters": [
          {
            "$ref": "#/parameters/getMessagesEndMsParam"
          },
          {
            "$ref": "#/parameters/getMessagesDurationMsParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the fetched messages from most recently sent to least recently sent.",
            "schema": {
              "description": "A list of messages.",
              "type": "object",
              "properties": {
                "data": {
                  "$ref": "#/definitions/MessagesResponse"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "post": {
        "description": "Send a message to a list of driver ids.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Messages"
        ],
        "summary": "/fleet/messages",
        "operationId": "createMessages",
        "parameters": [
          {
            "$ref": "#/parameters/createMessagesParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the created messages.",
            "schema": {
              "description": "A list of created messages.",
              "type": "object",
              "properties": {
                "data": {
                  "$ref": "#/definitions/Messages"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/v1/fleet/set_data": {
      "post": {
        "description": "This API allows you to update metadata for a single vehicle.",
        "tags": [
          "Fleet"
        ],
        "summary": "/fleet/set_data",
        "operationId": "updateVehicles",
        "parameters": [
          {
            "name": "vehicleUpdateParam",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "vehicles"
              ],
              "properties": {
                "vehicles": {
                  "type": "array",
                  "items": {
                    "description": "A vehicle object.",
                    "type": "object",
                    "required": [
                      "id"
                    ],
                    "properties": {
                      "id": {
                        "$ref": "#/definitions/Vehicle/properties/id"
                      },
                      "name": {
                        "$ref": "#/definitions/Vehicle/properties/name"
                      },
                      "note": {
                        "$ref": "#/definitions/Vehicle/properties/note"
                      }
                    }
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Vehicles were successfully updated. No response body is returned."
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/v1/fleet/trailers/assignments": {
      "get": {
        "description": "Fetch trailer assignment data for all trailers in your organization.",
        "tags": [
          "Fleet"
        ],
        "summary": "/fleet/trailers/assignments",
        "operationId": "getAllTrailerAssignments",
        "parameters": [
          {
            "type": "integer",
            "format": "int64",
            "description": "Timestamp in Unix epoch miliseconds representing the start of the period to fetch. Omitting both startMs and endMs only returns current assignments.",
            "name": "startMs",
            "in": "query"
          },
          {
            "type": "integer",
            "format": "int64",
            "description": "Timestamp in Unix epoch miliseconds representing the end of the period to fetch. Omitting endMs sets endMs as the current time",
            "name": "endMs",
            "in": "query"
          },
          {
            "$ref": "#/parameters/paginationLimitParam"
          },
          {
            "$ref": "#/parameters/paginationStartingAfterParam"
          },
          {
            "$ref": "#/parameters/paginationEndingBeforeParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns trailer assignment data for all trailers in your organization",
            "schema": {
              "type": "object",
              "properties": {
                "pagination": {
                  "$ref": "#/definitions/Pagination"
                },
                "trailers": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/TrailerAssignmentsResponse"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/v1/fleet/trailers/{trailerId}/assignments": {
      "get": {
        "description": "Fetch trailer assignment data for a single trailer.",
        "tags": [
          "Fleet"
        ],
        "summary": "/fleet/trailers/{trailerId}/assignments",
        "operationId": "getFleetTrailerAssignments",
        "parameters": [
          {
            "type": "integer",
            "format": "int64",
            "description": "ID of trailer. Must contain only digits 0-9.",
            "name": "trailerId",
            "in": "path",
            "required": true
          },
          {
            "type": "integer",
            "format": "int64",
            "description": "Timestamp in Unix epoch milliseconds representing the start of the period to fetch. Omitting both startMs and endMs only returns current assignments.",
            "name": "startMs",
            "in": "query"
          },
          {
            "type": "integer",
            "format": "int64",
            "description": "Timestamp in Unix epoch milliseconds representing the end of the period to fetch. Omitting endMs sets endMs as the current time",
            "name": "endMs",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns trailer assignment data for a single trailer",
            "schema": {
              "$ref": "#/definitions/TrailerAssignmentsResponse"
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/v1/fleet/trips": {
      "get": {
        "description": "Get historical trips data for specified vehicle. This method returns a set of historical trips data for the specified vehicle in the specified time range.",
        "tags": [
          "Fleet"
        ],
        "summary": "/fleet/trips",
        "operationId": "getFleetTrips",
        "parameters": [
          {
            "type": "integer",
            "format": "int64",
            "description": "Vehicle ID to query.",
            "name": "vehicleId",
            "in": "query",
            "required": true
          },
          {
            "type": "integer",
            "description": "Beginning of the time range, specified in milliseconds UNIX time. Limited to a 90 day window with respect to startMs and endMs",
            "name": "startMs",
            "in": "query",
            "required": true
          },
          {
            "type": "integer",
            "description": "End of the time range, specified in milliseconds UNIX time.",
            "name": "endMs",
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "List of trips taken by the requested vehicle within the specified timeframe. Ongoing trips will be returned with 9223372036854775807 as their endMs.",
            "schema": {
              "$ref": "#/definitions/TripResponse"
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/v1/fleet/vehicles/locations": {
      "get": {
        "description": "Fetch locations for all vehicles between a start/end time. The maximum query duration is 30 minutes (1800000 ms).",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Fleet"
        ],
        "summary": "/fleet/vehicles/locations",
        "operationId": "getVehiclesLocations",
        "responses": {
          "200": {
            "description": "Returns locations for all vehicles between a start/end time, with a maximum query duration of 30 minutes (1800000 ms).",
            "schema": {
              "$ref": "#/definitions/FleetVehiclesLocations"
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "parameters": [
        {
          "type": "integer",
          "description": "Time in Unix epoch milliseconds for the start of the query (cannot exceed 30 minutes)",
          "name": "startMs",
          "in": "query",
          "required": true
        },
        {
          "type": "integer",
          "description": "Time in Unix epoch milliseconds for the end of the query (cannot exceed 30 minutes)",
          "name": "endMs",
          "in": "query",
          "required": true
        }
      ]
    },
    "/v1/fleet/vehicles/stats": {
      "get": {
        "description": "Fetch engine state and aux input data for all vehicles between a start/end time. This endpoint provides the current state of all vehicles, not just the state changes, during the requested time period. Data returned may be affected by device connectivity and processing time.",
        "tags": [
          "Fleet"
        ],
        "summary": "/fleet/vehicles/stats",
        "operationId": "getVehicleStats",
        "parameters": [
          {
            "type": "integer",
            "description": "Time in Unix epoch milliseconds for the start of the query.",
            "name": "startMs",
            "in": "query",
            "required": true
          },
          {
            "type": "integer",
            "description": "Time in Unix epoch milliseconds for the end of the query.",
            "name": "endMs",
            "in": "query",
            "required": true
          },
          {
            "enum": [
              "engineState",
              "auxInput1",
              "auxInput2"
            ],
            "type": "string",
            "description": "Comma-separated list of stat types. Options are engineState, auxInput1, and auxInput2. If this parameter is excluded, all 3 stat types will be returned. Example: series=engineState,auxInput2",
            "name": "series",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Comma-separated list of tag ids. Example: tagIds=1,2,3",
            "name": "tagIds",
            "in": "query"
          },
          {
            "$ref": "#/parameters/paginationStartingAfterParam"
          },
          {
            "$ref": "#/parameters/paginationEndingBeforeParam"
          },
          {
            "$ref": "#/parameters/paginationLimitParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns engine state and/or aux input data for all vehicles between a start/end time.",
            "schema": {
              "type": "object",
              "required": [
                "vehicleStats"
              ],
              "properties": {
                "pagination": {
                  "$ref": "#/definitions/Pagination"
                },
                "vehicleStats": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "required": [
                      "vehicleId"
                    ],
                    "properties": {
                      "auxInput1": {
                        "$ref": "#/definitions/AuxInputSeries"
                      },
                      "auxInput2": {
                        "$ref": "#/definitions/AuxInputSeries"
                      },
                      "engineState": {
                        "type": "array",
                        "items": {
                          "$ref": "#/definitions/EngineState"
                        }
                      },
                      "externalIds": {
                        "$ref": "#/definitions/ExternalIDs"
                      },
                      "vehicleId": {
                        "description": "ID of the vehicle.",
                        "type": "integer",
                        "format": "int64",
                        "example": 112
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/v1/fleet/vehicles/{vehicleId}/safety/harsh_event": {
      "get": {
        "description": "Fetch harsh event details for a vehicle.",
        "tags": [
          "Fleet",
          "Safety"
        ],
        "summary": "/fleet/vehicles/{vehicleId}/safety/harsh_event",
        "operationId": "getVehicleHarshEvent",
        "parameters": [
          {
            "$ref": "#/parameters/harshEventMsParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Harsh event details.",
            "schema": {
              "$ref": "#/definitions/VehicleHarshEventResponse"
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "parameters": [
        {
          "type": "integer",
          "format": "int64",
          "description": "ID of the vehicle. Must contain only digits 0-9.",
          "name": "vehicleId",
          "in": "path",
          "required": true
        }
      ]
    },
    "/v1/fleet/vehicles/{vehicleId}/safety/score": {
      "get": {
        "description": "Fetch the safety score for the vehicle.",
        "tags": [
          "Fleet",
          "Safety"
        ],
        "summary": "/fleet/vehicles/{vehicleId}/safety/score",
        "operationId": "getVehicleSafetyScore",
        "parameters": [
          {
            "$ref": "#/parameters/safetyScoreStartMsParam"
          },
          {
            "$ref": "#/parameters/safetyScoreEndMsParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Safety score details.",
            "schema": {
              "$ref": "#/definitions/VehicleSafetyScoreResponse"
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "parameters": [
        {
          "type": "integer",
          "format": "int64",
          "description": "ID of the vehicle. Must contain only digits 0-9.",
          "name": "vehicleId",
          "in": "path",
          "required": true
        }
      ]
    },
    "/v1/fleet/vehicles/{vehicle_id_or_external_id}": {
      "get": {
        "description": "Gets a specific vehicle.",
        "consumes": [
          "application/json"
        ],
        "tags": [
          "Fleet"
        ],
        "summary": "/fleet/vehicles/{vehicle_id or external_id}",
        "operationId": "getFleetVehicle",
        "parameters": [
          {
            "$ref": "#/parameters/vehicleIdOrExternalIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "The specified vehicle.",
            "schema": {
              "$ref": "#/definitions/FleetVehicleResponse"
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "patch": {
        "description": "Updates the specified vehicle using JSON merge patch format. See IETF RFC 7396: https://tools.ietf.org/html/rfc7396.",
        "consumes": [
          "application/json",
          "application/merge-patch+json"
        ],
        "tags": [
          "Fleet"
        ],
        "summary": "/fleet/vehicles/{vehicle_id or external_id}",
        "operationId": "patchFleetVehicle",
        "parameters": [
          {
            "$ref": "#/parameters/vehicleIdOrExternalIdParam"
          },
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "externalIds": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  },
                  "example": {
                    "maintenanceId": "ABFS18600"
                  }
                },
                "harsh_accel_setting": {
                  "description": "Harsh Event Detection Setting\n* 0: Passenger\n* 1: Light Truck\n* 2: Heavy\n* 3: Off\n* 4: Automatic",
                  "type": "integer",
                  "format": "string",
                  "enum": [
                    "Passenger",
                    "Light Truck",
                    "Heavy",
                    "Off",
                    "Auto"
                  ]
                },
                "name": {
                  "description": "Name",
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The updated vehicle.",
            "schema": {
              "$ref": "#/definitions/FleetVehicleResponse"
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/v1/fleet/vehicles/{vehicle_id}/dispatch/routes": {
      "get": {
        "description": "Fetch all of the dispatch routes for a given vehicle.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Fleet",
          "Routes"
        ],
        "summary": "/fleet/vehicles/{vehicle_id}/dispatch/routes",
        "operationId": "getDispatchRoutesByVehicleId",
        "parameters": [
          {
            "$ref": "#/parameters/routeEndTimeParam"
          },
          {
            "$ref": "#/parameters/routeDurationParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns all of the dispatch routes for the given vehicle_id.",
            "schema": {
              "$ref": "#/definitions/DispatchRoutes"
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "post": {
        "description": "Create a new dispatch route for the vehicle with vehicle_id.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Fleet",
          "Routes"
        ],
        "summary": "/fleet/vehicles/{vehicle_id}/dispatch/routes",
        "operationId": "createVehicleDispatchRoute",
        "parameters": [
          {
            "$ref": "#/parameters/routeCreateParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Created route object including the new route ID.",
            "schema": {
              "$ref": "#/definitions/DispatchRoute"
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "parameters": [
        {
          "type": "integer",
          "format": "int64",
          "description": "ID of the vehicle with the associated routes. Must contain only digits 0-9.",
          "name": "vehicle_id",
          "in": "path",
          "required": true
        }
      ]
    },
    "/v1/fleet/vehicles/{vehicle_id}/locations": {
      "get": {
        "description": "Fetch locations for a given vehicle between a start/end time. The maximum query duration is one hour.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Fleet"
        ],
        "summary": "/fleet/vehicles/{vehicle_id}/locations",
        "operationId": "getVehicleLocations",
        "responses": {
          "200": {
            "description": "Returns locations for a given vehicle between a start/end time, with a maximum query duration of one hour.",
            "schema": {
              "$ref": "#/definitions/FleetVehicleLocations"
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "parameters": [
        {
          "type": "integer",
          "format": "int64",
          "description": "ID of the vehicle with the associated routes. Must contain only digits 0-9.",
          "name": "vehicle_id",
          "in": "path",
          "required": true
        },
        {
          "type": "integer",
          "format": "int64",
          "description": "Time in Unix epoch milliseconds for the start of the query (cannot exceed 1 hour)",
          "name": "startMs",
          "in": "query",
          "required": true
        },
        {
          "type": "integer",
          "format": "int64",
          "description": "Time in Unix epoch milliseconds for the end of the query (cannot exceed 1 hour)",
          "name": "endMs",
          "in": "query",
          "required": true
        }
      ]
    },
    "/v1/industrial/data": {
      "get": {
        "description": "Fetch all of the data inputs.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Industrial"
        ],
        "summary": "/industrial/data",
        "operationId": "getAllDataInputs",
        "parameters": [
          {
            "$ref": "#/parameters/dataInputStartTimeParam"
          },
          {
            "$ref": "#/parameters/dataInputEndTimeParam"
          }
        ],
        "responses": {
          "200": {
            "description": "List of data inputs.",
            "schema": {
              "type": "object",
              "properties": {
                "dataInputs": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/DataInputHistoryResponse"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/v1/industrial/data/{data_input_id}": {
      "get": {
        "description": "Fetch datapoints from a given data input.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Industrial"
        ],
        "summary": "/industrial/data/{data_input_id}",
        "operationId": "getDataInput",
        "parameters": [
          {
            "$ref": "#/parameters/dataInputIdParam"
          },
          {
            "$ref": "#/parameters/dataInputStartTimeParam"
          },
          {
            "$ref": "#/parameters/dataInputEndTimeParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns datapoints for the given data input",
            "schema": {
              "$ref": "#/definitions/DataInputHistoryResponse"
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/v1/industrial/vision/cameras": {
      "get": {
        "description": "Fetch all cameras.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Industrial"
        ],
        "summary": "/industrial/vision/cameras",
        "operationId": "getCameras",
        "responses": {
          "200": {
            "description": "Returns details about a camera.",
            "schema": {
              "$ref": "#/definitions/VisionCamerasResponse"
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/v1/industrial/vision/cameras/{camera_id}/programs": {
      "get": {
        "description": "Fetch configured programs on the camera.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Industrial"
        ],
        "summary": "/industrial/vision/cameras/{camera_id}/programs",
        "operationId": "getVisionProgramsByCamera",
        "parameters": [
          {
            "$ref": "#/parameters/visionCameraIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns programs configured on the camera.",
            "schema": {
              "$ref": "#/definitions/ProgramsForTheCameraResponse"
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/v1/industrial/vision/run/camera/{camera_id}": {
      "get": {
        "description": "Fetch the latest run for a camera or program by default. If startedAtMs is supplied, fetch the specific run that corresponds to that start time.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Industrial"
        ],
        "summary": "/industrial/vision/run/camera/{camera_id}",
        "operationId": "getVisionLatestRunCamera",
        "parameters": [
          {
            "$ref": "#/parameters/visionCameraIdParam"
          },
          {
            "$ref": "#/parameters/visionProgramIdParam"
          },
          {
            "$ref": "#/parameters/visionStartAtMsParam"
          },
          {
            "$ref": "#/parameters/visionIncludeParam"
          },
          {
            "$ref": "#/parameters/visionLimitParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the details for this run.",
            "schema": {
              "$ref": "#/definitions/VisionRunByCameraResponse"
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/v1/industrial/vision/runs": {
      "get": {
        "description": "Fetch runs.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Industrial"
        ],
        "summary": "/industrial/vision/runs",
        "operationId": "getVisionRuns",
        "parameters": [
          {
            "$ref": "#/parameters/visionDurationMsParam"
          },
          {
            "$ref": "#/parameters/visionEndMsParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Return runs.",
            "schema": {
              "$ref": "#/definitions/VisionRunsResponse"
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/v1/industrial/vision/runs/{camera_id}": {
      "get": {
        "description": "Fetch runs by camera.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Industrial"
        ],
        "summary": "/industrial/vision/runs/{camera_id}",
        "operationId": "getVisionRunsByCamera",
        "parameters": [
          {
            "$ref": "#/parameters/visionCameraIdParam"
          },
          {
            "$ref": "#/parameters/visionDurationMsParam"
          },
          {
            "$ref": "#/parameters/visionEndMsParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Return runs by cameraId.",
            "schema": {
              "$ref": "#/definitions/VisionRunsByCameraResponse"
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/v1/industrial/vision/runs/{camera_id}/{program_id}/{started_at_ms}": {
      "get": {
        "description": "Fetch runs by camera and program.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Industrial"
        ],
        "summary": "/industrial/vision/runs/{camera_id}/{program_id}/{started_at_ms}",
        "operationId": "getVisionRunsByCameraAndProgram",
        "parameters": [
          {
            "$ref": "#/parameters/visionCameraIdParam"
          },
          {
            "$ref": "#/parameters/visionProgramIdPathParam"
          },
          {
            "$ref": "#/parameters/visionStartAtMsPathParam"
          },
          {
            "$ref": "#/parameters/visionIncludeParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Return runs by camera ID and program ID.",
            "schema": {
              "$ref": "#/definitions/VisionRunsByCameraAndProgramResponse"
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/v1/machines/history": {
      "post": {
        "description": "Get historical data for machine objects. This method returns a set of historical data for all machines",
        "tags": [
          "Industrial"
        ],
        "summary": "/machines/history",
        "operationId": "getMachinesHistory",
        "parameters": [
          {
            "description": "Time range to query for events",
            "name": "historyParam",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "startMs",
                "endMs"
              ],
              "properties": {
                "endMs": {
                  "description": "End of the time range, specified in milliseconds UNIX time.",
                  "type": "integer",
                  "example": 1462881998034
                },
                "startMs": {
                  "description": "Beginning of the time range, specified in milliseconds UNIX time.",
                  "type": "integer",
                  "example": 1462878398034
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of machine results objects, each containing a time and a datapoint.",
            "schema": {
              "$ref": "#/definitions/MachineHistoryResponse"
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/v1/machines/list": {
      "post": {
        "description": "Get machine objects. This method returns a list of the machine objects in the Samsara Cloud and information about them.",
        "tags": [
          "Industrial"
        ],
        "summary": "/machines/list",
        "operationId": "getMachines",
        "responses": {
          "200": {
            "description": "List of machine objects.",
            "schema": {
              "type": "object",
              "properties": {
                "machines": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/Machine"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/v1/sensors/cargo": {
      "post": {
        "description": "Get cargo monitor status (empty / full) for requested sensors.",
        "tags": [
          "Sensors"
        ],
        "summary": "/sensors/cargo",
        "operationId": "getSensorsCargo",
        "parameters": [
          {
            "$ref": "#/parameters/sensorParam"
          }
        ],
        "responses": {
          "200": {
            "description": "List of sensor objects containing the current cargo status reported by each sensor.",
            "schema": {
              "$ref": "#/definitions/CargoResponse"
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/v1/sensors/door": {
      "post": {
        "description": "Get door monitor status (closed / open) for requested sensors.",
        "tags": [
          "Sensors"
        ],
        "summary": "/sensors/door",
        "operationId": "getSensorsDoor",
        "parameters": [
          {
            "$ref": "#/parameters/sensorParam"
          }
        ],
        "responses": {
          "200": {
            "description": "List of sensor objects containing the current door status reported by each sensor.",
            "schema": {
              "$ref": "#/definitions/DoorResponse"
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/v1/sensors/history": {
      "post": {
        "description": "Get historical data for specified sensors. This method returns a set of historical data for the specified sensors in the specified time range and at the specified time resolution.",
        "tags": [
          "Sensors"
        ],
        "summary": "/sensors/history",
        "operationId": "getSensorsHistory",
        "parameters": [
          {
            "description": "Time range and resolution, and list of sensor ID, field pairs to query.",
            "name": "historyParam",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "startMs",
                "endMs",
                "stepMs",
                "series"
              ],
              "properties": {
                "endMs": {
                  "description": "End of the time range, specified in milliseconds UNIX time.",
                  "type": "integer",
                  "example": 1462881998034
                },
                "fillMissing": {
                  "type": "string",
                  "default": "withNull",
                  "enum": [
                    "withNull",
                    "withPrevious"
                  ]
                },
                "series": {
                  "type": "array",
                  "items": {
                    "description": "Sensor ID and field to query.",
                    "type": "object",
                    "required": [
                      "widgetId",
                      "field"
                    ],
                    "properties": {
                      "field": {
                        "description": "Field to query.",
                        "type": "string",
                        "enum": [
                          "ambientTemperature",
[...]
