{
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "schemes": [
    "https"
  ],
  "swagger": "2.0",
  "info": {
    "description": "\u003cstyle type=\"text/css\"\u003e\nn {\n    padding: 1em;\n    width: 100%;\n    display: block;\n    margin: 28px 0;\n}\nn.info {\n    background-color: rgba(0, 51, 160, 0.1);\n}\nn.warning {\n    background-color: #fdf6e3;\n}\ni:before {\n    margin-right: 6px;\n}\nnh {\n    font-size: 1.5rem;\n    font-weight: 700;\n    line-height: 1.1;\n    display: block;\n}\nnb {\n    margin-top: 10px;\n    padding-left: 22px;\n    display: block;\n}\n\u003c/style\u003e\n\n# Overview\n\n\u003cn class=\"info\"\u003e\n\u003cnh\u003e\n\u003ci class=\"fa fa-info-circle\"\u003e\u003c/i\u003e\nSomething new!\n\u003c/nh\u003e\n\u003cnb\u003e\nWelcome Samsara's new and improved API. Check out our FAQ [here](https://developers.samsara.com/docs/introducing-our-next-generation-api) to see what's changed and learn how to get started.\u003cbr\u003e\n\u003cbr\u003e\nWant to access the legacy API docs? You can find them [here](https://www.samsara.com/api-legacy).\u003cbr\u003e\n\u003cbr\u003e\n*Note: Because this is a new set of APIs, we have not transitioned all endpoints over to this standard. Endpoints that still use the legacy standards are indicated in the reference documentation. If you can't find an API that you're looking for, we encourage you to look for it in our [legacy API docs](https://www.samsara.com/api-legacy) as we continue to transition all endpoints over. Check back here for updates!*\u003cbr\u003e\n\u003cbr\u003e\nSubmit your feedback [here](https://forms.gle/r4bs6HQshQAvBuwv6)!\n\u003c/nb\u003e\n\u003c/n\u003e\n\nSamsara provides API endpoints so that you can build powerful applications and custom solutions with sensor data. Samsara has endpoints available to track and analyze sensors, vehicles, and entire fleets.\n\nThe Samsara API is a [RESTful API](https://en.wikipedia.org/wiki/Representational_state_transfer). It uses standard [HTTP](https://en.wikipedia.org/wiki/Hypertext_Transfer_Protocol) authentication, verbs, and response codes, and it returns [JSON](http://www.json.org/) response bodies. If you're familiar with what you can build with a REST API, then this will be your go-to API reference.\n\nVisit [developers.samsara.com](https://developers.samsara.com) to find getting started guides and an API overview.\n\nIf you have any questions, please visit https://samsara.com/help.\n\n## Endpoints\n\nAll our APIs can be accessed through HTTP requests to URLs like:\n\n```\nhttps://api.samsara.com/\u003cendpoint\u003e\n```\n\nFor EU customers, this URL will be:\n\n```\nhttps://api.eu.samsara.com/\u003cendpoint\u003e\n```\n\n\u003cn class=\"warning\"\u003e\n\u003cnh\u003e\n\u003ci class=\"fa fa-exclamation-circle\"\u003e\u003c/i\u003e\nNote\n\u003c/nh\u003e\n\u003cnb\u003e\nLegacy endpoints will have the URL: `https://api.samsara.com/v1/\u003cendpoint\u003e` or `https://api.eu.samsara.com/v1/\u003cendpoint\u003e`\n\u003c/nb\u003e\n\u003c/n\u003e\n\n## Authentication\n\nTo authenticate your API request you will need to include your secret token. You can manage your API tokens in the [Dashboard](https://cloud.samsara.com). They are visible under `Settings-\u003eOrganization-\u003eAPI Tokens`.\n\nYour API tokens carry many privileges, so be sure to keep them secure. Do not share your secret API tokens in publicly accessible areas such as GitHub, client-side code, and so on.\n\nAuthentication to the API is performed via Bearer Token in the HTTP Authorization header. Provide your API token as the `access_token` value in an `Authorization: Bearer` header. You do not need to provide a password:\n\n```curl\nAuthorization: Bearer {access_token}\n```\n\nAll API requests must be made over [HTTPS](https://en.wikipedia.org/wiki/HTTPS). Calls made over plain HTTP or without authentication will fail.\n\n### OAuth2\nIf building an application for our marketplace, our API is accessible via. OAuth2 as well.\n\n| Type  | Value |\n| ------------- |:-------------:|\n| Security scheme      | OAuth2                                   |\n| OAuth2 Flow          | accessCode                               |\n| Authorization URL    | https://api.samsara.com/oauth2/authorize |\n| Token URL            | https://api.samsara.com/oauth2/token     |\n\n\n\n## Common Patterns\n\nYou can find more info about request methods, response codes, error codes, versioning, pagination, timestamps, and mini-objects [here](https://developers.samsara.com/docs/common-structures).\n",
    "title": "Samsara API",
    "version": "2020-06-15"
  },
  "host": "api.samsara.com",
  "paths": {
    "/addresses": {
      "get": {
        "description": "Returns a list of all addresses in an organization. \n\n **Submit Feedback**: Likes, dislikes, and API feature requests should be filed as feedback in our [API feedback form](https://forms.gle/r4bs6HQshQAvBuwv6). If you encountered an issue or noticed inaccuracies in the API documentation, please [submit a case](http://samsara.com/help) to our support team.",
        "tags": [
          "Addresses"
        ],
        "summary": "List all addresses",
        "operationId": "listAddresses",
        "parameters": [
          {
            "maximum": 512,
            "minimum": 1,
            "type": "integer",
            "format": "int64",
            "description": "The limit for how many objects will be in the response. Default and max for this value is 512 objects.",
            "name": "limit",
            "in": "query"
          },
          {
            "type": "string",
            "description": "If specified, this should be the endCursor value from the previous page of results. When present, this request will return the next page of results that occur immediately after the previous page of results.",
            "name": "after",
            "in": "query"
          },
          {
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "csv",
            "description": "A filter on the data based on this comma-separated list of parent tag IDs, for use by orgs with tag hierarchies. Specifying a parent tag will implicitly include all descendent tags of the parent tag. Example: `parentTagIds=345,678`",
            "name": "parentTagIds",
            "in": "query"
          },
          {
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "csv",
            "description": "A filter on the data based on this comma-separated list of tag IDs. Example: `tagIds=1234,5678`",
            "name": "tagIds",
            "in": "query"
          },
          {
            "type": "string",
            "description": "A filter on data to have a created at time after or equal to this specified time in RFC 3339 format. Millisecond precision and timezones are supported. (Examples: 2019-06-13T19:08:25Z, 2019-06-13T19:08:25.455Z, OR 2015-09-15T14:00:12-04:00).",
            "name": "createdAfterTime",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "List of all addresses in the organization",
            "schema": {
              "$ref": "#/definitions/ListAddressesResponse"
            },
            "examples": {
              "application/json": {
                "data": [
                  {
                    "addressTypes": [
                      "yard"
                    ],
                    "contacts": [
                      {
                        "firstName": "Jane",
                        "id": "22408",
                        "lastName": "Jones"
                      }
                    ],
                    "createdAtTime": "2019-05-18T20:27:35Z",
                    "externalIds": {
                      "maintenanceId": "250020",
                      "payrollId": "ABFS18600"
                    },
                    "formattedAddress": "350 Rhode Island St, San Francisco, CA",
                    "geofence": {
                      "circle": {
                        "latitude": 37.765363,
                        "longitude": -122.4029238,
                        "radiusMeters": 25
                      },
                      "polygon": {
                        "vertices": [
                          {
                            "latitude": 37.765363,
                            "longitude": -122.403098
                          },
                          {
                            "latitude": 38.765363,
                            "longitude": -122.403098
                          },
                          {
                            "latitude": 37.765363,
                            "longitude": -123.403098
                          }
                        ]
                      }
                    },
                    "id": "22408",
                    "latitude": 37.765363,
                    "longitude": -122.4029238,
                    "name": "Samsara HQ",
                    "notes": "Hours of operation: 8am - 6pm; Truck entrance on the Rhode Island street side.",
                    "tags": [
                      {
                        "id": "3914",
                        "name": "East Coast",
                        "parentTagId": "4815"
                      }
                    ]
                  }
                ],
                "pagination": {
                  "endCursor": "MjkY",
                  "hasNextPage": true
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "schema": {
              "$ref": "#/definitions/standardErrorResponse"
            }
          }
        }
      },
      "post": {
        "description": "Creates a new address in the organization. \n\n **Submit Feedback**: Likes, dislikes, and API feature requests should be filed as feedback in our [API feedback form](https://forms.gle/r4bs6HQshQAvBuwv6). If you encountered an issue or noticed inaccuracies in the API documentation, please [submit a case](http://samsara.com/help) to our support team.",
        "tags": [
          "Addresses"
        ],
        "summary": "Create an address",
        "operationId": "createAddress",
        "parameters": [
          {
            "description": "The address to create.",
            "name": "address",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateAddressRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Newly created address object with ID.",
            "schema": {
              "$ref": "#/definitions/AddressResponse"
            }
          },
          "default": {
            "description": "Error response",
            "schema": {
              "$ref": "#/definitions/standardErrorResponse"
            }
          }
        }
      }
    },
    "/addresses/{id}": {
      "get": {
        "description": "Returns a specific address. \n\n **Submit Feedback**: Likes, dislikes, and API feature requests should be filed as feedback in our [API feedback form](https://forms.gle/r4bs6HQshQAvBuwv6). If you encountered an issue or noticed inaccuracies in the API documentation, please [submit a case](http://samsara.com/help) to our support team.",
        "tags": [
          "Addresses"
        ],
        "summary": "Retrieve an address",
        "operationId": "getAddress",
        "responses": {
          "200": {
            "description": "An Address.",
            "schema": {
              "$ref": "#/definitions/AddressResponse"
            }
          },
          "default": {
            "description": "Error response",
            "schema": {
              "$ref": "#/definitions/standardErrorResponse"
            }
          }
        }
      },
      "delete": {
        "description": "Delete a specific address. \n\n **Submit Feedback**: Likes, dislikes, and API feature requests should be filed as feedback in our [API feedback form](https://forms.gle/r4bs6HQshQAvBuwv6). If you encountered an issue or noticed inaccuracies in the API documentation, please [submit a case](http://samsara.com/help) to our support team.",
        "tags": [
          "Addresses"
        ],
        "summary": "Delete an address",
        "operationId": "deleteAddress",
        "responses": {
          "204": {
            "description": "A successful DELETE response is a 204 with no content.",
            "schema": {
              "$ref": "#/definitions/standardDeleteResponse"
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/standardErrorResponse"
            }
          }
        }
      },
      "patch": {
        "description": "Update a specific address. \n\n **Submit Feedback**: Likes, dislikes, and API feature requests should be filed as feedback in our [API feedback form](https://forms.gle/r4bs6HQshQAvBuwv6). If you encountered an issue or noticed inaccuracies in the API documentation, please [submit a case](http://samsara.com/help) to our support team.",
        "tags": [
          "Addresses"
        ],
        "summary": "Update an address",
        "operationId": "updateAddress",
        "parameters": [
          {
            "description": "The address fields to update.",
            "name": "address",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateAddressRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updated address object with ID.",
            "schema": {
              "$ref": "#/definitions/AddressResponse"
            }
          },
          "default": {
            "description": "Error response",
            "schema": {
              "$ref": "#/definitions/standardErrorResponse"
            }
          }
        }
      },
      "parameters": [
        {
          "type": "string",
          "description": "ID of the Address. This can either be the Samsara-provided ID or an external ID. External IDs are customer-specified key-value pairs created in the POST or PATCH requests of this resource. To specify an external ID as part of a path parameter, use the following format: `key:value`. For example, `crmId:abc123`",
          "name": "id",
          "in": "path",
          "required": true
        }
      ]
    },
    "/beta/attributes": {
      "get": {
        "description": "Fetch all attributes in an organization associated with either drivers or vehicles. \n\n **Submit Feedback**: Likes, dislikes, and API feature requests should be filed as feedback in our [API feedback form](https://forms.gle/r4bs6HQshQAvBuwv6). If you encountered an issue or noticed inaccuracies in the API documentation, please [submit a case](http://samsara.com/help) to our support team.",
        "tags": [
          "Beta APIs"
        ],
        "summary": "[beta] List all attributes by entity type",
        "operationId": "getAttributesByEntityType",
        "parameters": [
          {
            "enum": [
              "driver",
              "vehicle"
            ],
            "type": "string",
            "description": "Denotes the type of entity, driver or vehicle.",
            "name": "entityType",
            "in": "query",
            "required": true
          },
          {
            "maximum": 512,
            "minimum": 1,
            "type": "integer",
            "format": "int64",
            "description": "The limit for how many objects will be in the response. Default and max for this value is 512 objects.",
            "name": "limit",
            "in": "query"
          },
          {
            "type": "string",
            "description": "If specified, this should be the endCursor value from the previous page of results. When present, this request will return the next page of results that occur immediately after the previous page of results.",
            "name": "after",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "All attributes in an organization for an entity type",
            "schema": {
              "$ref": "#/definitions/GetAttributesByEntityTypeResponse"
            }
          },
          "default": {
            "description": "Error response",
            "schema": {
              "$ref": "#/definitions/standardErrorResponse"
            }
          }
        }
      },
      "post": {
        "description": "Creates a new attribute in the organization. \n\n **Submit Feedback**: Likes, dislikes, and API feature requests should be filed as feedback in our [API feedback form](https://forms.gle/r4bs6HQshQAvBuwv6). If you encountered an issue or noticed inaccuracies in the API documentation, please [submit a case](http://samsara.com/help) to our support team.",
        "tags": [
          "Beta APIs"
        ],
        "summary": "[beta] Create an attribute",
        "operationId": "createAttribute",
        "parameters": [
          {
            "description": "The attribute to create.",
            "name": "attribute",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateAttributeRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Newly created attribute object with ID.",
            "schema": {
              "$ref": "#/definitions/AttributeExpandedResponse"
            }
          },
          "default": {
            "description": "Error response",
            "schema": {
              "$ref": "#/definitions/standardErrorResponse"
            }
          }
        }
      }
    },
    "/beta/attributes/{id}": {
      "get": {
        "description": "Fetch an attribute by id, including all of its applications. \n\n **Submit Feedback**: Likes, dislikes, and API feature requests should be filed as feedback in our [API feedback form](https://forms.gle/r4bs6HQshQAvBuwv6). If you encountered an issue or noticed inaccuracies in the API documentation, please [submit a case](http://samsara.com/help) to our support team.",
        "tags": [
          "Beta APIs"
        ],
        "summary": "[beta] Retrieve an attribute",
        "operationId": "getAttribute",
        "parameters": [
          {
            "enum": [
              "driver",
              "vehicle"
            ],
            "type": "string",
            "description": "Denotes the type of entity, driver or vehicle.",
            "name": "entityType",
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "The attribute corresponding to request id.",
            "schema": {
              "$ref": "#/definitions/AttributeExpandedResponse"
            }
          },
          "default": {
            "description": "Error response",
            "schema": {
              "$ref": "#/definitions/standardErrorResponse"
            }
          }
        }
      },
      "delete": {
        "description": "Delete an attribute by id, including all of its applications. \n\n **Submit Feedback**: Likes, dislikes, and API feature requests should be filed as feedback in our [API feedback form](https://forms.gle/r4bs6HQshQAvBuwv6). If you encountered an issue or noticed inaccuracies in the API documentation, please [submit a case](http://samsara.com/help) to our support team.",
        "tags": [
          "Beta APIs"
        ],
        "summary": "[beta] Deleting an attribute",
        "operationId": "deleteAttribute",
        "parameters": [
          {
            "enum": [
              "driver",
              "vehicle"
            ],
            "type": "string",
            "description": "Denotes the type of entity, driver or vehicle.",
            "name": "entityType",
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "A successful DELETE response is a 204 with no content.",
            "schema": {
              "$ref": "#/definitions/standardDeleteResponse"
            }
          },
          "default": {
            "description": "Error response",
            "schema": {
              "$ref": "#/definitions/standardErrorResponse"
            }
          }
        }
      },
      "patch": {
        "description": "Updates an attribute in the organization. \n\n **Submit Feedback**: Likes, dislikes, and API feature requests should be filed as feedback in our [API feedback form](https://forms.gle/r4bs6HQshQAvBuwv6). If you encountered an issue or noticed inaccuracies in the API documentation, please [submit a case](http://samsara.com/help) to our support team.",
        "tags": [
          "Beta APIs"
        ],
        "summary": "[beta] Update an attribute",
        "operationId": "updateAttribute",
        "parameters": [
          {
            "description": "The attribute to update.",
            "name": "attribute",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateAttributeRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Newly created attribute object with ID.",
            "schema": {
              "$ref": "#/definitions/AttributeExpandedResponse"
            }
          },
          "default": {
            "description": "Error response",
            "schema": {
              "$ref": "#/definitions/standardErrorResponse"
            }
          }
        }
      },
      "parameters": [
        {
          "type": "string",
          "description": "Samsara-provided UUID of the attribute.",
          "name": "id",
          "in": "path",
          "required": true
        }
      ]
    },
    "/beta/fleet/document-types": {
      "get": {
        "description": "Returns a list of the organization document types.\n \n\n **Submit Feedback**: Likes, dislikes, and API feature requests should be filed as feedback in our [API feedback form](https://forms.gle/r4bs6HQshQAvBuwv6). If you encountered an issue or noticed inaccuracies in the API documentation, please [submit a case](http://samsara.com/help) to our support team.",
        "schemes": [
          "https"
        ],
        "tags": [
          "Beta APIs"
        ],
        "summary": "[beta] Fetch document types",
        "operationId": "getDocumentTypes",
        "parameters": [
          {
            "type": "string",
            "description": " If specified, this should be the endCursor value from the previous page of results. When present, this request will return the next page of results that occur immediately after the previous page of results.",
            "name": "after",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": {
              "$ref": "#/definitions/DocumentTypesGetDocumentTypesResponseBody"
            },
            "examples": {
              "application/json": {
                "data": [
                  {
                    "conditionalFieldSections": [
                      {
                        "conditionalFieldFirstIndex": 1,
                        "conditionalFieldLastIndex": 2,
                        "triggeringFieldIndex": 0,
                        "triggeringFieldValue": "Yes"
                      }
                    ],
                    "fieldTypes": [
                      {
                        "fieldType": "multipleChoice",
                        "label": "Was there damage?",
                        "multipleChoiceFieldTypeMetaData": [
                          {
                            "label": "Yes"
                          },
                          {
                            "label": "No"
                          }
                        ],
                        "requiredField": true
                      },
                      {
                        "fieldType": "photo",
                        "label": "Damage Photos",
                        "requiredField": false
                      },
                      {
                        "fieldType": "number",
                        "label": "Number of vehicles impacted",
                        "numberFieldTypeMetaData": {
                          "numberOfDecimalPlaces": 2
                        },
                        "requiredField": false
                      },
                      {
                        "fieldType": "dateTime",
                        "label": "Date and time",
                        "requiredField": true
                      },
                      {
                        "fieldType": "signature",
                        "label": "Sign",
                        "requiredField": true,
                        "signatureFieldTypeMetaData": {
                          "legalText": "Legal Text"
                        }
                      }
                    ],
                    "id": "4aff772c-a7bb-45e6-8e41-6a53e34feb83",
                    "name": "Accident Report",
                    "orgId": 12345
                  }
                ],
                "pagination": {
                  "endCursor": "MjkY",
                  "hasNextPage": true
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized response.",
            "schema": {
              "$ref": "#/definitions/DocumentTypesGetDocumentTypesUnauthorizedErrorResponseBody"
            },
            "examples": {
              "application/json": {
                "message": "Invalid token.",
                "requestId": "8916e1c1"
              }
            }
          },
          "404": {
            "description": "Not Found response.",
            "schema": {
              "$ref": "#/definitions/DocumentTypesGetDocumentTypesNotFoundErrorResponseBody"
            },
            "examples": {
              "application/json": {
                "message": "Object not found.",
                "requestId": "8916e1c1"
              }
            }
          },
          "405": {
            "description": "Method Not Allowed response.",
            "schema": {
              "$ref": "#/definitions/DocumentTypesGetDocumentTypesMethodNotAllowedErrorResponseBody"
            },
            "examples": {
              "application/json": {
                "message": "DELETE not allowed on /endpoint.",
                "requestId": "8916e1c1"
              }
            }
          },
          "429": {
            "description": "Too Many Requests response.",
            "schema": {
              "$ref": "#/definitions/DocumentTypesGetDocumentTypesTooManyRequestsErrorResponseBody"
            },
            "examples": {
              "application/json": {
                "message": "Exceeded rate limit.",
                "requestId": "8916e1c1"
              }
            }
          },
          "500": {
            "description": "Internal Server Error response.",
            "schema": {
              "$ref": "#/definitions/DocumentTypesGetDocumentTypesInternalServerErrorResponseBody"
            },
            "examples": {
              "application/json": {
                "message": "Failed to execute GraphQL query.",
                "requestId": "8916e1c1"
              }
            }
          },
          "501": {
            "description": "Not Implemented response.",
            "schema": {
              "$ref": "#/definitions/DocumentTypesGetDocumentTypesNotImplementedErrorResponseBody"
            },
            "examples": {
              "application/json": {
                "message": "Not implemented.",
                "requestId": "8916e1c1"
              }
            }
          },
          "502": {
            "description": "Bad Gateway response.",
            "schema": {
              "$ref": "#/definitions/DocumentTypesGetDocumentTypesBadGatewayErrorResponseBody"
            },
            "examples": {
              "application/json": {
                "message": "rpc error: code = Unknown desc = connection refused",
                "requestId": "8916e1c1"
              }
            }
          },
          "503": {
            "description": "Service Unavailable response.",
            "schema": {
              "$ref": "#/definitions/DocumentTypesGetDocumentTypesServiceUnavailableErrorResponseBody"
            },
            "examples": {
              "application/json": {
                "message": "context deadline exceeded",
                "requestId": "8916e1c1"
              }
            }
          },
          "504": {
            "description": "Gateway Timeout response.",
            "schema": {
              "$ref": "#/definitions/DocumentTypesGetDocumentTypesGatewayTimeoutErrorResponseBody"
            },
            "examples": {
              "application/json": {
                "message": "context deadline exceeded",
                "requestId": "8916e1c1"
              }
            }
          },
          "default": {
            "description": "Bad Request response.",
            "schema": {
              "$ref": "#/definitions/DocumentTypesGetDocumentTypesBadRequestErrorResponseBody"
            },
            "examples": {
              "application/json": {
                "message": "Invalid value for parameter.",
                "requestId": "8916e1c1"
              }
            }
          }
        }
      }
    },
    "/beta/fleet/documents": {
      "get": {
        "description": "Get all documents for the given time range.\n \n\n **Submit Feedback**: Likes, dislikes, and API feature requests should be filed as feedback in our [API feedback form](https://forms.gle/r4bs6HQshQAvBuwv6). If you encountered an issue or noticed inaccuracies in the API documentation, please [submit a case](http://samsara.com/help) to our support team.",
        "schemes": [
          "https"
        ],
        "tags": [
          "Beta APIs"
        ],
        "summary": "[beta] Fetch all documents",
        "operationId": "getDocuments",
        "parameters": [
          {
            "type": "string",
            "description": " A start time in RFC 3339 format. Defaults to now if not provided. Millisecond precision and timezones are supported. (Examples: 2019-06-13T19:08:25Z, 2019-06-13T19:08:25.455Z, OR 2015-09-15T14:00:12-04:00).",
            "name": "startTime",
            "in": "query",
            "required": true
          },
          {
            "type": "string",
            "description": " An end time in RFC 3339 format. Defaults to now if not provided. Millisecond precision and timezones are supported. (Examples: 2019-06-13T19:08:25Z, 2019-06-13T19:08:25.455Z, OR 2015-09-15T14:00:12-04:00).",
            "name": "endTime",
            "in": "query",
            "required": true
          },
          {
            "type": "string",
            "description": " If specified, this should be the endCursor value from the previous page of results. When present, this request will return the next page of results that occur immediately after the previous page of results.",
            "name": "after",
            "in": "query"
          },
          {
            "type": "string",
            "description": "ID of the document template type.",
            "name": "documentTypeId",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": {
              "$ref": "#/definitions/DocumentsGetDocumentsResponseBody"
            },
            "examples": {
              "application/json": {
                "data": [
                  {
                    "conditionalFieldSections": [
                      {
                        "conditionalFieldFirstIndex": 6938962353426762000,
                        "conditionalFieldLastIndex": 4390182947667394600,
                        "triggeringFieldIndex": 1685137297280875000,
                        "triggeringFieldValue": "Accusamus asperiores corporis doloribus reprehenderit sit velit."
                      },
                      {
                        "conditionalFieldFirstIndex": 6938962353426762000,
                        "conditionalFieldLastIndex": 4390182947667394600,
                        "triggeringFieldIndex": 1685137297280875000,
                        "triggeringFieldValue": "Accusamus asperiores corporis doloribus reprehenderit sit velit."
                      },
                      {
                        "conditionalFieldFirstIndex": 6938962353426762000,
                        "conditionalFieldLastIndex": 4390182947667394600,
                        "triggeringFieldIndex": 1685137297280875000,
                        "triggeringFieldValue": "Accusamus asperiores corporis doloribus reprehenderit sit velit."
                      }
                    ],
                    "createdAtTime": "2005-07-09T02:19:49Z",
                    "documentType": {
                      "id": "9814a1fa-f0c6-408b-bf85-51dc3bc71ac7",
                      "name": "Fleet Truck List"
                    },
                    "driver": {
                      "externalIds": {
                        "maintenanceId": "250020",
                        "payrollId": "ABFS18600"
                      },
                      "id": "45646",
                      "name": "Driver Bob"
                    },
                    "fields": [
                      {
                        "label": "Load weight",
                        "type": "number",
                        "value": {
                          "barcodeValue": [
                            {
                              "barcodeType": "org.gs1.EAN-13",
                              "barcodeValue": "0853883003114"
                            },
                            {
                              "barcodeType": "org.gs1.EAN-13",
                              "barcodeValue": "0853883003114"
                            },
                            {
                              "barcodeType": "org.gs1.EAN-13",
                              "barcodeValue": "0853883003114"
                            },
                            {
                              "barcodeType": "org.gs1.EAN-13",
                              "barcodeValue": "0853883003114"
                            }
                          ],
                          "dateTimeValue": {
                            "dateTime": "1988-11-10T02:42:05Z"
                          },
                          "multipleChoiceValue": [
                            {
                              "selected": false,
                              "value": "Yes"
                            },
                            {
                              "selected": false,
                              "value": "Yes"
                            },
                            {
                              "selected": false,
                              "value": "Yes"
                            }
                          ],
                          "numberValue": 123.456,
                          "photoValue": [
                            {
                              "id": "f5271458-21f9-4a9f-a290-780c6d8840ff",
                              "url": "https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"
                            },
                            {
                              "id": "f5271458-21f9-4a9f-a290-780c6d8840ff",
                              "url": "https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"
                            },
                            {
                              "id": "f5271458-21f9-4a9f-a290-780c6d8840ff",
                              "url": "https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"
                            },
                            {
                              "id": "f5271458-21f9-4a9f-a290-780c6d8840ff",
                              "url": "https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"
                            }
                          ],
                          "scannedDocumentValue": [
                            {
                              "id": "f5271458-21f9-4a9f-a290-780c6d8840ff",
                              "url": "https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"
                            },
                            {
                              "id": "f5271458-21f9-4a9f-a290-780c6d8840ff",
                              "url": "https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"
                            },
                            {
                              "id": "f5271458-21f9-4a9f-a290-780c6d8840ff",
                              "url": "https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"
                            }
                          ],
                          "signatureValue": {
                            "id": "9814a1fa-f0c6-408b-bf85-51dc3bc71ac7",
                            "name": "John Smith",
                            "signedAtTime": "2015-05-23T14:04:02Z",
                            "url": "https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"
                          },
                          "stringValue": "Red Truck"
                        }
                      },
                      {
                        "label": "Load weight",
                        "type": "number",
                        "value": {
                          "barcodeValue": [
                            {
                              "barcodeType": "org.gs1.EAN-13",
                              "barcodeValue": "0853883003114"
                            },
                            {
                              "barcodeType": "org.gs1.EAN-13",
                              "barcodeValue": "0853883003114"
                            },
                            {
                              "barcodeType": "org.gs1.EAN-13",
                              "barcodeValue": "0853883003114"
                            },
                            {
                              "barcodeType": "org.gs1.EAN-13",
                              "barcodeValue": "0853883003114"
                            }
                          ],
                          "dateTimeValue": {
                            "dateTime": "1988-11-10T02:42:05Z"
                          },
                          "multipleChoiceValue": [
                            {
                              "selected": false,
                              "value": "Yes"
                            },
                            {
                              "selected": false,
                              "value": "Yes"
                            },
                            {
                              "selected": false,
                              "value": "Yes"
                            }
                          ],
                          "numberValue": 123.456,
                          "photoValue": [
                            {
                              "id": "f5271458-21f9-4a9f-a290-780c6d8840ff",
                              "url": "https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"
                            },
                            {
                              "id": "f5271458-21f9-4a9f-a290-780c6d8840ff",
                              "url": "https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"
                            },
                            {
                              "id": "f5271458-21f9-4a9f-a290-780c6d8840ff",
                              "url": "https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"
                            },
                            {
                              "id": "f5271458-21f9-4a9f-a290-780c6d8840ff",
                              "url": "https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"
                            }
                          ],
                          "scannedDocumentValue": [
                            {
                              "id": "f5271458-21f9-4a9f-a290-780c6d8840ff",
                              "url": "https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"
                            },
                            {
                              "id": "f5271458-21f9-4a9f-a290-780c6d8840ff",
                              "url": "https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"
                            },
                            {
                              "id": "f5271458-21f9-4a9f-a290-780c6d8840ff",
                              "url": "https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"
                            }
                          ],
                          "signatureValue": {
                            "id": "9814a1fa-f0c6-408b-bf85-51dc3bc71ac7",
                            "name": "John Smith",
                            "signedAtTime": "2015-05-23T14:04:02Z",
                            "url": "https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"
                          },
                          "stringValue": "Red Truck"
                        }
                      }
                    ],
                    "id": "9814a1fa-f0c6-408b-bf85-51dc3bc71ac7",
                    "name": "Dropoff Slip 123",
                    "notes": "Missing a crate",
                    "routeStop": {
                      "externalIds": {
                        "maintenanceId": "250020",
                        "payrollId": "ABFS18600"
                      },
                      "id": "494123",
                      "name": "Company Warehouse #1"
                    },
                    "state": "submitted",
                    "updatedAtTime": "2009-08-02T13:49:28Z",
                    "vehicle": {
                      "externalIds": {
                        "maintenanceId": "250020",
                        "payrollId": "ABFS18600"
                      },
                      "id": "494123",
                      "name": "Fleet Truck #1"
                    }
                  },
                  {
                    "conditionalFieldSections": [
                      {
                        "conditionalFieldFirstIndex": 6938962353426762000,
                        "conditionalFieldLastIndex": 4390182947667394600,
                        "triggeringFieldIndex": 1685137297280875000,
                        "triggeringFieldValue": "Accusamus asperiores corporis doloribus reprehenderit sit velit."
                      },
                      {
                        "conditionalFieldFirstIndex": 6938962353426762000,
                        "conditionalFieldLastIndex": 4390182947667394600,
                        "triggeringFieldIndex": 1685137297280875000,
                        "triggeringFieldValue": "Accusamus asperiores corporis doloribus reprehenderit sit velit."
                      },
                      {
                        "conditionalFieldFirstIndex": 6938962353426762000,
                        "conditionalFieldLastIndex": 4390182947667394600,
                        "triggeringFieldIndex": 1685137297280875000,
                        "triggeringFieldValue": "Accusamus asperiores corporis doloribus reprehenderit sit velit."
                      }
                    ],
                    "createdAtTime": "2005-07-09T02:19:49Z",
                    "documentType": {
                      "id": "9814a1fa-f0c6-408b-bf85-51dc3bc71ac7",
                      "name": "Fleet Truck List"
                    },
                    "driver": {
                      "externalIds": {
                        "maintenanceId": "250020",
                        "payrollId": "ABFS18600"
                      },
                      "id": "45646",
                      "name": "Driver Bob"
                    },
                    "fields": [
                      {
                        "label": "Load weight",
                        "type": "number",
                        "value": {
                          "barcodeValue": [
                            {
                              "barcodeType": "org.gs1.EAN-13",
                              "barcodeValue": "0853883003114"
                            },
                            {
                              "barcodeType": "org.gs1.EAN-13",
                              "barcodeValue": "0853883003114"
                            },
                            {
                              "barcodeType": "org.gs1.EAN-13",
                              "barcodeValue": "0853883003114"
                            },
                            {
                              "barcodeType": "org.gs1.EAN-13",
                              "barcodeValue": "0853883003114"
                            }
                          ],
                          "dateTimeValue": {
                            "dateTime": "1988-11-10T02:42:05Z"
                          },
                          "multipleChoiceValue": [
                            {
                              "selected": false,
                              "value": "Yes"
                            },
                            {
                              "selected": false,
                              "value": "Yes"
                            },
                            {
                              "selected": false,
                              "value": "Yes"
                            }
                          ],
                          "numberValue": 123.456,
                          "photoValue": [
                            {
                              "id": "f5271458-21f9-4a9f-a290-780c6d8840ff",
                              "url": "https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"
                            },
                            {
                              "id": "f5271458-21f9-4a9f-a290-780c6d8840ff",
                              "url": "https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"
                            },
                            {
                              "id": "f5271458-21f9-4a9f-a290-780c6d8840ff",
                              "url": "https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"
                            },
                            {
                              "id": "f5271458-21f9-4a9f-a290-780c6d8840ff",
                              "url": "https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"
                            }
                          ],
                          "scannedDocumentValue": [
                            {
                              "id": "f5271458-21f9-4a9f-a290-780c6d8840ff",
                              "url": "https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"
                            },
                            {
                              "id": "f5271458-21f9-4a9f-a290-780c6d8840ff",
                              "url": "https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"
                            },
                            {
                              "id": "f5271458-21f9-4a9f-a290-780c6d8840ff",
                              "url": "https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"
                            }
                          ],
                          "signatureValue": {
                            "id": "9814a1fa-f0c6-408b-bf85-51dc3bc71ac7",
                            "name": "John Smith",
                            "signedAtTime": "2015-05-23T14:04:02Z",
                            "url": "https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"
                          },
                          "stringValue": "Red Truck"
                        }
                      },
                      {
                        "label": "Load weight",
                        "type": "number",
                        "value": {
                          "barcodeValue": [
                            {
                              "barcodeType": "org.gs1.EAN-13",
                              "barcodeValue": "0853883003114"
                            },
                            {
                              "barcodeType": "org.gs1.EAN-13",
                              "barcodeValue": "0853883003114"
                            },
                            {
                              "barcodeType": "org.gs1.EAN-13",
                              "barcodeValue": "0853883003114"
                            },
                            {
                              "barcodeType": "org.gs1.EAN-13",
                              "barcodeValue": "0853883003114"
                            }
                          ],
                          "dateTimeValue": {
                            "dateTime": "1988-11-10T02:42:05Z"
                          },
                          "multipleChoiceValue": [
                            {
                              "selected": false,
                              "value": "Yes"
                            },
                            {
                              "selected": false,
                              "value": "Yes"
                            },
                            {
                              "selected": false,
                              "value": "Yes"
                            }
                          ],
                          "numberValue": 123.456,
                          "photoValue": [
                            {
                              "id": "f5271458-21f9-4a9f-a290-780c6d8840ff",
                              "url": "https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"
                            },
                            {
                              "id": "f5271458-21f9-4a9f-a290-780c6d8840ff",
                              "url": "https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"
                            },
                            {
                              "id": "f5271458-21f9-4a9f-a290-780c6d8840ff",
                              "url": "https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"
                            },
                            {
                              "id": "f5271458-21f9-4a9f-a290-780c6d8840ff",
                              "url": "https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"
                            }
                          ],
                          "scannedDocumentValue": [
                            {
                              "id": "f5271458-21f9-4a9f-a290-780c6d8840ff",
                              "url": "https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"
                            },
                            {
                              "id": "f5271458-21f9-4a9f-a290-780c6d8840ff",
                              "url": "https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"
                            },
                            {
                              "id": "f5271458-21f9-4a9f-a290-780c6d8840ff",
                              "url": "https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"
                            }
                          ],
                          "signatureValue": {
                            "id": "9814a1fa-f0c6-408b-bf85-51dc3bc71ac7",
                            "name": "John Smith",
                            "signedAtTime": "2015-05-23T14:04:02Z",
                            "url": "https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"
                          },
                          "stringValue": "Red Truck"
                        }
                      }
                    ],
                    "id": "9814a1fa-f0c6-408b-bf85-51dc3bc71ac7",
                    "name": "Dropoff Slip 123",
                    "notes": "Missing a crate",
                    "routeStop": {
                      "externalIds": {
                        "maintenanceId": "250020",
                        "payrollId": "ABFS18600"
                      },
                      "id": "494123",
                      "name": "Company Warehouse #1"
                    },
                    "state": "submitted",
                    "updatedAtTime": "2009-08-02T13:49:28Z",
                    "vehicle": {
                      "externalIds": {
                        "maintenanceId": "250020",
                        "payrollId": "ABFS18600"
                      },
                      "id": "494123",
                      "name": "Fleet Truck #1"
                    }
                  },
                  {
                    "conditionalFieldSections": [
                      {
                        "conditionalFieldFirstIndex": 6938962353426762000,
                        "conditionalFieldLastIndex": 4390182947667394600,
                        "triggeringFieldIndex": 1685137297280875000,
                        "triggeringFieldValue": "Accusamus asperiores corporis doloribus reprehenderit sit velit."
                      },
                      {
                        "conditionalFieldFirstIndex": 6938962353426762000,
                        "conditionalFieldLastIndex": 4390182947667394600,
                        "triggeringFieldIndex": 1685137297280875000,
                        "triggeringFieldValue": "Accusamus asperiores corporis doloribus reprehenderit sit velit."
                      },
                      {
                        "conditionalFieldFirstIndex": 6938962353426762000,
                        "conditionalFieldLastIndex": 4390182947667394600,
                        "triggeringFieldIndex": 1685137297280875000,
                        "triggeringFieldValue": "Accusamus asperiores corporis doloribus reprehenderit sit velit."
                      }
                    ],
                    "createdAtTime": "2005-07-09T02:19:49Z",
                    "documentType": {
                      "id": "9814a1fa-f0c6-408b-bf85-51dc3bc71ac7",
                      "name": "Fleet Truck List"
                    },
                    "driver": {
                      "externalIds": {
                        "maintenanceId": "250020",
                        "payrollId": "ABFS18600"
                      },
                      "id": "45646",
                      "name": "Driver Bob"
                    },
                    "fields": [
                      {
                        "label": "Load weight",
                        "type": "number",
                        "value": {
                          "barcodeValue": [
                            {
                              "barcodeType": "org.gs1.EAN-13",
                              "barcodeValue": "0853883003114"
                            },
                            {
                              "barcodeType": "org.gs1.EAN-13",
                              "barcodeValue": "0853883003114"
                            },
                            {
                              "barcodeType": "org.gs1.EAN-13",
                              "barcodeValue": "0853883003114"
                            },
                            {
                              "barcodeType": "org.gs1.EAN-13",
                              "barcodeValue": "0853883003114"
                            }
                          ],
                          "dateTimeValue": {
                            "dateTime": "1988-11-10T02:42:05Z"
                          },
                          "multipleChoiceValue": [
                            {
                              "selected": false,
                              "value": "Yes"
                            },
                            {
                              "selected": false,
                              "value": "Yes"
                            },
                            {
                              "selected": false,
                              "value": "Yes"
                            }
                          ],
                          "numberValue": 123.456,
                          "photoValue": [
                            {
                              "id": "f5271458-21f9-4a9f-a290-780c6d8840ff",
                              "url": "https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"
                            },
                            {
                              "id": "f5271458-21f9-4a9f-a290-780c6d8840ff",
                              "url": "https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"
                            },
                            {
                              "id": "f5271458-21f9-4a9f-a290-780c6d8840ff",
                              "url": "https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"
                            },
                            {
                              "id": "f5271458-21f9-4a9f-a290-780c6d8840ff",
                              "url": "https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"
                            }
                          ],
                          "scannedDocumentValue": [
                            {
                              "id": "f5271458-21f9-4a9f-a290-780c6d8840ff",
                              "url": "https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"
                            },
                            {
                              "id": "f5271458-21f9-4a9f-a290-780c6d8840ff",
                              "url": "https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"
                            },
                            {
                              "id": "f5271458-21f9-4a9f-a290-780c6d8840ff",
                              "url": "https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"
                            }
                          ],
                          "signatureValue": {
                            "id": "9814a1fa-f0c6-408b-bf85-51dc3bc71ac7",
                            "name": "John Smith",
                            "signedAtTime": "2015-05-23T14:04:02Z",
                            "url": "https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"
                          },
                          "stringValue": "Red Truck"
                        }
                      },
                      {
                        "label": "Load weight",
                        "type": "number",
                        "value": {
                          "barcodeValue": [
                            {
                              "barcodeType": "org.gs1.EAN-13",
                              "barcodeValue": "0853883003114"
                            },
                            {
                              "barcodeType": "org.gs1.EAN-13",
                              "barcodeValue": "0853883003114"
                            },
                            {
                              "barcodeType": "org.gs1.EAN-13",
                              "barcodeValue": "0853883003114"
                            },
                            {
                              "barcodeType": "org.gs1.EAN-13",
                              "barcodeValue": "0853883003114"
                            }
                          ],
                          "dateTimeValue": {
                            "dateTime": "1988-11-10T02:42:05Z"
                          },
                          "multipleChoiceValue": [
                            {
                              "selected": false,
                              "value": "Yes"
                            },
                            {
                              "selected": false,
                              "value": "Yes"
                            },
                            {
                              "selected": false,
                              "value": "Yes"
                            }
                          ],
                          "numberValue": 123.456,
                          "photoValue": [
                            {
                              "id": "f5271458-21f9-4a9f-a290-780c6d8840ff",
                              "url": "https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"
                            },
                            {
                              "id": "f5271458-21f9-4a9f-a290-780c6d8840ff",
                              "url": "https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"
                            },
                            {
                              "id": "f5271458-21f9-4a9f-a290-780c6d8840ff",
                              "url": "https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"
                            },
                            {
                              "id": "f5271458-21f9-4a9f-a290-780c6d8840ff",
                              "url": "https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"
                            }
                          ],
                          "scannedDocumentValue": [
                            {
                              "id": "f5271458-21f9-4a9f-a290-780c6d8840ff",
                              "url": "https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"
                            },
                            {
                              "id": "f5271458-21f9-4a9f-a290-780c6d8840ff",
                              "url": "https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"
                            },
                            {
                              "id": "f5271458-21f9-4a9f-a290-780c6d8840ff",
                              "url": "https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"
                            }
                          ],
                          "signatureValue": {
                            "id": "9814a1fa-f0c6-408b-bf85-51dc3bc71ac7",
                            "name": "John Smith",
                            "signedAtTime": "2015-05-23T14:04:02Z",
                            "url": "https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"
                          },
                          "stringValue": "Red Truck"
                        }
                      }
                    ],
                    "id": "9814a1fa-f0c6-408b-bf85-51dc3bc71ac7",
                    "name": "Dropoff Slip 123",
                    "notes": "Missing a crate",
                    "routeStop": {
                      "externalIds": {
                        "maintenanceId": "250020",
                        "payrollId": "ABFS18600"
                      },
                      "id": "494123",
                      "name": "Company Warehouse #1"
                    },
                    "state": "submitted",
                    "updatedAtTime": "2009-08-02T13:49:28Z",
                    "vehicle": {
                      "externalIds": {
                        "maintenanceId": "250020",
                        "payrollId": "ABFS18600"
                      },
                      "id": "494123",
                      "name": "Fleet Truck #1"
                    }
                  }
                ],
                "pagination": {
                  "endCursor": "MjkY",
                  "hasNextPage": true
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized response.",
            "schema": {
              "$ref": "#/definitions/DocumentsGetDocumentsUnauthorizedErrorResponseBody"
            },
            "examples": {
              "application/json": {
                "message": "Invalid token.",
                "requestId": "8916e1c1"
              }
            }
          },
          "404": {
            "description": "Not Found response.",
            "schema": {
              "$ref": "#/definitions/DocumentsGetDocumentsNotFoundErrorResponseBody"
            },
            "examples": {
              "application/json": {
                "message": "Object not found.",
                "requestId": "8916e1c1"
              }
            }
          },
          "405": {
            "description": "Method Not Allowed response.",
            "schema": {
              "$ref": "#/definitions/DocumentsGetDocumentsMethodNotAllowedErrorResponseBody"
            },
            "examples": {
              "application/json": {
                "message": "DELETE not allowed on /endpoint.",
                "requestId": "8916e1c1"
              }
            }
          },
          "429": {
            "description": "Too Many Requests response.",
            "schema": {
              "$ref": "#/definitions/DocumentsGetDocumentsTooManyRequestsErrorResponseBody"
            },
            "examples": {
              "application/json": {
                "message": "Exceeded rate limit.",
                "requestId": "8916e1c1"
              }
            }
          },
          "500": {
            "description": "Internal Server Error response.",
            "schema": {
              "$ref": "#/definitions/DocumentsGetDocumentsInternalServerErrorResponseBody"
            },
            "examples": {
              "application/json": {
                "message": "Failed to execute GraphQL query.",
                "requestId": "8916e1c1"
              }
            }
          },
          "501": {
            "description": "Not Implemented response.",
            "schema": {
              "$ref": "#/definitions/DocumentsGetDocumentsNotImplementedErrorResponseBody"
            },
            "examples": {
              "application/json": {
                "message": "Not implemented.",
                "requestId": "8916e1c1"
              }
            }
          },
          "502": {
            "description": "Bad Gateway response.",
            "schema": {
              "$ref": "#/definitions/DocumentsGetDocumentsBadGatewayErrorResponseBody"
            },
            "examples": {
              "application/json": {
                "message": "rpc error: code = Unknown desc = connection refused",
                "requestId": "8916e1c1"
              }
            }
          },
          "503": {
            "description": "Service Unavailable response.",
            "schema": {
              "$ref": "#/definitions/DocumentsGetDocumentsServiceUnavailableErrorResponseBody"
            },
            "examples": {
              "application/json": {
                "message": "context deadline exceeded",
                "requestId": "8916e1c1"
              }
            }
          },
          "504": {
            "description": "Gateway Timeout response.",
            "schema": {
              "$ref": "#/definitions/DocumentsGetDocumentsGatewayTimeoutErrorResponseBody"
            },
            "examples": {
              "application/json": {
                "message": "context deadline exceeded",
                "requestId": "8916e1c1"
              }
            }
          },
          "default": {
            "description": "Bad Request response.",
            "schema": {
              "$ref": "#/definitions/DocumentsGetDocumentsBadRequestErrorResponseBody"
            },
            "examples": {
              "application/json": {
                "message": "Invalid value for parameter.",
                "requestId": "8916e1c1"
              }
            }
          }
        }
      },
      "post": {
        "description": "Creates a single document.\n \n\n **Submit Feedback**: Likes, dislikes, and API feature requests should be filed as feedback in our [API feedback form](https://forms.gle/r4bs6HQshQAvBuwv6). If you encountered an issue or noticed inaccuracies in the API documentation, please [submit a case](http://samsara.com/help) to our support team.",
        "schemes": [
          "https"
        ],
        "tags": [
          "Beta APIs"
        ],
        "summary": "[beta] Create document",
        "operationId": "postDocument",
        "parameters": [
          {
            "name": "PostDocumentRequestBody",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DocumentsPostDocumentRequestBody"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": {
              "$ref": "#/definitions/DocumentsPostDocumentResponseBody"
            },
            "examples": {
              "application/json": {
                "data": {
                  "conditionalFieldSections": [
                    {
                      "conditionalFieldFirstIndex": 6938962353426762000,
                      "conditionalFieldLastIndex": 4390182947667394600,
                      "triggeringFieldIndex": 1685137297280875000,
                      "triggeringFieldValue": "Accusamus asperiores corporis doloribus reprehenderit sit velit."
                    },
                    {
                      "conditionalFieldFirstIndex": 6938962353426762000,
                      "conditionalFieldLastIndex": 4390182947667394600,
                      "triggeringFieldIndex": 1685137297280875000,
                      "triggeringFieldValue": "Accusamus asperiores corporis doloribus reprehenderit sit velit."
                    },
                    {
                      "conditionalFieldFirstIndex": 6938962353426762000,
                      "conditionalFieldLastIndex": 4390182947667394600,
                      "triggeringFieldIndex": 1685137297280875000,
                      "triggeringFieldValue": "Accusamus asperiores corporis doloribus reprehenderit sit velit."
                    }
                  ],
                  "createdAtTime": "2005-07-09T02:19:49Z",
                  "documentType": {
                    "id": "9814a1fa-f0c6-408b-bf85-51dc3bc71ac7",
                    "name": "Fleet Truck List"
                  },
                  "driver": {
                    "externalIds": {
                      "maintenanceId": "250020",
                      "payrollId": "ABFS18600"
                    },
                    "id": "45646",
                    "name": "Driver Bob"
                  },
                  "fields": [
                    {
                      "label": "Load weight",
                      "type": "number",
                      "value": {
                        "barcodeValue": [
                          {
                            "barcodeType": "org.gs1.EAN-13",
                            "barcodeValue": "0853883003114"
                          },
                          {
                            "barcodeType": "org.gs1.EAN-13",
                            "barcodeValue": "0853883003114"
                          },
                          {
                            "barcodeType": "org.gs1.EAN-13",
                            "barcodeValue": "0853883003114"
                          },
                          {
                            "barcodeType": "org.gs1.EAN-13",
                            "barcodeValue": "0853883003114"
                          }
                        ],
                        "dateTimeValue": {
                          "dateTime": "1988-11-10T02:42:05Z"
                        },
                        "multipleChoiceValue": [
                          {
                            "selected": false,
                            "value": "Yes"
                          },
                          {
                            "selected": false,
                            "value": "Yes"
                          },
                          {
                            "selected": false,
                            "value": "Yes"
                          }
                        ],
                        "numberValue": 123.456,
                        "photoValue": [
                          {
                            "id": "f5271458-21f9-4a9f-a290-780c6d8840ff",
                            "url": "https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"
                          },
                          {
                            "id": "f5271458-21f9-4a9f-a290-780c6d8840ff",
                            "url": "https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"
                          },
                          {
                            "id": "f5271458-21f9-4a9f-a290-780c6d8840ff",
                            "url": "https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"
                          },
                          {
                            "id": "f5271458-21f9-4a9f-a290-780c6d8840ff",
                            "url": "https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"
                          }
                        ],
                        "scannedDocumentValue": [
                          {
                            "id": "f5271458-21f9-4a9f-a290-780c6d8840ff",
                            "url": "https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"
                          },
                          {
                            "id": "f5271458-21f9-4a9f-a290-780c6d8840ff",
                            "url": "https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"
                          },
                          {
                            "id": "f5271458-21f9-4a9f-a290-780c6d8840ff",
                            "url": "https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"
                          }
                        ],
                        "signatureValue": {
                          "id": "9814a1fa-f0c6-408b-bf85-51dc3bc71ac7",
                          "name": "John Smith",
                          "signedAtTime": "2015-05-23T14:04:02Z",
                          "url": "https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"
                        },
                        "stringValue": "Red Truck"
                      }
                    },
                    {
                      "label": "Load weight",
                      "type": "number",
                      "value": {
                        "barcodeValue": [
                          {
                            "barcodeType": "org.gs1.EAN-13",
                            "barcodeValue": "0853883003114"
                          },
                          {
                            "barcodeType": "org.gs1.EAN-13",
                            "barcodeValue": "0853883003114"
                          },
                          {
                            "barcodeType": "org.gs1.EAN-13",
                            "barcodeValue": "0853883003114"
                          },
                          {
                            "barcodeType": "org.gs1.EAN-13",
                            "barcodeValue": "0853883003114"
                          }
                        ],
                        "dateTimeValue": {
                          "dateTime": "1988-11-10T02:42:05Z"
                        },
                        "multipleChoiceValue": [
                          {
                            "selected": false,
                            "value": "Yes"
                          },
                          {
                            "selected": false,
                            "value": "Yes"
                          },
                          {
                            "selected": false,
                            "value": "Yes"
                          }
                        ],
                        "numberValue": 123.456,
                        "photoValue": [
                          {
                            "id": "f5271458-21f9-4a9f-a290-780c6d8840ff",
                            "url": "https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"
                          },
                          {
                            "id": "f5271458-21f9-4a9f-a290-780c6d8840ff",
                            "url": "https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"
                          },
                          {
                            "id": "f5271458-21f9-4a9f-a290-780c6d8840ff",
                            "url": "https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"
                          },
                          {
                            "id": "f5271458-21f9-4a9f-a290-780c6d8840ff",
                            "url": "https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"
                          }
                        ],
                        "scannedDocumentValue": [
                          {
                            "id": "f5271458-21f9-4a9f-a290-780c6d8840ff",
                            "url": "https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"
                          },
                          {
                            "id": "f5271458-21f9-4a9f-a290-780c6d8840ff",
                            "url": "https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"
                          },
                          {
                            "id": "f5271458-21f9-4a9f-a290-780c6d8840ff",
                            "url": "https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"
                          }
                        ],
                        "signatureValue": {
                          "id": "9814a1fa-f0c6-408b-bf85-51dc3bc71ac7",
                          "name": "John Smith",
                          "signedAtTime": "2015-05-23T14:04:02Z",
                          "url": "https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"
                        },
                        "stringValue": "Red Truck"
                      }
                    }
                  ],
                  "id": "9814a1fa-f0c6-408b-bf85-51dc3bc71ac7",
                  "name": "Dropoff Slip 123",
                  "notes": "Missing a crate",
                  "routeStop": {
                    "externalIds": {
                      "maintenanceId": "250020",
                      "payrollId": "ABFS18600"
                    },
                    "id": "494123",
                    "name": "Company Warehouse #1"
                  },
                  "state": "submitted",
                  "updatedAtTime": "2009-08-02T13:49:28Z",
                  "vehicle": {
                    "externalIds": {
                      "maintenanceId": "250020",
                      "payrollId": "ABFS18600"
                    },
                    "id": "494123",
                    "name": "Fleet Truck #1"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized response.",
            "schema": {
              "$ref": "#/definitions/DocumentsPostDocumentUnauthorizedErrorResponseBody"
            },
            "examples": {
              "application/json": {
                "message": "Invalid token.",
                "requestId": "8916e1c1"
              }
            }
          },
          "404": {
            "description": "Not Found response.",
            "schema": {
              "$ref": "#/definitions/DocumentsPostDocumentNotFoundErrorResponseBody"
            },
            "examples": {
              "application/json": {
                "message": "Object not found.",
                "requestId": "8916e1c1"
              }
            }
          },
          "405": {
            "description": "Method Not Allowed response.",
            "schema": {
              "$ref": "#/definitions/DocumentsPostDocumentMethodNotAllowedErrorResponseBody"
            },
            "examples": {
              "application/json": {
                "message": "DELETE not allowed on /endpoint.",
                "requestId": "8916e1c1"
              }
            }
          },
          "429": {
            "description": "Too Many Requests response.",
            "schema": {
              "$ref": "#/definitions/DocumentsPostDocumentTooManyRequestsErrorResponseBody"
            },
            "examples": {
              "application/json": {
                "message": "Exceeded rate limit.",
                "requestId": "8916e1c1"
              }
            }
          },
          "500": {
            "description": "Internal Server Error response.",
            "schema": {
              "$ref": "#/definitions/DocumentsPostDocumentInternalServerErrorResponseBody"
            },
            "examples": {
              "application/json": {
                "message": "Failed to execute GraphQL query.",
                "requestId": "8916e1c1"
              }
            }
          },
          "501": {
            "description": "Not Implemented response.",
            "schema": {
              "$ref": "#/definitions/DocumentsPostDocumentNotImplementedErrorResponseBody"
            },
            "examples": {
              "application/json": {
                "message": "Not implemented.",
                "requestId": "8916e1c1"
              }
            }
          },
          "502": {
            "description": "Bad Gateway response.",
            "schema": {
              "$ref": "#/definitions/DocumentsPostDocumentBadGatewayErrorResponseBody"
            },
            "examples": {
              "application/json": {
                "message": "rpc error: code = Unknown desc = connection refused",
                "requestId": "8916e1c1"
              }
            }
          },
          "503": {
            "description": "Service Unavailable response.",
            "schema": {
              "$ref": "#/definitions/DocumentsPostDocumentServiceUnavailableErrorResponseBody"
            },
            "examples": {
              "application/json": {
                "message": "context deadline exceeded",
                "requestId": "8916e1c1"
              }
            }
          },
          "504": {
            "description": "Gateway Timeout response.",
            "schema": {
              "$ref": "#/definitions/DocumentsPostDocumentGatewayTimeoutErrorResponseBody"
            },
            "examples": {
              "application/json": {
                "message": "context deadline exceeded",
                "requestId": "8916e1c1"
              }
            }
          },
          "default": {
            "description": "Bad Request response.",
            "schema": {
              "$ref": "#/definitions/DocumentsPostDocumentBadRequestErrorResponseBody"
            },
            "examples": {
              "application/json": {
                "message": "Invalid value for parameter.",
                "requestId": "8916e1c1"
              }
            }
          }
        }
      }
    },
    "/beta/fleet/documents/{id}": {
      "get": {
        "description": "Returns a single document.\n \n\n **Submit Feedback**: Likes, dislikes, and API feature requests should be filed as feedback in our [API feedback form](https://forms.gle/r4bs6HQshQAvBuwv6). If you encountered an issue or noticed inaccuracies in the API documentation, please [submit a case](http://samsara.com/help) to our support team.",
        "schemes": [
          "https"
        ],
        "tags": [
          "Beta APIs"
        ],
        "summary": "[beta] Fetch document",
        "operationId": "getDocument",
        "parameters": [
          {
            "type": "string",
            "description": "ID of the document",
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": {
              "$ref": "#/definitions/DocumentsGetDocumentResponseBody"
            },
            "examples": {
              "application/json": {
                "data": {
                  "conditionalFieldSections": [
                    {
                      "conditionalFieldFirstIndex": 6938962353426762000,
                      "conditionalFieldLastIndex": 4390182947667394600,
                      "triggeringFieldIndex": 1685137297280875000,
                      "triggeringFieldValue": "Accusamus asperiores corporis doloribus reprehenderit sit velit."
                    },
                    {
                      "conditionalFieldFirstIndex": 6938962353426762000,
                      "conditionalFieldLastIndex": 4390182947667394600,
                      "triggeringFieldIndex": 1685137297280875000,
                      "triggeringFieldValue": "Accusamus asperiores corporis doloribus reprehenderit sit velit."
                    },
                    {
                      "conditionalFieldFirstIndex": 6938962353426762000,
                      "conditionalFieldLastIndex": 4390182947667394600,
                      "triggeringFieldIndex": 1685137297280875000,
                      "triggeringFieldValue": "Accusamus asperiores corporis doloribus reprehenderit sit velit."
                    }
                  ],
                  "createdAtTime": "2005-07-09T02:19:49Z",
                  "documentType": {
                    "id": "9814a1fa-f0c6-408b-bf85-51dc3bc71ac7",
                    "name": "Fleet Truck List"
                  },
                  "driver": {
                    "externalIds": {
                      "maintenanceId": "250020",
                      "payrollId": "ABFS18600"
                    },
                    "id": "45646",
                    "name": "Driver Bob"
                  },
                  "fields": [
                    {
                      "label": "Load weight",
                      "type": "number",
                      "value": {
                        "barcodeValue": [
                          {
                            "barcodeType": "org.gs1.EAN-13",
                            "barcodeValue": "0853883003114"
                          },
                          {
                            "barcodeType": "org.gs1.EAN-13",
                            "barcodeValue": "0853883003114"
                          },
                          {
                            "barcodeType": "org.gs1.EAN-13",
                            "barcodeValue": "0853883003114"
                          },
                          {
                            "barcodeType": "org.gs1.EAN-13",
                            "barcodeValue": "0853883003114"
                          }
                        ],
                        "dateTimeValue": {
                          "dateTime": "1988-11-10T02:42:05Z"
                        },
                        "multipleChoiceValue": [
                          {
                            "selected": false,
                            "value": "Yes"
                          },
                          {
                            "selected": false,
                            "value": "Yes"
                          },
                          {
                            "selected": false,
                            "value": "Yes"
                          }
                        ],
                        "numberValue": 123.456,
                        "photoValue": [
                          {
                            "id": "f5271458-21f9-4a9f-a290-780c6d8840ff",
                            "url": "https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"
                          },
                          {
                            "id": "f5271458-21f9-4a9f-a290-780c6d8840ff",
                            "url": "https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"
                          },
                          {
                            "id": "f5271458-21f9-4a9f-a290-780c6d8840ff",
                            "url": "https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"
                          },
                          {
                            "id": "f5271458-21f9-4a9f-a290-780c6d8840ff",
                            "url": "https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"
                          }
                        ],
                        "scannedDocumentValue": [
                          {
                            "id": "f5271458-21f9-4a9f-a290-780c6d8840ff",
                            "url": "https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"
                          },
                          {
                            "id": "f5271458-21f9-4a9f-a290-780c6d8840ff",
                            "url": "https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"
                          },
                          {
                            "id": "f5271458-21f9-4a9f-a290-780c6d8840ff",
                            "url": "https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"
                          }
                        ],
                        "signatureValue": {
                          "id": "9814a1fa-f0c6-408b-bf85-51dc3bc71ac7",
                          "name": "John Smith",
                          "signedAtTime": "2015-05-23T14:04:02Z",
                          "url": "https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"
                        },
                        "stringValue": "Red Truck"
                      }
                    },
                    {
                      "label": "Load weight",
                      "type": "number",
                      "value": {
                        "barcodeValue": [
                          {
                            "barcodeType": "org.gs1.EAN-13",
                            "barcodeValue": "0853883003114"
                          },
                          {
                            "barcodeType": "org.gs1.EAN-13",
                            "barcodeValue": "0853883003114"
                          },
                          {
                            "barcodeType": "org.gs1.EAN-13",
                            "barcodeValue": "0853883003114"
                          },
                          {
                            "barcodeType": "org.gs1.EAN-13",
                            "barcodeValue": "0853883003114"
                          }
                        ],
                        "dateTimeValue": {
                          "dateTime": "1988-11-10T02:42:05Z"
                        },
                        "multipleChoiceValue": [
                          {
                            "selected": false,
                            "value": "Yes"
                          },
                          {
                            "selected": false,
                            "value": "Yes"
                          },
                          {
                            "selected": false,
                            "value": "Yes"
                          }
                        ],
                        "numberValue": 123.456,
                        "photoValue": [
                          {
                            "id": "f5271458-21f9-4a9f-a290-780c6d8840ff",
                            "url": "https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"
                          },
                          {
                            "id": "f5271458-21f9-4a9f-a290-780c6d8840ff",
                            "url": "https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"
                          },
                          {
                            "id": "f5271458-21f9-4a9f-a290-780c6d8840ff",
                            "url": "https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"
                          },
                          {
                            "id": "f5271458-21f9-4a9f-a290-780c6d8840ff",
                            "url": "https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"
                          }
                        ],
                        "scannedDocumentValue": [
                          {
                            "id": "f5271458-21f9-4a9f-a290-780c6d8840ff",
                            "url": "https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"
                          },
                          {
                            "id": "f5271458-21f9-4a9f-a290-780c6d8840ff",
                            "url": "https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"
                          },
                          {
                            "id": "f5271458-21f9-4a9f-a290-780c6d8840ff",
                            "url": "https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"
                          }
                        ],
                        "signatureValue": {
                          "id": "9814a1fa-f0c6-408b-bf85-51dc3bc71ac7",
                          "name": "John Smith",
                          "signedAtTime": "2015-05-23T14:04:02Z",
                          "url": "https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"
                        },
                        "stringValue": "Red Truck"
                      }
                    }
                  ],
                  "id": "9814a1fa-f0c6-408b-bf85-51dc3bc71ac7",
                  "name": "Dropoff Slip 123",
                  "notes": "Missing a crate",
                  "routeStop": {
                    "externalIds": {
                      "maintenanceId": "250020",
                      "payrollId": "ABFS18600"
                    },
                    "id": "494123",
                    "name": "Company Warehouse #1"
                  },
                  "state": "submitted",
                  "updatedAtTime": "2009-08-02T13:49:28Z",
                  "vehicle": {
                    "externalIds": {
                      "maintenanceId": "250020",
                      "payrollId": "ABFS18600"
                    },
                    "id": "494123",
                    "name": "Fleet Truck #1"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized response.",
            "schema": {
              "$ref": "#/definitions/DocumentsGetDocumentUnauthorizedErrorResponseBody"
            },
            "examples": {
              "application/json": {
                "message": "Invalid token.",
                "requestId": "8916e1c1"
              }
            }
          },
          "404": {
            "description": "Not Found response.",
            "schema": {
              "$ref": "#/definitions/DocumentsGetDocumentNotFoundErrorResponseBody"
            },
            "examples": {
              "application/json": {
                "message": "Object not found.",
                "requestId": "8916e1c1"
              }
            }
          },
          "405": {
            "description": "Method Not Allowed response.",
            "schema": {
              "$ref": "#/definitions/DocumentsGetDocumentMethodNotAllowedErrorResponseBody"
            },
            "examples": {
              "application/json": {
                "message": "DELETE not allowed on /endpoint.",
                "requestId": "8916e1c1"
              }
            }
          },
          "429": {
            "description": "Too Many Requests response.",
            "schema": {
              "$ref": "#/definitions/DocumentsGetDocumentTooManyRequestsErrorResponseBody"
            },
            "examples": {
              "application/json": {
                "message": "Exceeded rate limit.",
                "requestId": "8916e1c1"
              }
            }
          },
          "500": {
            "description": "Internal Server Error response.",
            "schema": {
              "$ref": "#/definitions/DocumentsGetDocumentInternalServerErrorResponseBody"
            },
            "examples": {
              "application/json": {
                "message": "Failed to execute GraphQL query.",
                "requestId": "8916e1c1"
              }
            }
          },
          "501": {
            "description": "Not Implemented response.",
            "schema": {
              "$ref": "#/definitions/DocumentsGetDocumentNotImplementedErrorResponseBody"
            },
            "examples": {
              "application/json": {
                "message": "Not implemented.",
                "requestId": "8916e1c1"
              }
            }
          },
          "502": {
            "description": "Bad Gateway response.",
            "schema": {
              "$ref": "#/definitions/DocumentsGetDocumentBadGatewayErrorResponseBody"
            },
            "examples": {
              "application/json": {
                "message": "rpc error: code = Unknown desc = connection refused",
                "requestId": "8916e1c1"
              }
            }
          },
          "503": {
            "description": "Service Unavailable response.",
            "schema": {
              "$ref": "#/definitions/DocumentsGetDocumentServiceUnavailableErrorResponseBody"
            },
            "examples": {
              "application/json": {
                "message": "context deadline exceeded",
                "requestId": "8916e1c1"
              }
            }
          },
          "504": {
            "description": "Gateway Timeout response.",
            "schema": {
              "$ref": "#/definitions/DocumentsGetDocumentGatewayTimeoutErrorResponseBody"
            },
            "examples": {
              "application/json": {
                "message": "context deadline exceeded",
                "requestId": "8916e1c1"
              }
            }
          },
          "default": {
            "description": "Bad Request response.",
            "schema": {
              "$ref": "#/definitions/DocumentsGetDocumentBadRequestErrorResponseBody"
            },
            "examples": {
[...]
