{
    "swagger": "2.0",
    "info": {
        "title": "Samsara API",
        "version": "pre-release preview",
        "description": "# Introduction\n\nSamsara provides API endpoints for interacting with Samsara Cloud, so that you can build powerful applications and custom solutions with sensor data. Samsara has endpoints available to track and analyze sensors, vehicles, and entire fleets.\n\nThe Samsara Cloud API is a [RESTful API](https://en.wikipedia.org/wiki/Representational_state_transfer) accessed by an [HTTP](https://en.wikipedia.org/wiki/Hypertext_Transfer_Protocol) client such as wget or curl, or HTTP libraries of most modern programming languages including python, ruby, java. We use built-in HTTP features, like HTTP authentication and HTTP verbs, which are understood by off-the-shelf HTTP clients. We allow you to interact securely with our API from a client-side web application (though you should never expose your secret API key). [JSON](http://www.json.org/) is returned by all API responses, including errors. If you’re familiar with what you can build with a REST API, the following API reference guide will be your go-to resource.\n\nAPI access to the Samsara cloud is available to all Samsara administrators. To start developing with Samsara APIs you will need to [obtain your API keys](#section/Authentication) to authenticate your API requests.\n\nIf you have any questions you can reach out to us on [support@samsara.com](mailto:support@samsara.com)\n\n# Endpoints\n\nAll our APIs can be accessed through HTTP requests to URLs like:\n\n```curl\nhttps://api.samsara.com/<version>/<endpoint>\n```\n\nAll our APIs are [versioned](#section/Versioning). If we intend to make breaking changes to an API which either changes the response format or request parameter, we will increment the version.\n\n# Authentication\n\nTo authenticate your API request you will need to include your secret token. You can manage your API tokens in the [Dashboard](https://cloud.samsara.com). They are visible under `Settings->Organization->API Tokens`.\n\nYour API tokens carry many privileges, so be sure to keep them secure. Do not share your secret API tokens in publicly accessible areas such as GitHub, client-side code, and so on.\n\nAuthentication to the API is performed via [HTTP Basic Auth](https://en.wikipedia.org/wiki/Basic_access_authentication). Provide your API token as the basic access_token value in the URL. You do not need to provide a password.\n\n```curl\nhttps://api.samsara.com/<version>/<endpoint>?access_token={{access_token}}\n```\n\nAll API requests must be made over [HTTPS](https://en.wikipedia.org/wiki/HTTPS). Calls made over plain HTTP or without authentication will fail.\n\n# Request Methods\n\nOur API endpoints use [HTTP request methods](https://en.wikipedia.org/wiki/Hypertext_Transfer_Protocol#Request_methods) to specify the desired operation to be performed. The documentation below specified request method supported by each endpoint and the resulting action.\n\n## GET\n\nGET requests are typically used for fetching data (like data for a particular driver).\n\n## POST\n\nPOST requests are typically used for creating or updating a record (like adding new tags to the system). With that being said, a few of our POST requests can be used for fetching data (like current location data of your fleet).\n\n## PUT\n\nPUT requests are typically used for updating an existing record (like updating all devices associated with a particular tag).\n\n## PATCH\n\nPATCH requests are typically used for modifying an existing record (like modifying a few devices associated with a particular tag).\n\n## DELETE\n\nDELETE requests are used for deleting a record (like deleting a tag from the system).\n\n# Response Codes\n\nAll API requests will respond with appropriate [HTTP status code](https://en.wikipedia.org/wiki/List_of_HTTP_status_codes). Your API client should handle each response class differently.\n\n## 2XX\n\nThese are successful responses and indicate that the API request returned the expected response.\n\n## 4XX\n\nThese indicate that there was a problem with the request like a missing parameter or invalid values. Check the response for specific [error details](#section/Error-Responses). Requests that respond with a 4XX status code, should be modified before retrying.\n\n## 5XX\n\nThese indicate server errors when the server is unreachable or is misconfigured. In this case, you should retry the API request after some delay.\n\n# Error Responses\n\nIn case of a 4XX status code, the body of the response will contain information to briefly explain the error reported. To help debugging the error, you can refer to the following table for understanding the error message.\n\n| Status Code | Message | Description |\n|-------------|----------------|-------------------------------------------------------------------|\n| 401 | Invalid token | The API token is invalid and could not be authenticated. Please refer to the [authentication section](#section/Authentication). |\n| 404 | Page not found | The API endpoint being accessed is invalid. |\n| 400 | Bad request | Default response for an invalid request. Please check the request to make sure it follows the format specified in the documentation. |\n\n# Versioning\n\nAll our APIs are versioned. Our current API version is `v1` and we are continuously working on improving it further and provide additional endpoints. If we intend to make breaking changes to an API which either changes the response format or request parameter, we will increment the version. Thus, you can use our current API version worry free.\n\n# FAQs\n\nCheck out our [responses to FAQs here](https://kb.samsara.com/hc/en-us/sections/360000538054-APIs). Don’t see an answer to your question? Reach out to us on [support@samsara.com](mailto:support@samsara.com)."
    },
    "host": "api.samsara.com",
    "schemes": [
        "https"
    ],
    "basePath": "/v1",
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "tags": [
        {
            "name": "Fleet",
            "description": "Access to fleet data"
        },
        {
            "name": "Industrial",
            "description": "Access to industrial data"
        },
        {
            "name": "Sensors",
            "description": "Access to sensor data"
        },
        {
            "name": "Assets",
            "description": "Access to asset specific data"
        },
        {
            "name": "Safety",
            "description": "Access to safety specific data"
        },
        {
            "name": "Default",
            "description": "All Samsara API endpoints"
        }
    ],
    "paths": {
        "/sensors/list": {
            "post": {
                "tags": [
                    "Sensors", "Default"
                ],
                "summary": "/sensors/list",
                "description": "Get sensor objects. This method returns a list of the sensor objects in the Samsara Cloud and information about them.",
                "operationId": "get_sensors",
                "parameters": [
                    {
                        "$ref": "#/parameters/accessTokenParam"
                    },
                    {
                        "$ref": "#/parameters/groupParam"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of sensor objects.",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "sensors": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/definitions/Sensor"
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/sensors/temperature": {
            "post": {
                "tags": [
                    "Sensors", "Default"
                ],
                "summary": "/sensors/temperature",
                "description": "Get temperature for requested sensors. This method returns the current ambient temperature (and probe temperature if applicable) for the requested sensors.",
                "operationId": "get_sensors_temperature",
                "parameters": [
                    {
                        "$ref": "#/parameters/accessTokenParam"
                    },
                    {
                        "$ref": "#/parameters/sensorParam"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of sensor objects containing the current temperature reported by each sensor.",
                        "schema": {
                            "$ref": "#/definitions/TemperatureResponse"
                        }
                    },
                    "default": {
                        "description": "Unexpected error.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/sensors/humidity": {
            "post": {
                "tags": [
                    "Sensors", "Default"
                ],
                "summary": "/sensors/humidity",
                "description": "Get humidity for requested sensors. This method returns the current relative humidity for the requested sensors.",
                "operationId": "get_sensors_humidity",
                "parameters": [
                    {
                        "$ref": "#/parameters/accessTokenParam"
                    },
                    {
                        "$ref": "#/parameters/sensorParam"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of sensor objects containing the current humidity reported by each sensor.",
                        "schema": {
                            "$ref": "#/definitions/HumidityResponse"
                        }
                    },
                    "default": {
                        "description": "Unexpected error.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/sensors/cargo": {
            "post": {
                "tags": [
                    "Sensors", "Default"
                ],
                "summary": "/sensors/cargo",
                "description": "Get cargo monitor status (empty / full) for requested sensors.",
                "operationId": "get_sensors_cargo",
                "parameters": [
                    {
                        "$ref": "#/parameters/accessTokenParam"
                    },
                    {
                        "$ref": "#/parameters/sensorParam"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of sensor objects containing the current cargo status reported by each sensor.",
                        "schema": {
                            "$ref": "#/definitions/CargoResponse"
                        }
                    },
                    "default": {
                        "description": "Unexpected error.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/sensors/door": {
            "post": {
                "tags": [
                    "Sensors", "Default"
                ],
                "summary": "/sensors/door",
                "description": "Get door monitor status (closed / open) for requested sensors.",
                "operationId": "get_sensors_door",
                "parameters": [
                    {
                        "$ref": "#/parameters/accessTokenParam"
                    },
                    {
                        "$ref": "#/parameters/sensorParam"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of sensor objects containing the current door status reported by each sensor.",
                        "schema": {
                            "$ref": "#/definitions/DoorResponse"
                        }
                    },
                    "default": {
                        "description": "Unexpected error.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/sensors/history": {
            "post": {
                "tags": [
                    "Sensors", "Default"
                ],
                "summary": "/sensors/history",
                "description": "Get historical data for specified sensors. This method returns a set of historical data for the specified sensors in the specified time range and at the specified time resolution.",
                "operationId": "get_sensors_history",
                "parameters": [
                    {
                        "$ref": "#/parameters/accessTokenParam"
                    },
                    {
                        "name": "historyParam",
                        "description": "Group ID, time range and resolution, and list of sensor ID, field pairs to query.",
                        "required": true,
                        "in": "body",
                        "schema": {
                            "type": "object",
                            "required": [
                                "groupId",
                                "startMs",
                                "endMs",
                                "stepMs",
                                "series"
                            ],
                            "properties": {
                                "groupId": {
                                    "type": "integer",
                                    "description": "Group ID to query.",
                                    "format": "int64",
                                    "example": 101
                                },
                                "startMs": {
                                    "type": "integer",
                                    "description": "Beginning of the time range, specified in milliseconds UNIX time.",
                                    "example": 1462878398034
                                },
                                "endMs": {
                                    "type": "integer",
                                    "description": "End of the time range, specified in milliseconds UNIX time.",
                                    "example": 1462881998034
                                },
                                "stepMs": {
                                    "type": "integer",
                                    "description": "Time resolution for which data should be returned, in milliseconds. Specifying 3600000 will return data at hour intervals.",
                                    "example": 3600000
                                },
                                "series": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "description": "Sensor ID and field to query.",
                                        "required": [
                                            "widgetId",
                                            "field"
                                        ],
                                        "properties": {
                                            "widgetId": {
                                                "type": "integer",
                                                "description": "Sensor ID to query.",
                                                "format": "int64",
                                                "example": 1
                                            },
                                            "field": {
                                                "type": "string",
                                                "description": "Field to query.",
                                                "enum": [
                                                    "ambientTemperature",
                                                    "probeTemperature",
                                                    "currentLoop1Raw",
                                                    "currentLoop1Mapped",
                                                    "currentLoop2Raw",
                                                    "currentLoop2Mapped",
                                                    "pmPowerTotal",
                                                    "pmPhase1Power",
                                                    "pmPhase2Power",
                                                    "pmPhase3Power",
                                                    "pmPhase1PowerFactor",
                                                    "pmPhase2PowerFactor",
                                                    "pmPhase3PowerFactor"
                                                ],
                                                "example": "ambientTemperature"
                                            }
                                        }
                                    }
                                },
                                "fillMissing": {
                                    "type": "string",
                                    "enum": [
                                        "withNull",
                                        "withPrevious"
                                    ],
                                    "default": "withNull"
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of results objects, each containing a time and a datapoint for each requested sensor/field pair.",
                        "schema": {
                            "$ref": "#/definitions/SensorHistoryResponse"
                        }
                    },
                    "default": {
                        "description": "Unexpected error.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/fleet/list": {
            "post": {
                "tags": [
                    "Fleet", "Default"
                ],
                "summary": "/fleet/list",
                "description": "Get list of the vehicles. This method returns a list of the vehicles in the Samsara Cloud and information about them.",
                "operationId": "get_fleet",
                "parameters": [
                    {
                        "$ref": "#/parameters/accessTokenParam"
                    },
                    {
                        "$ref": "#/parameters/groupParam"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of vehicles and information about each.",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "groupId": {
                                    "type": "integer",
                                    "format": "int64",
                                    "description": "Group ID to query.",
                                    "example": 101
                                },
                                "vehicles": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/definitions/Vehicle"
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/fleet/locations": {
            "post": {
                "tags": [
                    "Fleet", "Default"
                ],
                "summary": "/fleet/locations",
                "description": "Get current location of vehicles in a group. This method returns the current location in latitude and longitude of all vehicles in a requested group.",
                "operationId": "get_fleet_locations",
                "parameters": [
                    {
                        "$ref": "#/parameters/accessTokenParam"
                    },
                    {
                        "$ref": "#/parameters/groupParam"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of vehicle objects containing their location and the time at which that location was logged.",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "groupId": {
                                    "type": "integer",
                                    "format": "int64",
                                    "description": "Group ID to query.",
                                    "example": 101
                                },
                                "vehicles": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/definitions/VehicleLocation"
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/fleet/trips": {
            "post": {
                "tags": [
                    "Fleet", "Default"
                ],
                "summary": "/fleet/trips",
                "description": "Get historical trips data for specified vehicle. This method returns a set of historical trips data for the specified vehicle in the specified time range.",
                "operationId": "get_fleet_trips",
                "parameters": [
                    {
                        "$ref": "#/parameters/accessTokenParam"
                    },
                    {
                        "name": "tripsParam",
                        "description": "Group ID, vehicle ID and time range to query.",
                        "required": true,
                        "in": "body",
                        "schema": {
                            "type": "object",
                            "required": [
                                "groupId",
                                "vehicleId",
                                "startMs",
                                "endMs"
                            ],
                            "properties": {
                                "groupId": {
                                    "type": "integer",
                                    "description": "Group ID to query.",
                                    "format": "int64",
                                    "example": 101
                                },
                                "vehicleId": {
                                    "type": "integer",
                                    "description": "Vehicle ID to query.",
                                    "format": "int64",
                                    "example": 112
                                },
                                "startMs": {
                                    "type": "integer",
                                    "description": "Beginning of the time range, specified in milliseconds UNIX time. Limited to a 90 day window with respect to startMs and endMs",
                                    "example": 1462878398034
                                },
                                "endMs": {
                                    "type": "integer",
                                    "description": "End of the time range, specified in milliseconds UNIX time.",
                                    "example": 1462881998034
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of trips taken by the requested vehicle within the specified timeframe.",
                        "schema": {
                            "$ref": "#/definitions/TripResponse"
                        }
                    },
                    "default": {
                        "description": "Unexpected error.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/fleet/drivers": {
            "post": {
                "tags": [
                    "Fleet", "Default"
                ],
                "summary": "/fleet/drivers",
                "description": "Get all the drivers for the specified group.",
                "operationId": "get_fleet_drivers",
                "parameters": [
                    {
                        "$ref": "#/parameters/accessTokenParam"
                    },
                    {
                        "name": "groupDriversParam",
                        "required": true,
                        "in": "body",
                        "schema": {
                            "type": "object",
                            "required": [
                                "groupId"
                            ],
                            "properties": {
                                "groupId": {
                                    "type": "integer",
                                    "format": "int64",
                                    "description": "Group ID to query.",
                                    "example": 101
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "All drivers in the group.",
                        "schema": {
                            "$ref": "#/definitions/DriversResponse"
                        }
                    },
                    "default": {
                        "description": "Unexpected error.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/fleet/drivers/create": {
            "post": {
                "tags": [
                    "Default", "Fleet", "Drivers"
                ],
                "summary": "/fleet/drivers/create",
                "description": "Create a new driver.",
                "operationId": "createDriver",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    { "$ref": "#/parameters/accessTokenParam" },
                    { "$ref": "#/parameters/createDriverParam" }
                ],
                "responses": {
                    "200": {
                        "description": "Returns the successfully created the driver.",
                        "schema": {
                            "$ref": "#/definitions/Driver"
                        }
                    },
                    "default": {
                        "description": "Unexpected error.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/fleet/drivers/{driver_id}": {
            "parameters": [
                {
                    "$ref": "#/parameters/accessTokenParam"
                },
                {
                    "name": "driver_id",
                    "in": "path",
                    "required": true,
                    "description": "ID of the driver.",
                    "type": "integer",
                    "format": "int64"
                }
            ],
            "get": {
                "tags": [
                    "Default", "Fleet", "Drivers"
                ],
                "summary": "/fleet/drivers/{driver_id:[0-9]+}",
                "description": "Fetch driver by id.",
                "operationId": "getDriverById",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "Returns the driver for the given driver_id.",
                        "schema": {
                            "$ref": "#/definitions/CurrentDriver"
                        }
                    },
                    "default": {
                        "description": "Unexpected error.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Default", "Fleet", "Drivers"
                ],
                "summary": "/fleet/drivers/{driver_id:[0-9]+}",
                "description": "Deactivate a driver with the given driver_id.",
                "operationId": "deactivateDriver",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "Successfully deactivated the driver, which is now referenced by /fleet/drivers/inactive/{driver_id}."
                    },
                    "default": {
                        "description": "Unexpected error.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/fleet/drivers/inactive": {
            "get": {
                "tags": [
                    "Default", "Fleet", "Drivers"
                ],
                "summary": "/fleet/drivers/inactive",
                "description": "Fetch all deactivated drivers for the group.",
                "operationId": "getAllDeactivatedDrivers",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    { "$ref": "#/parameters/accessTokenParam" },
                    { "$ref": "#/parameters/groupIdParam" }
                ],
                "responses": {
                    "200": {
                        "description": "Returns an array of all deactivated drivers for the group. Deactivated drivers are referenced at /fleet/drivers/inactive/{driver_id}",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Driver"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/fleet/drivers/inactive/{driver_id}": {
            "parameters": [
                {
                    "$ref": "#/parameters/accessTokenParam"
                },
                {
                    "name": "driver_id",
                    "in": "path",
                    "required": true,
                    "description": "ID of the deactivated driver.",
                    "type": "integer",
                    "format": "int64"
                }
            ],
            "get": {
                "tags": [
                    "Default", "Fleet", "Drivers"
                ],
                "summary": "/fleet/drivers/inactive/{driver_id:[0-9]+}",
                "description": "Fetch deactivated driver by driver_id.",
                "operationId": "getDeactivatedDriverById",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "Returns the deactivated driver with the given driver_id.",
                        "schema": {
                            "$ref": "#/definitions/Driver"
                        }
                    },
                    "default": {
                        "description": "Unexpected error.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Default", "Fleet", "Drivers"
                ],
                "summary": "/fleet/drivers/inactive/{driver_id:[0-9]+}",
                "description": "Reactivate the inactive driver having driver_id.",
                "operationId": "reactivateDriverById",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    { "$ref": "#/parameters/reactivateDriverParam" }
                ],
                "responses": {
                    "200": {
                        "description": "Returns the reactivated driver, which is now available at /fleet/drivers/{driver_id}.",
                        "schema": {
                            "$ref": "#/definitions/CurrentDriver"
                        }
                    },
                    "default": {
                        "description": "Unexpected error.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/fleet/drivers/summary": {
          "post": {
            "tags": [
              "Fleet", "Default"
            ],
            "summary": "/fleet/drivers/summary",
            "description": "Get the distance and time each driver in an organization has driven in a given time period.",
            "operationId": "get_fleet_drivers_summary",
            "parameters": [
              {
                "$ref": "#/parameters/accessTokenParam"
              },
              {
                "name": "snap_to_day_bounds",
                "description": "Snap query result to HOS day boundaries.",
                "required": false,
                "in": "query",
                "type": "boolean"
              },
              {
                "name": "driversSummaryParam",
                "description": "Org ID and time range to query.",
                "required": true,
                "in": "body",
                "schema": {
                  "type": "object",
                  "required": [
                    "orgId",
                    "startMs",
                    "endMs"
                  ],
                  "properties": {
                    "orgId": {
                      "type": "integer",
                      "format": "int64",
                      "description": "Org ID to query.",
                      "example": 101
                    },
                    "startMs": {
                      "type": "integer",
                      "format": "int64",
                      "description": "Start time (ms) of queried time period.",
                      "example": 1481076243389
                    },
                    "endMs": {
                      "type": "integer",
                      "format": "int64",
                      "description": "End time (ms) of queried time period.",
                      "example": 1481076244389
                    }
                  }
                }
              }
            ],
            "responses": {
              "200": {
                "description": "Distance traveled and time active for each driver in the organization over the specified time period.",
                "schema": {
                  "$ref": "#/definitions/DriversSummaryResponse"
                }
              },
              "default": {
                "description": "Unexpected error.",
                "schema": {
                  "$ref": "#/definitions/ErrorResponse"
                }
              }
            }
          }
        },
        "/fleet/drivers/{driver_id}/hos_daily_logs": {
          "post": {
            "tags": [
              "Fleet", "Default"
            ],
            "summary": "/fleet/drivers/{driver_id:[0-9]+}/hos_daily_logs",
            "description": "Get summarized daily HOS charts for a specified driver.",
            "operationId": "get_fleet_drivers_hos_daily_logs",
            "parameters": [
                {
                    "$ref": "#/parameters/accessTokenParam"
                },
                {
                    "name": "driver_id",
                    "in": "path",
                    "required": true,
                    "description": "ID of the driver with HOS logs.",
                    "type": "integer",
                    "format": "int64"
                },
                {
                    "name": "hosLogsParam",
                    "required": true,
                    "in": "body",
                    "schema": {
                        "type": "object",
                        "required": [
                            "groupId",
                            "driverId",
                            "startMs",
                            "endMs"
                        ],
                        "properties": {
                            "groupId": {
                                "type": "integer",
                                "format": "int64",
                                "description": "Group ID to query.",
                                "example": 101
                            },
                            "driverId": {
                                "type": "integer",
                                "format": "int64",
                                "description": "Driver ID to query.",
                                "example": 444
                            },
                            "startMs": {
                                "type": "integer",
                                "description": "Beginning of the time range, specified in milliseconds UNIX time.",
                                "example": 1462878398034
                            },
                            "endMs": {
                                "type": "integer",
                                "description": "End of the time range, specified in milliseconds UNIX time.",
                                "example": 1462881998034
                            }
                        }
                    }
                }
            ],
            "responses": {
              "200": {
                "description": "Distance traveled and time active for each driver in the organization over the specified time period.",
                "schema": {
                  "$ref": "#/definitions/DriverDailyLogResponse"
                }
              },
              "default": {
                "description": "Unexpected error.",
                "schema": {
                  "$ref": "#/definitions/ErrorResponse"
                }
              }
            }
          }
        },
        "/fleet/hos_logs": {
            "post": {
                "tags": [
                    "Fleet", "Default"
                ],
                "summary": "/fleet/hos_logs",
                "description": "Get the HOS (hours of service) logs for the specified driver.",
                "operationId": "get_fleet_hos_logs",
                "parameters": [
                    {
                        "$ref": "#/parameters/accessTokenParam"
                    },
                    {
                        "name": "hosLogsParam",
                        "required": true,
                        "in": "body",
                        "schema": {
                            "type": "object",
                            "required": [
                                "groupId",
                                "driverId",
                                "startMs",
                                "endMs"
                            ],
                            "properties": {
                                "groupId": {
                                    "type": "integer",
                                    "format": "int64",
                                    "description": "Group ID to query.",
                                    "example": 101
                                },
                                "driverId": {
                                    "type": "integer",
                                    "format": "int64",
                                    "description": "Driver ID to query.",
                                    "example": 444
                                },
                                "startMs": {
                                    "type": "integer",
                                    "description": "Beginning of the time range, specified in milliseconds UNIX time.",
                                    "example": 1462878398034
                                },
                                "endMs": {
                                    "type": "integer",
                                    "description": "End of the time range, specified in milliseconds UNIX time.",
                                    "example": 1462881998034
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "HOS logs for the specified driver.",
                        "schema": {
                            "$ref": "#/definitions/HosLogsResponse"
                        }
                    },
                    "default": {
                        "description": "Unexpected error.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/fleet/hos_logs_summary": {
            "post": {
                "tags": [
                    "Fleet", "Default"
                ],
                "summary": "/fleet/hos_logs_summary",
                "description": "Get the current HOS status for all drivers in the group.",
                "operationId": "get_fleet_hos_logs_summary",
                "parameters": [
                    {
                        "$ref": "#/parameters/accessTokenParam"
                    },
                    {
                        "name": "hosLogsParam",
                        "required": true,
                        "in": "body",
                        "schema": {
                            "type": "object",
                            "required": [
                                "groupId"
                            ],
                            "properties": {
                                "groupId": {
                                    "type": "integer",
                                    "format": "int64",
                                    "description": "Group ID to query.",
                                    "example": 101
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "HOS logs for the specified driver.",
                        "schema": {
                            "$ref": "#/definitions/HosLogsSummaryResponse"
                        }
                    },
                    "default": {
                        "description": "Unexpected error.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/fleet/maintenance/dvirs": {
            "get": {
                "tags": [
                    "Fleet","Default"
                ],
                "summary": "/fleet/maintenance/dvirs",
                "description": "Get the DVIR for the org with the time constraints",
                "operationId": "get_dvirs",
                "parameters": [
                    {
                        "$ref": "#/parameters/accessTokenParam"
                    },
                    {
                        "name": "end_ms",
                        "description": "time in millis until the last dvir log.",
                        "required": true,
                        "in": "query",
                        "type": "integer"
                    },
                    {
                        "name": "duration_ms",
                        "description": "time in millis which corresponds to the duration before the end_ms.",
                        "required": true,
                        "in": "query",
                        "type": "integer"
                    },
                    {
                        "name": "group_id",
                        "description": "Group ID to query.",
                        "required": false,
                        "in": "query",
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "DVIR's for the specified group and duration.",
                        "schema": {
                            "$ref": "#/definitions/DvirListResponse"
                        }
                    },
                    "default": {
                        "description": "Unexpected error.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/fleet/hos_authentication_logs": {
            "post": {
                "tags": [
                    "Fleet", "Default"
                ],
                "summary": "/fleet/hos_authentication_logs",
                "description": "Get the HOS (hours of service) signin and signout logs for the specified driver. Only signout logs include location information.",
                "operationId": "get_fleet_hos_authentication_logs",
                "parameters": [
                    {
                        "$ref": "#/parameters/accessTokenParam"
                    },
                    {
                        "name": "hosAuthenticationLogsParam",
                        "required": true,
                        "in": "body",
                        "schema": {
                            "type": "object",
                            "required": [
                                "groupId",
                                "driverId",
                                "startMs",
                                "endMs"
                            ],
                            "properties": {
                                "groupId": {
                                    "type": "integer",
                                    "format": "int64",
                                    "description": "Group ID to query.",
                                    "example": 101
                                },
                                "driverId": {
                                    "type": "integer",
                                    "format": "int64",
                                    "description": "Driver ID to query.",
                                    "example": 444
                                },
                                "startMs": {
                                    "type": "integer",
                                    "description": "Beginning of the time range, specified in milliseconds UNIX time.",
                                    "example": 1462878398034
                                },
                                "endMs": {
                                    "type": "integer",
                                    "description": "End of the time range, specified in milliseconds UNIX time.",
                                    "example": 1462881998034
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "HOS authentication logs for the specified driver.",
                        "schema": {
                            "$ref": "#/definitions/HosAuthenticationLogsResponse"
                        }
                    },
                    "default": {
                        "description": "Unexpected error.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/fleet/maintenance/list": {
            "post": {
                "tags": [
                    "Fleet", "Default"
                ],
                "summary": "/fleet/maintenance/list",
                "description": "Get list of the vehicles with any engine faults or check light data.",
                "operationId": "get_fleet_maintenance_list",
                "parameters": [
                    {
                        "$ref": "#/parameters/accessTokenParam"
                    },
                    {
                        "$ref": "#/parameters/groupParam"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of vehicles and maintenance information about each.",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "vehicles": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/definitions/VehicleMaintenance"
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/fleet/add_address": {
            "post": {
                "tags": [
                    "Fleet", "Default"
                ],
                "summary": "/fleet/add_address",
                "description": "This method adds an address book entry to the specified group.",
                "operationId": "add_fleet_address",
                "parameters": [
                    {
                        "$ref": "#/parameters/accessTokenParam"
                    },
                    {
                        "name": "addressParam",
                        "required": true,
                        "in": "body",
                        "schema": {
                            "type": "object",
                            "required": [
                                "groupId",
                                "name",
                                "address",
                                "radius"
                            ],
                            "properties": {
                                "groupId": {
                                    "type": "integer",
                                    "description": "Group ID to query.",
                                    "format": "int64",
                                    "example": 101
                                },
                                "name": {
                                    "type": "string",
                                    "description": "Name of the location to add to the address book.",
                                    "example": "HQ"
                                },
                                "address": {
                                    "type": "string",
                                    "description": "The address of the entry to add, as it would be recognized if provided to maps.google.com.",
                                    "example": "501 York St"
                                },
                                "radius": {
                                    "type": "integer",
                                    "description": "Radius in meters of the address (used for matching vehicle trip stops to this location).",
                                    "example": 10
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Address was successfully added. No response body is returned."
                    },
                    "default": {
                        "description": "Unexpected error.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/fleet/set_data": {
            "post": {
                "tags": [
                    "Fleet", "Default"
                ],
                "summary": "/fleet/set_data",
                "description": "This method enables the mutation of metadata for vehicles in the Samsara Cloud.",
                "operationId": "update_vehicles",
                "parameters": [
                    {
                        "$ref": "#/parameters/accessTokenParam"
                    },
                    {
                        "name": "vehicleUpdateParam",
                        "required": true,
                        "in": "body",
                        "schema": {
                            "type": "object",
                            "required": [
                                "groupId",
                                "vehicles"
                            ],
                            "properties": {
                                "groupId": {
                                    "type": "integer",
                                    "description": "Group ID to query.",
                                    "format": "int64",
                                    "example": 101
                                },
                                "vehicles": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/definitions/Vehicle"
                                    }
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Vehicles were successfully updated. No response body is returned."
                    },
                    "default": {
                        "description": "Unexpected error.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/fleet/dispatch/routes": {
            "get": {
                "tags": [
                    "Default", "Fleet", "Routes"
                ],
                "summary": "/fleet/dispatch/routes",
                "description": "Fetch all of the dispatch routes for the group.",
                "operationId": "fetchAllDispatchRoutes",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    { "$ref": "#/parameters/accessTokenParam" },
                    { "$ref": "#/parameters/groupIdParam" },
                    { "$ref": "#/parameters/routeEndTimeParam" },
                    { "$ref": "#/parameters/routeDurationParam" }
                ],
                "responses": {
                    "200": {
                        "description": "All dispatch route objects for the group.",
                        "schema": {
                            "$ref": "#/definitions/DispatchRoutes"
                        }
                    },
                    "default": {
                        "description": "Unexpected error.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Default", "Fleet", "Routes"
                ],
                "summary": "/fleet/dispatch/routes",
                "description": "Create a new dispatch route.",
                "operationId": "createDispatchRoute",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "$ref": "#/parameters/accessTokenParam"
                    },
                    {
                        "$ref": "#/parameters/routeCreateParam"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Created route object including the new route ID.",
                        "schema": {
                            "$ref": "#/definitions/DispatchRoute"
                        }
                    },
                    "default": {
                        "description": "Unexpected error.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/fleet/dispatch/routes/job_updates": {
            "get": {
                "tags": [
                    "Fleet", "Routes", "Default"
                ],
                "summary": "/fleet/dispatch/routes/job_updates",
                "description": "Fetch all updates to a job including route data in the last 24 hours or subsequent to an sequence ID",
                "operationId": "fetchAllRouteJobUpdates",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    { "$ref": "#/parameters/accessTokenParam" },
                    { "$ref": "#/parameters/groupIdParam" },
                    { "$ref": "#/parameters/lastReceivedSequenceIDParam" },
                    { "$ref": "#/parameters/jobUpdatesIncludeParam" }
                ],
                "responses": {
                    "200": {
                        "description": "All job updates on routes.",
                        "schema": {
                            "$ref": "#/definitions/allRouteJobUpdates"
                        }
                    },
                    "default": {
                        "description": "Unexpected error.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/fleet/dispatch/routes/{route_id}": {
            "parameters": [
                {
                    "$ref": "#/parameters/accessTokenParam"
                },
                {
                    "name": "route_id",
                    "in": "path",
                    "required": true,
                    "description": "ID of the dispatch route.",
                    "type": "integer",
                    "format": "int64"
                }
            ],
            "get": {
                "tags": [
                    "Default",
                    "Fleet",
                    "Routes"
                ],
                "summary": "/fleet/dispatch/routes/{route_id:[0-9]+}",
                "description": "Fetch a dispatch route by id.",
                "operationId": "getDispatchRouteById",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "The dispatch route corresponding to route_id.",
                        "schema": {
                            "$ref": "#/definitions/DispatchRoute"
                        }
                    },
                    "default": {
                        "description": "Unexpected error.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Default", "Fleet", "Routes"
                ],
                "summary": "/fleet/dispatch/routes/{route_id:[0-9]+}/",
                "description": "Update a dispatch route and its associated jobs.",
                "operationId": "updateDispatchRouteById",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "$ref": "#/parameters/routeUpdateParam"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Update the dispatch route. Allowable updates include setting job state, adding or removing jobs, and changing job locations and times.",
                        "schema": {
                            "$ref": "#/definitions/DispatchRoute"
                        }
                    },
                    "default": {
                        "description": "Unexpected error.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Default", "Fleet", "Routes"
                ],
                "summary": "/fleet/dispatch/routes/{route_id:[0-9]+}/",
                "description": "Delete a dispatch route and its associated jobs.",
                "operationId": "deleteDispatchRouteById",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "Successfully deleted the dispatch route. No response body is returned."
                    },
                    "default": {
                        "description": "Unexpected error.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/fleet/dispatch/routes/{route_id}/history": {
            "get": {
                "tags": [
                    "Default",
                    "Fleet",
                    "Routes"
                ],
                "summary": "/fleet/dispatch/routes/{route_id:[0-9]+}/history",
                "description": "Fetch the history of a dispatch route.",
                "operationId": "getDispatchRouteHistory",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    { "$ref": "#/parameters/accessTokenParam" },
                    { "$ref": "#/parameters/routeHistoryStartTimeParam" },
                    { "$ref": "#/parameters/routeHistoryEndTimeParam" },
                    {
                        "name": "route_id",
                        "in": "path",
                        "required": true,
                        "description": "ID of the route with history.",
                        "type": "integer",
                        "format": "int64"
                    }
               ],
                "responses": {
                    "200": {
                        "description": "The historical route state changes between start_time and end_time.",
                        "schema": {
                            "$ref": "#/definitions/DispatchRouteHistory"
                        }
                    },
                    "default": {
                        "description": "Unexpected error.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/fleet/drivers/{driver_id}/dispatch/routes": {
            "parameters": [
                {
                    "$ref": "#/parameters/accessTokenParam"
                },
                {
                    "name": "driver_id",
                    "in": "path",
                    "required": true,
                    "description": "ID of the driver with the associated routes.",
                    "type": "integer",
                    "format": "int64"
                }
            ],
            "get": {
                "tags": [
                    "Default",
                    "Fleet",
                    "Routes"
                ],
                "summary": "/fleet/drivers/{driver_id:[0-9]+}/dispatch/routes",
                "description": "Fetch all of the dispatch routes for a given driver.",
                "operationId": "getDispatchRoutesByDriverId",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    { "$ref": "#/parameters/routeEndTimeParam" },
                    { "$ref": "#/parameters/routeDurationParam" }
                ],
                "responses": {
                    "200": {
                        "description": "Returns the dispatch routes for the given driver_id.",
                        "schema": {
                            "$ref": "#/definitions/DispatchRoutes"
                        }
                    },
                    "default": {
                        "description": "Unexpected error.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Default", "Fleet", "Routes"
                ],
                "summary": "/fleet/drivers/{driver_id:[0-9]+}/dispatch/routes",
                "description": "Create a new dispatch route for the driver with driver_id.",
                "operationId": "createDriverDispatchRoute",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    { "$ref": "#/parameters/routeCreateParam" }
                ],
                "responses": {
                    "200": {
                        "description": "Created route object including the new route ID.",
                        "schema": {
                            "$ref": "#/definitions/DispatchRoute"
                        }
                    },
                    "default": {
                        "description": "Unexpected error.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
      "/fleet/vehicles/locations": {
          "parameters": [
            {
              "$ref": "#/parameters/accessTokenParam"
            },
            {
              "name": "startMs",
              "description": "Time in Unix epoch milliseconds for the start of the query (cannot exceed 30 minutes)",
              "required": true,
              "in": "query",
              "type": "integer"
            },
            {
              "name": "endMs",
              "description": "Time in Unix epoch milliseconds for the end of the query (cannot exceed 30 minutes)",
              "required": true,
              "in": "query",
              "type": "integer"
            }
          ],
          "get": {
            "tags": [
              "Default",
              "Fleet"
            ],
            "summary": "/fleet/vehicles/locations",
            "description": "Fetch locations for a given vehicle between a start/end time. The maximum query duration is 30 minutes.",
            "operationId": "getVehiclesLocations",
            "consumes": [
              "application/json"
            ],
            "produces": [
              "application/json"
            ],
            "responses": {
              "200": {
                "description": "Returns locations for a given vehicle between a start/end time, with a maximum query duration of 30 minutes.",
                "schema": {
                  "$ref": "#/definitions/FleetVehiclesLocations"
                }
              },
              "default": {
                "description": "Unexpected error.",
                "schema": {
                  "$ref": "#/definitions/ErrorResponse"
                }
              }
            }
          }
        },
        "/fleet/vehicles/{vehicle_id}/dispatch/routes": {
            "parameters": [
                {
                    "$ref": "#/parameters/accessTokenParam"
                },
                {
                    "name": "vehicle_id",
                    "in": "path",
                    "required": true,
                    "description": "ID of the vehicle with the associated routes.",
                    "type": "integer",
                    "format": "int64"
                }
            ],
            "get": {
                "tags": [
                    "Default",
                    "Fleet",
                    "Routes"
                ],
                "summary": "/fleet/vehicles/{vehicle_id:[0-9]+}/dispatch/routes",
                "description": "Fetch all of the dispatch routes for a given vehicle.",
                "operationId": "getDispatchRoutesByVehicleId",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    { "$ref": "#/parameters/routeEndTimeParam" },
                    { "$ref": "#/parameters/routeDurationParam" }
                ],
                "responses": {
                    "200": {
                        "description": "Returns all of the dispatch routes for the given vehicle_id.",
                        "schema": {
                            "$ref": "#/definitions/DispatchRoutes"
                        }
                    },
                    "default": {
                        "description": "Unexpected error.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Default", "Fleet", "Routes"
                ],
                "summary": "/fleet/vehicles/{vehicle_id:[0-9]+}/dispatch/routes",
                "description": "Create a new dispatch route for the vehicle with vehicle_id.",
                "operationId": "createVehicleDispatchRoute",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    { "$ref": "#/parameters/routeCreateParam" }
                ],
                "responses": {
                    "200": {
                        "description": "Created route object including the new route ID.",
                        "schema": {
                            "$ref": "#/definitions/DispatchRoute"
                        }
                    },
                    "default": {
                        "description": "Unexpected error.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/fleet/vehicles/{vehicle_id}/locations": {
          "parameters": [
            {
              "$ref": "#/parameters/accessTokenParam"
            },
            {
              "name": "vehicle_id",
              "in": "path",
              "required": true,
              "description": "ID of the vehicle with the associated routes.",
              "type": "integer",
              "format": "int64"
            },
            {
              "name": "startMs",
              "description": "Time in Unix epoch milliseconds for the start of the query (cannot exceed 1 hour)",
              "required": true,
              "in": "query",
              "type": "integer",
              "format": "int64"
            },
            {
              "name": "endMs",
              "description": "Time in Unix epoch milliseconds for the end of the query (cannot exceed 1 hour)",
              "required": true,
              "in": "query",
              "type": "integer",
              "format": "int64"
            }
          ],
          "get": {
            "tags": [
              "Default",
              "Fleet"
            ],
            "summary": "/fleet/vehicles/{vehicle_id:[0-9]+}/locations",
            "description": "Fetch locations for a given vehicle between a start/end time. The maximum query duration is one hour.",
            "operationId": "getVehicleLocations",
            "consumes": [
              "application/json"
            ],
            "produces": [
              "application/json"
            ],
            "responses": {
              "200": {
                "description": "Returns locations for a given vehicle between a start/end time, with a maximum query duration of one hour.",
                "schema": {
                  "$ref": "#/definitions/FleetVehicleLocations"
                }
              },
              "default": {
                "description": "Unexpected error.",
                "schema": {
                  "$ref": "#/definitions/ErrorResponse"
                }
              }
            }
          }
        },
        "/fleet/drivers/documents": {
            "parameters": [
                {
                    "$ref": "#/parameters/accessTokenParam"
                }
            ],
            "get": {
                "tags": [
                    "Default",
                    "Fleet"
                ],
                "summary": "/fleet/drivers/documents",
                "description": "Fetch all of the documents.",
                "operationId": "getDriverDocumentsByOrgId",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    { "$ref": "#/parameters/documentsEndMsParam" },
                    { "$ref": "#/parameters/documentsDurationMsParam" }
                ],
                "responses": {
                    "200": {
                        "description": "Returns all of the documents.",
                        "schema": {
                            "$ref": "#/definitions/Documents"
                        }
                    },
                    "default": {
                        "description": "Unexpected error.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/fleet/drivers/document_types": {
            "get": {
                "tags": [
                    "Default",
                    "Fleet"
                ],
                "summary": "/fleet/drivers/document_types",
                "description": "Fetch all of the document types.",
                "operationId": "getDriverDocumentTypesByOrgId",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "Returns all of the document types.",
                        "schema": {
                            "$ref": "#/definitions/DocumentTypes"
                        }
                    },
                    "default": {
                        "description": "Unexpected error.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/fleet/drivers/{driver_id}/documents": {
            "parameters": [
                {
                    "$ref": "#/parameters/accessTokenParam"
                },
                {
                    "name": "driver_id",
                    "in": "path",
                    "required": true,
                    "description": "ID of the driver for whom the document is created.",
                    "type": "integer",
                    "format": "int64"
                }
            ],
            "post": {
                "tags": [
                    "Default",
                    "Fleet"
                ],
                "summary": "/fleet/drivers/{driver_id:[0-9]+}/documents",
                "description": "Create a driver document for the given driver.",
                "operationId": "createDriverDocument",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    { "$ref": "#/parameters/documentCreateParam" }
                ],
                "responses": {
                    "200": {
                        "description": "Returns the created document.",
                        "schema": {
                            "$ref": "#/definitions/Document"
                        }
                    },
                    "default": {
                        "description": "Unexpected error.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/machines/list": {
            "post": {
                "tags": [
                    "Industrial", "Default"
                ],
                "summary": "/machines/list",
                "description": "Get machine objects. This method returns a list of the machine objects in the Samsara Cloud and information about them.",
                "operationId": "get_machines",
                "parameters": [
                    {
                        "$ref": "#/parameters/accessTokenParam"
                    },
                    {
                        "$ref": "#/parameters/groupParam"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of machine objects.",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "machines": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/definitions/Machine"
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/machines/history": {
            "post": {
                "tags": [
                    "Industrial", "Default"
                ],
                "summary": "/machines/history",
                "description": "Get historical data for machine objects. This method returns a set of historical data for all machines in a group",
                "operationId": "get_machines_history",
                "parameters": [
                    {
                        "$ref": "#/parameters/accessTokenParam"
                    },
                    {
                        "name": "historyParam",
                        "description": "Group ID and time range to query for events",
                        "required": true,
                        "in": "body",
                        "schema":{
                            "type": "object",
                            "required": [
                                "groupId",
                                "startMs",
                                "endMs"
                            ],
                            "properties":{
                                "groupId": {
                                    "type": "integer",
                                    "description": "Group ID to query.",
                                    "format": "int64",
                                    "example": 101
                                },
                                "startMs": {
                                    "type": "integer",
                                    "description": "Beginning of the time range, specified in milliseconds UNIX time.",
                                    "example": 1462878398034
                                },
                                "endMs": {
                                    "type": "integer",
                                    "description": "End of the time range, specified in milliseconds UNIX time.",
                                    "example": 1462881998034
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of machine results objects, each containing a time and a datapoint.",
                        "schema": {
                            "$ref": "#/definitions/MachineHistoryResponse"
                        }
                    },
                    "default": {
                        "description": "Unexpected error.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/industrial/data": {
            "get": {
                "tags": [
                    "Industrial", "Default"
                ],
                "summary": "/industrial/data",
                "description": "Fetch all of the data inputs for a group.",
                "operationId": "GetAllDataInputs",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    { "$ref": "#/parameters/accessTokenParam" },
                    { "$ref": "#/parameters/groupIdParam" },
                    { "$ref": "#/parameters/dataInputStartTimeParam"},
                    { "$ref": "#/parameters/dataInputEndTimeParam"}
                ],
                "responses": {
                    "200": {
                        "description": "List of data inputs.",
                        "schema": {
                            "type": "object",
                            "properties":{
                                "dataInputs":{
                                    "type": "array",
                                    "items":{
                                        "$ref": "#/definitions/DataInputHistoryResponse"
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/industrial/data/{data_input_id}": {
            "get": {
                "tags": [
                    "Industrial", "Default"
                ],
                "summary": "/industrial/data/{data_input_id:[0-9]+}",
                "description": "Fetch datapoints from a given data input.",
                "operationId": "GetDataInput",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    { "$ref": "#/parameters/accessTokenParam" },
                    { "$ref": "#/parameters/dataInputIdParam"},
                    { "$ref": "#/parameters/dataInputStartTimeParam"},
                    { "$ref": "#/parameters/dataInputEndTimeParam"}
                ],
                "responses": {
                    "200": {
                        "description": "Returns datapoints for the given data input",
                        "schema": {
                            "$ref": "#/definitions/DataInputHistoryResponse"
                        }
                    },
                    "default": {
                        "description": "Unexpected error.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/tags": {
            "get": {
                "tags": [
                    "Default"
                ],
                "summary": "/tags",
                "description": "Fetch all of the tags for a group.",
                "operationId": "GetAllTags",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    { "$ref": "#/parameters/accessTokenParam" },
                    { "$ref": "#/parameters/groupParam" }
                ],
                "responses": {
                    "200": {
                        "description": "List of tags.",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "tags": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/definitions/Tag"
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Default"
                ],
                "summary": "/tags",
                "description": "Create a new tag for the group.",
                "operationId": "CreateTag",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    { "$ref": "#/parameters/accessTokenParam" },
                    { "$ref": "#/parameters/tagCreateParam" }
                ],
                "responses": {
                    "200": {
                        "description": "Newly created tag object, including the new tag ID.",
                        "schema": {
                            "$ref": "#/definitions/Tag"
                        }
                    },
                    "default": {
                        "description": "Unexpected error.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/tags/{tag_id}": {
            "get": {
                "tags": [
                    "Default"
                ],
                "summary": "/tags/{tag_id:[0-9]+}",
                "description": "Fetch a tag by id.",
                "operationId": "getTagById",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "$ref": "#/parameters/accessTokenParam"
                    },
                    {
                        "$ref": "#/parameters/tagPathParam"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The tag corresponding to tag_id.",
                        "schema": {
                            "$ref": "#/definitions/Tag"
                        }
                    },
                    "default": {
                        "description": "Unexpected error.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            },
            "patch": {
                "tags": [
                    "Default"
                ],
                "summary": "/tags/{tag_id:[0-9]+}",
                "description": "Add or delete specific members from a tag, or modify the name of a tag.",
                "operationId": "modifyTagById",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "$ref": "#/parameters/accessTokenParam"
                    },
                    {
                        "$ref": "#/parameters/tagPathParam"
                    },
                    {
                        "$ref": "#/parameters/tagModifyParam"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The updated tag data.",
                        "schema": {
                            "$ref": "#/definitions/Tag"
                        }
                    },
                    "default": {
                        "description": "Unexpected error.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Default"
                ],
                "summary": "/tags/{tag_id:[0-9]+}",
                "description": "Update a tag with a new name and new members. This API call would replace all old members of a tag with new members specified in the request body. To modify only a few devices associated with a tag use the PATCH endpoint.",
                "operationId": "updateTagById",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "$ref": "#/parameters/accessTokenParam"
                    },
                    {
                        "$ref": "#/parameters/tagPathParam"
                    },
                    {
                        "$ref": "#/parameters/tagUpdateParam"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The updated tag data.",
                        "schema": {
                            "$ref": "#/definitions/Tag"
                        }
                    },
                    "default": {
                        "description": "Unexpected error.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Default"
                ],
                "summary": "/tags/{tag_id:[0-9]+}",
                "description": "Permanently deletes a tag.",
                "operationId": "deleteTagById",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "$ref": "#/parameters/accessTokenParam"
                    },
                    {
                        "$ref": "#/parameters/tagPathParam"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully deleted the tag. No response body is returned."
                    },
                    "default": {
                        "description": "Unexpected error.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/fleet/assets": {
            "get": {
                "tags": [
                    "Default", "Fleet", "Assets"
                ],
                "summary": "/fleet/assets",
                "description": "Fetch all of the assets for the group.",
                "operationId": "GetAllAssets",
                "parameters": [
                    { "$ref": "#/parameters/accessTokenParam" },
                    { "$ref": "#/parameters/groupParam" }
                ],
                "responses": {
                    "200": {
                        "description": "List of assets.",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "assets": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/definitions/Asset"
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/fleet/assets/locations": {
            "get": {
                "tags": [
                    "Default", "Fleet", "Assets"
                ],
                "summary": "/fleet/assets/locations",
                "description": "Fetch current locations of all assets for the group.",
                "operationId": "GetAllAssetCurrentLocations",
                "parameters": [
                    { "$ref": "#/parameters/accessTokenParam" },
                    { "$ref": "#/parameters/groupParam" }
                ],
                "responses": {
                    "200": {
                        "description": "List of assets and their current locations.",
                        "schema": {
                            "type": "object",
[...]
