{
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "schemes": [
    "https"
  ],
  "swagger": "2.0",
  "info": {
    "description": "\u003cstyle type=\"text/css\"\u003e\nn {\n    padding: 1em;\n    width: 100%;\n    display: block;\n    margin: 28px 0;\n}\nn.info {\n    background-color: rgba(0, 51, 160, 0.1);\n}\nn.warning {\n    background-color: #fdf6e3;\n}\ni:before {\n    margin-right: 6px;\n}\nnh {\n    font-size: 1.5rem;\n    font-weight: 700;\n    line-height: 1.1;\n    display: block;\n}\nnb {\n    margin-top: 10px;\n    padding-left: 22px;\n    display: block;\n}\n\u003c/style\u003e\n\n# Overview\n\n\u003cn class=\"info\"\u003e\n\u003cnh\u003e\n\u003ci class=\"fa fa-info-circle\"\u003e\u003c/i\u003e\nSomething new!\n\u003c/nh\u003e\n\u003cnb\u003e\nWelcome Samsara's new and improved API. Check out our FAQ [here](https://developers.samsara.com/docs/introducing-our-next-generation-api) to see what's changed and learn how to get started.\u003cbr\u003e\n\u003cbr\u003e\nWant to access the legacy API docs? You can find them [here](https://www.samsara.com/api-legacy).\u003cbr\u003e\n\u003cbr\u003e\n*Note: Because this is a new set of APIs, we have not transitioned all endpoints over to this standard. Endpoints that still use the legacy standards are indicated in the reference documentation. If you can't find an API that you're looking for, we encourage you to look for it in our [legacy API docs](https://www.samsara.com/api-legacy) as we continue to transition all endpoints over. Check back here for updates!*\u003cbr\u003e\n\u003cbr\u003e\nSubmit your feedback [here](https://forms.gle/r4bs6HQshQAvBuwv6)!\n\u003c/nb\u003e\n\u003c/n\u003e\n\nSamsara provides API endpoints so that you can build powerful applications and custom solutions with sensor data. Samsara has endpoints available to track and analyze sensors, vehicles, and entire fleets.\n\nThe Samsara API is a [RESTful API](https://en.wikipedia.org/wiki/Representational_state_transfer). It uses standard [HTTP](https://en.wikipedia.org/wiki/Hypertext_Transfer_Protocol) authentication, verbs, and response codes, and it returns [JSON](http://www.json.org/) response bodies. If you're familiar with what you can build with a REST API, then this will be your go-to API reference.\n\nVisit [developers.samsara.com](https://developers.samsara.com) to find getting started guides and an API overview.\n\nIf you have any questions, please visit https://samsara.com/help.\n\n## Endpoints\n\nAll our APIs can be accessed through HTTP requests to URLs like:\n\n```\nhttps://api.samsara.com/\u003cendpoint\u003e\n```\n\nFor EU customers, this URL will be:\n\n```\nhttps://api.eu.samsara.com/\u003cendpoint\u003e\n```\n\n\u003cn class=\"warning\"\u003e\n\u003cnh\u003e\n\u003ci class=\"fa fa-exclamation-circle\"\u003e\u003c/i\u003e\nNote\n\u003c/nh\u003e\n\u003cnb\u003e\nLegacy endpoints will have the URL: `https://api.samsara.com/v1/\u003cendpoint\u003e` or `https://api.eu.samsara.com/v1/\u003cendpoint\u003e`\n\u003c/nb\u003e\n\u003c/n\u003e\n\n## Authentication\n\nTo authenticate your API request you will need to include your secret token. You can manage your API tokens in the [Dashboard](https://cloud.samsara.com). They are visible under `Settings-\u003eOrganization-\u003eAPI Tokens`.\n\nYour API tokens carry many privileges, so be sure to keep them secure. Do not share your secret API tokens in publicly accessible areas such as GitHub, client-side code, and so on.\n\nAuthentication to the API is performed via Bearer Token in the HTTP Authorization header. Provide your API token as the `access_token` value in an `Authorization: Bearer` header. You do not need to provide a password:\n\n```curl\nAuthorization: Bearer {access_token}\n```\n\nAll API requests must be made over [HTTPS](https://en.wikipedia.org/wiki/HTTPS). Calls made over plain HTTP or without authentication will fail.\n\n### OAuth2\nIf building an application for our marketplace, our API is accessible via. OAuth2 as well.\n\n| Type  | Value |\n| ------------- |:-------------:|\n| Security scheme      | OAuth2                                   |\n| OAuth2 Flow          | accessCode                               |\n| Authorization URL    | https://api.samsara.com/oauth2/authorize |\n| Token URL            | https://api.samsara.com/oauth2/token     |\n\n\n\n## Common Patterns\n\nYou can find more info about request methods, response codes, error codes, versioning, pagination, timestamps, and mini-objects [here](https://developers.samsara.com/docs/common-structures).\n",
    "title": "Samsara API",
    "version": "2021-06-09"
  },
  "host": "api.samsara.com",
  "paths": {
    "/addresses": {
      "get": {
        "description": "Returns a list of all addresses in an organization. \n\n **Submit Feedback**: Likes, dislikes, and API feature requests should be filed as feedback in our \u003ca href=\"https://forms.gle/zkD4NCH7HjKb7mm69\" target=\"_blank\"\u003eAPI feedback form\u003c/a\u003e. If you encountered an issue or noticed inaccuracies in the API documentation, please \u003ca href=\"https://www.samsara.com/help\" target=\"_blank\"\u003esubmit a case\u003c/a\u003e to our support team.",
        "tags": [
          "Addresses"
        ],
        "summary": "List all addresses",
        "operationId": "listAddresses",
        "parameters": [
          {
            "maximum": 512,
            "minimum": 1,
            "type": "integer",
            "format": "int64",
            "description": "The limit for how many objects will be in the response. Default and max for this value is 512 objects.",
            "name": "limit",
            "in": "query"
          },
          {
            "type": "string",
            "description": "If specified, this should be the endCursor value from the previous page of results. When present, this request will return the next page of results that occur immediately after the previous page of results.",
            "name": "after",
            "in": "query"
          },
          {
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "csv",
            "description": "A filter on the data based on this comma-separated list of parent tag IDs, for use by orgs with tag hierarchies. Specifying a parent tag will implicitly include all descendent tags of the parent tag. Example: `parentTagIds=345,678`",
            "name": "parentTagIds",
            "in": "query"
          },
          {
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "csv",
            "description": "A filter on the data based on this comma-separated list of tag IDs. Example: `tagIds=1234,5678`",
            "name": "tagIds",
            "in": "query"
          },
          {
            "type": "string",
            "description": "A filter on data to have a created at time after or equal to this specified time in RFC 3339 format. Millisecond precision and timezones are supported. (Examples: 2019-06-13T19:08:25Z, 2019-06-13T19:08:25.455Z, OR 2015-09-15T14:00:12-04:00).",
            "name": "createdAfterTime",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "List of all addresses in the organization",
            "schema": {
              "$ref": "#/definitions/ListAddressesResponse"
            },
            "examples": {
              "application/json": {
                "data": [
                  {
                    "addressTypes": [
                      "yard"
                    ],
                    "contacts": [
                      {
                        "firstName": "Jane",
                        "id": "22408",
                        "lastName": "Jones"
                      }
                    ],
                    "createdAtTime": "2019-05-18T20:27:35Z",
                    "externalIds": {
                      "maintenanceId": "250020",
                      "payrollId": "ABFS18600"
                    },
                    "formattedAddress": "350 Rhode Island St, San Francisco, CA",
                    "geofence": {
                      "circle": {
                        "latitude": 37.765363,
                        "longitude": -122.4029238,
                        "radiusMeters": 25
                      },
                      "polygon": {
                        "vertices": [
                          {
                            "latitude": 37.765363,
                            "longitude": -122.403098
                          },
                          {
                            "latitude": 38.765363,
                            "longitude": -122.403098
                          },
                          {
                            "latitude": 37.765363,
                            "longitude": -123.403098
                          }
                        ]
                      }
                    },
                    "id": "22408",
                    "latitude": 37.765363,
                    "longitude": -122.4029238,
                    "name": "Samsara HQ",
                    "notes": "Hours of operation: 8am - 6pm; Truck entrance on the Rhode Island street side.",
                    "tags": [
                      {
                        "id": "3914",
                        "name": "East Coast",
                        "parentTagId": "4815"
                      }
                    ]
                  }
                ],
                "pagination": {
                  "endCursor": "MjkY",
                  "hasNextPage": true
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "schema": {
              "$ref": "#/definitions/standardErrorResponse"
            }
          }
        }
      },
      "post": {
        "description": "Creates a new address in the organization. \n\n **Submit Feedback**: Likes, dislikes, and API feature requests should be filed as feedback in our \u003ca href=\"https://forms.gle/zkD4NCH7HjKb7mm69\" target=\"_blank\"\u003eAPI feedback form\u003c/a\u003e. If you encountered an issue or noticed inaccuracies in the API documentation, please \u003ca href=\"https://www.samsara.com/help\" target=\"_blank\"\u003esubmit a case\u003c/a\u003e to our support team.",
        "tags": [
          "Addresses"
        ],
        "summary": "Create an address",
        "operationId": "createAddress",
        "parameters": [
          {
            "description": "The address to create.",
            "name": "address",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateAddressRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Newly created address object with ID.",
            "schema": {
              "$ref": "#/definitions/AddressResponse"
            }
          },
          "default": {
            "description": "Error response",
            "schema": {
              "$ref": "#/definitions/standardErrorResponse"
            }
          }
        }
      }
    },
    "/addresses/{id}": {
      "get": {
        "description": "Returns a specific address. \n\n **Submit Feedback**: Likes, dislikes, and API feature requests should be filed as feedback in our \u003ca href=\"https://forms.gle/zkD4NCH7HjKb7mm69\" target=\"_blank\"\u003eAPI feedback form\u003c/a\u003e. If you encountered an issue or noticed inaccuracies in the API documentation, please \u003ca href=\"https://www.samsara.com/help\" target=\"_blank\"\u003esubmit a case\u003c/a\u003e to our support team.",
        "tags": [
          "Addresses"
        ],
        "summary": "Retrieve an address",
        "operationId": "getAddress",
        "responses": {
          "200": {
            "description": "An Address.",
            "schema": {
              "$ref": "#/definitions/AddressResponse"
            }
          },
          "default": {
            "description": "Error response",
            "schema": {
              "$ref": "#/definitions/standardErrorResponse"
            }
          }
        }
      },
      "delete": {
        "description": "Delete a specific address. \n\n **Submit Feedback**: Likes, dislikes, and API feature requests should be filed as feedback in our \u003ca href=\"https://forms.gle/zkD4NCH7HjKb7mm69\" target=\"_blank\"\u003eAPI feedback form\u003c/a\u003e. If you encountered an issue or noticed inaccuracies in the API documentation, please \u003ca href=\"https://www.samsara.com/help\" target=\"_blank\"\u003esubmit a case\u003c/a\u003e to our support team.",
        "tags": [
          "Addresses"
        ],
        "summary": "Delete an address",
        "operationId": "deleteAddress",
        "responses": {
          "204": {
            "description": "A successful DELETE response is a 204 with no content.",
            "schema": {
              "$ref": "#/definitions/standardDeleteResponse"
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/standardErrorResponse"
            }
          }
        }
      },
      "patch": {
        "description": "Update a specific address. \n\n **Submit Feedback**: Likes, dislikes, and API feature requests should be filed as feedback in our \u003ca href=\"https://forms.gle/zkD4NCH7HjKb7mm69\" target=\"_blank\"\u003eAPI feedback form\u003c/a\u003e. If you encountered an issue or noticed inaccuracies in the API documentation, please \u003ca href=\"https://www.samsara.com/help\" target=\"_blank\"\u003esubmit a case\u003c/a\u003e to our support team.",
        "tags": [
          "Addresses"
        ],
        "summary": "Update an address",
        "operationId": "updateAddress",
        "parameters": [
          {
            "description": "The address fields to update.",
            "name": "address",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateAddressRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updated address object with ID.",
            "schema": {
              "$ref": "#/definitions/AddressResponse"
            }
          },
          "default": {
            "description": "Error response",
            "schema": {
              "$ref": "#/definitions/standardErrorResponse"
            }
          }
        }
      },
      "parameters": [
        {
          "type": "string",
          "description": "ID of the Address. This can either be the Samsara-provided ID or an external ID. External IDs are customer-specified key-value pairs created in the POST or PATCH requests of this resource. To specify an external ID as part of a path parameter, use the following format: `key:value`. For example, `crmId:abc123`",
          "name": "id",
          "in": "path",
          "required": true
        }
      ]
    },
    "/beta/attributes": {
      "get": {
        "description": "Fetch all attributes in an organization associated with either drivers or assets. \n\n **Submit Feedback**: Likes, dislikes, and API feature requests should be filed as feedback in our \u003ca href=\"https://forms.gle/zkD4NCH7HjKb7mm69\" target=\"_blank\"\u003eAPI feedback form\u003c/a\u003e. If you encountered an issue or noticed inaccuracies in the API documentation, please \u003ca href=\"https://www.samsara.com/help\" target=\"_blank\"\u003esubmit a case\u003c/a\u003e to our support team.",
        "tags": [
          "Beta APIs"
        ],
        "summary": "[beta] List all attributes by entity type",
        "operationId": "getAttributesByEntityType",
        "parameters": [
          {
            "enum": [
              "driver",
              "asset"
            ],
            "type": "string",
            "description": "Denotes the type of entity, driver or asset.",
            "name": "entityType",
            "in": "query",
            "required": true
          },
          {
            "maximum": 512,
            "minimum": 1,
            "type": "integer",
            "format": "int64",
            "description": "The limit for how many objects will be in the response. Default and max for this value is 512 objects.",
            "name": "limit",
            "in": "query"
          },
          {
            "type": "string",
            "description": "If specified, this should be the endCursor value from the previous page of results. When present, this request will return the next page of results that occur immediately after the previous page of results.",
            "name": "after",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "All attributes in an organization for an entity type",
            "schema": {
              "$ref": "#/definitions/GetAttributesByEntityTypeResponse"
            }
          },
          "default": {
            "description": "Error response",
            "schema": {
              "$ref": "#/definitions/standardErrorResponse"
            }
          }
        }
      },
      "post": {
        "description": "Creates a new attribute in the organization. \n\n **Submit Feedback**: Likes, dislikes, and API feature requests should be filed as feedback in our \u003ca href=\"https://forms.gle/zkD4NCH7HjKb7mm69\" target=\"_blank\"\u003eAPI feedback form\u003c/a\u003e. If you encountered an issue or noticed inaccuracies in the API documentation, please \u003ca href=\"https://www.samsara.com/help\" target=\"_blank\"\u003esubmit a case\u003c/a\u003e to our support team.",
        "tags": [
          "Beta APIs"
        ],
        "summary": "[beta] Create an attribute",
        "operationId": "createAttribute",
        "parameters": [
          {
            "description": "The attribute to create.",
            "name": "attribute",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateAttributeRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Newly created attribute object with ID.",
            "schema": {
              "$ref": "#/definitions/AttributeExpandedResponse"
            }
          },
          "default": {
            "description": "Error response",
            "schema": {
              "$ref": "#/definitions/standardErrorResponse"
            }
          }
        }
      }
    },
    "/beta/attributes/{id}": {
      "get": {
        "description": "Fetch an attribute by id, including all of its applications. \n\n **Submit Feedback**: Likes, dislikes, and API feature requests should be filed as feedback in our \u003ca href=\"https://forms.gle/zkD4NCH7HjKb7mm69\" target=\"_blank\"\u003eAPI feedback form\u003c/a\u003e. If you encountered an issue or noticed inaccuracies in the API documentation, please \u003ca href=\"https://www.samsara.com/help\" target=\"_blank\"\u003esubmit a case\u003c/a\u003e to our support team.",
        "tags": [
          "Beta APIs"
        ],
        "summary": "[beta] Retrieve an attribute",
        "operationId": "getAttribute",
        "parameters": [
          {
            "enum": [
              "driver",
              "asset"
            ],
            "type": "string",
            "description": "Denotes the type of entity, driver or asset.",
            "name": "entityType",
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "The attribute corresponding to request id.",
            "schema": {
              "$ref": "#/definitions/AttributeExpandedResponse"
            }
          },
          "default": {
            "description": "Error response",
            "schema": {
              "$ref": "#/definitions/standardErrorResponse"
            }
          }
        }
      },
      "delete": {
        "description": "Delete an attribute by id, including all of its applications. \n\n **Submit Feedback**: Likes, dislikes, and API feature requests should be filed as feedback in our \u003ca href=\"https://forms.gle/zkD4NCH7HjKb7mm69\" target=\"_blank\"\u003eAPI feedback form\u003c/a\u003e. If you encountered an issue or noticed inaccuracies in the API documentation, please \u003ca href=\"https://www.samsara.com/help\" target=\"_blank\"\u003esubmit a case\u003c/a\u003e to our support team.",
        "tags": [
          "Beta APIs"
        ],
        "summary": "[beta] Deleting an attribute",
        "operationId": "deleteAttribute",
        "parameters": [
          {
            "enum": [
              "driver",
              "asset"
            ],
            "type": "string",
            "description": "Denotes the type of entity, driver or asset.",
            "name": "entityType",
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "A successful DELETE response is a 204 with no content.",
            "schema": {
              "$ref": "#/definitions/standardDeleteResponse"
            }
          },
          "default": {
            "description": "Error response",
            "schema": {
              "$ref": "#/definitions/standardErrorResponse"
            }
          }
        }
      },
      "patch": {
        "description": "Updates an attribute in the organization. \n\n **Submit Feedback**: Likes, dislikes, and API feature requests should be filed as feedback in our \u003ca href=\"https://forms.gle/zkD4NCH7HjKb7mm69\" target=\"_blank\"\u003eAPI feedback form\u003c/a\u003e. If you encountered an issue or noticed inaccuracies in the API documentation, please \u003ca href=\"https://www.samsara.com/help\" target=\"_blank\"\u003esubmit a case\u003c/a\u003e to our support team.",
        "tags": [
          "Beta APIs"
        ],
        "summary": "[beta] Update an attribute",
        "operationId": "updateAttribute",
        "parameters": [
          {
            "description": "The attribute to update.",
            "name": "attribute",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateAttributeRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Newly created attribute object with ID.",
            "schema": {
              "$ref": "#/definitions/AttributeExpandedResponse"
            }
          },
          "default": {
            "description": "Error response",
            "schema": {
              "$ref": "#/definitions/standardErrorResponse"
            }
          }
        }
      },
      "parameters": [
        {
          "type": "string",
          "description": "Samsara-provided UUID of the attribute.",
          "name": "id",
          "in": "path",
          "required": true
        }
      ]
    },
    "/beta/fleet/drivers/efficiency": {
      "get": {
        "description": "Get all drivers' efficiencies. \n\n **Submit Feedback**: Likes, dislikes, and API feature requests should be filed as feedback in our \u003ca href=\"https://forms.gle/zkD4NCH7HjKb7mm69\" target=\"_blank\"\u003eAPI feedback form\u003c/a\u003e. If you encountered an issue or noticed inaccuracies in the API documentation, please \u003ca href=\"https://www.samsara.com/help\" target=\"_blank\"\u003esubmit a case\u003c/a\u003e to our support team.",
        "tags": [
          "Beta APIs"
        ],
        "summary": "[beta] List driver efficiency",
        "operationId": "getDriverEfficiency",
        "parameters": [
          {
            "enum": [
              "active",
              "deactivated"
            ],
            "type": "string",
            "description": "If value is `deactivated`, only drivers that are deactivated will appear in the response. This parameter will default to `active` if not provided (fetching only active drivers).",
            "name": "driverActivationStatus",
            "in": "query"
          },
          {
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "csv",
            "description": "A filter on the data based on this comma-separated list of driver IDs. Cannot be used with tag filtering or driver status. Example: `driverIds=1234,5678`",
            "name": "driverIds",
            "in": "query"
          },
          {
            "type": "string",
            "description": "If specified, this should be the endCursor value from the previous page of results. When present, this request will return the next page of results that occur immediately after the previous page of results.",
            "name": "after",
            "in": "query"
          },
          {
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "csv",
            "description": "Filters summary to drivers based on this comma-separated list of tag IDs. Data from all the drivers' respective vehicles will be included in the summary, regardless of which tag the vehicle is associated with. Should not be provided in addition to `driverIds`. Example: driverTagIds=1234,5678",
            "name": "driverTagIds",
            "in": "query"
          },
          {
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "csv",
            "description": "Filters like `driverTagIds` but includes descendants of all the given parent tags. Should not be provided in addition to `driverIds`. Example: `driverParentTagIds=1234,5678`",
            "name": "driverParentTagIds",
            "in": "query"
          },
          {
            "type": "string",
            "format": "date-time",
            "description": "A start time in RFC 3339 format. The results will be truncated to the hour mark for the provided time. For example, if `startTime` is 2020-03-17T12:06:19Z then the results will include data starting from 2020-03-17T12:00:00Z. The provided start time cannot be in the future. Start time can be at most 31 days before the end time. If the start time is within the last hour, the results will be empty. Default: 24 hours prior to endTime.",
            "name": "startTime",
            "in": "query"
          },
          {
            "type": "string",
            "format": "date-time",
            "description": "An end time in RFC 3339 format. The results will be truncated to the hour mark for the provided time. For example, if `endTime` is 2020-03-17T12:06:19Z then the results will include data up until 2020-03-17T12:00:00Z. The provided end time cannot be in the future. End time can be at most 31 days after the start time.   Default: The current time truncated to the hour mark.",
            "name": "endTime",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "List of all drivers' efficiencies",
            "schema": {
              "$ref": "#/definitions/DriverEfficienciesResponse"
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/standardErrorResponse"
            }
          }
        }
      }
    },
    "/beta/fleet/equipment/{id}": {
      "patch": {
        "description": "Update an equipment.  **Note** this implementation of patch uses [the JSON merge patch](https://tools.ietf.org/html/rfc7396) proposed standard.\n This means that any fields included in the patch request will _overwrite_ fields which exist on the target resource.\n For arrays, this means any array included in the request will _replace_ the array that exists at the specified path, it will not _add_ to the existing array\n \n\n **Submit Feedback**: Likes, dislikes, and API feature requests should be filed as feedback in our \u003ca href=\"https://forms.gle/zkD4NCH7HjKb7mm69\" target=\"_blank\"\u003eAPI feedback form\u003c/a\u003e. If you encountered an issue or noticed inaccuracies in the API documentation, please \u003ca href=\"https://www.samsara.com/help\" target=\"_blank\"\u003esubmit a case\u003c/a\u003e to our support team.",
        "schemes": [
          "https"
        ],
        "tags": [
          "Beta APIs"
        ],
        "summary": "[beta] Update an equipment",
        "operationId": "patchEquipment",
        "parameters": [
          {
            "type": "string",
            "description": "The unique Samsara ID of the Equipment. This is automatically generated when the Equipment object is created. It cannot be changed.",
            "name": "id",
            "in": "path",
            "required": true
          },
          {
            "name": "PatchEquipmentRequestBody",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EquipmentPatchEquipmentRequestBody"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": {
              "$ref": "#/definitions/EquipmentPatchEquipmentResponseBody"
            }
          },
          "401": {
            "description": "Unauthorized response.",
            "schema": {
              "$ref": "#/definitions/EquipmentPatchEquipmentUnauthorizedErrorResponseBody"
            }
          },
          "404": {
            "description": "Not Found response.",
            "schema": {
              "$ref": "#/definitions/EquipmentPatchEquipmentNotFoundErrorResponseBody"
            }
          },
          "405": {
            "description": "Method Not Allowed response.",
            "schema": {
              "$ref": "#/definitions/EquipmentPatchEquipmentMethodNotAllowedErrorResponseBody"
            }
          },
          "429": {
            "description": "Too Many Requests response.",
            "schema": {
              "$ref": "#/definitions/EquipmentPatchEquipmentTooManyRequestsErrorResponseBody"
            }
          },
          "500": {
            "description": "Internal Server Error response.",
            "schema": {
              "$ref": "#/definitions/EquipmentPatchEquipmentInternalServerErrorResponseBody"
            }
          },
          "501": {
            "description": "Not Implemented response.",
            "schema": {
              "$ref": "#/definitions/EquipmentPatchEquipmentNotImplementedErrorResponseBody"
            }
          },
          "502": {
            "description": "Bad Gateway response.",
            "schema": {
              "$ref": "#/definitions/EquipmentPatchEquipmentBadGatewayErrorResponseBody"
            }
          },
          "503": {
            "description": "Service Unavailable response.",
            "schema": {
              "$ref": "#/definitions/EquipmentPatchEquipmentServiceUnavailableErrorResponseBody"
            }
          },
          "504": {
            "description": "Gateway Timeout response.",
            "schema": {
              "$ref": "#/definitions/EquipmentPatchEquipmentGatewayTimeoutErrorResponseBody"
            }
          },
          "default": {
            "description": "Bad Request response.",
            "schema": {
              "$ref": "#/definitions/EquipmentPatchEquipmentBadRequestErrorResponseBody"
            }
          }
        }
      },
      "parameters": [
        {
          "type": "string",
          "description": "The unique Samsara ID of the Equipment. This is automatically generated when the Equipment object is created. It cannot be changed.",
          "name": "id",
          "in": "path",
          "required": true
        }
      ]
    },
    "/beta/fleet/trailers": {
      "get": {
        "description": "List all trailers.\n \n\n **Submit Feedback**: Likes, dislikes, and API feature requests should be filed as feedback in our \u003ca href=\"https://forms.gle/zkD4NCH7HjKb7mm69\" target=\"_blank\"\u003eAPI feedback form\u003c/a\u003e. If you encountered an issue or noticed inaccuracies in the API documentation, please \u003ca href=\"https://www.samsara.com/help\" target=\"_blank\"\u003esubmit a case\u003c/a\u003e to our support team.",
        "schemes": [
          "https"
        ],
        "tags": [
          "Beta APIs"
        ],
        "summary": "[beta] List all trailers",
        "operationId": "listTrailers",
        "parameters": [
          {
            "type": "string",
            "description": " A filter on the data based on this comma-separated list of tag IDs. Example: `tagIds=1234,5678`",
            "name": "tagIds",
            "in": "query"
          },
          {
            "type": "string",
            "description": " A filter on the data based on this comma-separated list of parent tag IDs, for use by orgs with tag hierarchies. Specifying a parent tag will implicitly include all descendent tags of the parent tag. Example: `parentTagIds=345,678`",
            "name": "parentTagIds",
            "in": "query"
          },
          {
            "maximum": 512,
            "minimum": 1,
            "type": "integer",
            "default": 512,
            "description": "The limit for how many objects will be in the response. Default and max for this value is 512 objects.",
            "name": "limit",
            "in": "query"
          },
          {
            "type": "string",
            "description": " If specified, this should be the endCursor value from the previous page of results. When present, this request will return the next page of results that occur immediately after the previous page of results.",
            "name": "after",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": {
              "$ref": "#/definitions/TrailersListTrailersResponseBody"
            }
          },
          "401": {
            "description": "Unauthorized response.",
            "schema": {
              "$ref": "#/definitions/TrailersListTrailersUnauthorizedErrorResponseBody"
            }
          },
          "404": {
            "description": "Not Found response.",
            "schema": {
              "$ref": "#/definitions/TrailersListTrailersNotFoundErrorResponseBody"
            }
          },
          "405": {
            "description": "Method Not Allowed response.",
            "schema": {
              "$ref": "#/definitions/TrailersListTrailersMethodNotAllowedErrorResponseBody"
            }
          },
          "429": {
            "description": "Too Many Requests response.",
            "schema": {
              "$ref": "#/definitions/TrailersListTrailersTooManyRequestsErrorResponseBody"
            }
          },
          "500": {
            "description": "Internal Server Error response.",
            "schema": {
              "$ref": "#/definitions/TrailersListTrailersInternalServerErrorResponseBody"
            }
          },
          "501": {
            "description": "Not Implemented response.",
            "schema": {
              "$ref": "#/definitions/TrailersListTrailersNotImplementedErrorResponseBody"
            }
          },
          "502": {
            "description": "Bad Gateway response.",
            "schema": {
              "$ref": "#/definitions/TrailersListTrailersBadGatewayErrorResponseBody"
            }
          },
          "503": {
            "description": "Service Unavailable response.",
            "schema": {
              "$ref": "#/definitions/TrailersListTrailersServiceUnavailableErrorResponseBody"
            }
          },
          "504": {
            "description": "Gateway Timeout response.",
            "schema": {
              "$ref": "#/definitions/TrailersListTrailersGatewayTimeoutErrorResponseBody"
            }
          },
          "default": {
            "description": "Bad Request response.",
            "schema": {
              "$ref": "#/definitions/TrailersListTrailersBadRequestErrorResponseBody"
            }
          }
        }
      },
      "post": {
        "description": "Creates a new trailer asset.\n \n\n **Submit Feedback**: Likes, dislikes, and API feature requests should be filed as feedback in our \u003ca href=\"https://forms.gle/zkD4NCH7HjKb7mm69\" target=\"_blank\"\u003eAPI feedback form\u003c/a\u003e. If you encountered an issue or noticed inaccuracies in the API documentation, please \u003ca href=\"https://www.samsara.com/help\" target=\"_blank\"\u003esubmit a case\u003c/a\u003e to our support team.",
        "schemes": [
          "https"
        ],
        "tags": [
          "Beta APIs"
        ],
        "summary": "[beta] Creates a new trailer asset",
        "operationId": "createTrailer",
        "parameters": [
          {
            "name": "CreateTrailerRequestBody",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TrailersCreateTrailerRequestBody"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": {
              "$ref": "#/definitions/TrailersCreateTrailerResponseBody"
            }
          },
          "401": {
            "description": "Unauthorized response.",
            "schema": {
              "$ref": "#/definitions/TrailersCreateTrailerUnauthorizedErrorResponseBody"
            }
          },
          "404": {
            "description": "Not Found response.",
            "schema": {
              "$ref": "#/definitions/TrailersCreateTrailerNotFoundErrorResponseBody"
            }
          },
          "405": {
            "description": "Method Not Allowed response.",
            "schema": {
              "$ref": "#/definitions/TrailersCreateTrailerMethodNotAllowedErrorResponseBody"
            }
          },
          "429": {
            "description": "Too Many Requests response.",
            "schema": {
              "$ref": "#/definitions/TrailersCreateTrailerTooManyRequestsErrorResponseBody"
            }
          },
          "500": {
            "description": "Internal Server Error response.",
            "schema": {
              "$ref": "#/definitions/TrailersCreateTrailerInternalServerErrorResponseBody"
            }
          },
          "501": {
            "description": "Not Implemented response.",
            "schema": {
              "$ref": "#/definitions/TrailersCreateTrailerNotImplementedErrorResponseBody"
            }
          },
          "502": {
            "description": "Bad Gateway response.",
            "schema": {
              "$ref": "#/definitions/TrailersCreateTrailerBadGatewayErrorResponseBody"
            }
          },
          "503": {
            "description": "Service Unavailable response.",
            "schema": {
              "$ref": "#/definitions/TrailersCreateTrailerServiceUnavailableErrorResponseBody"
            }
          },
          "504": {
            "description": "Gateway Timeout response.",
            "schema": {
              "$ref": "#/definitions/TrailersCreateTrailerGatewayTimeoutErrorResponseBody"
            }
          },
          "default": {
            "description": "Bad Request response.",
            "schema": {
              "$ref": "#/definitions/TrailersCreateTrailerBadRequestErrorResponseBody"
            }
          }
        }
      }
    },
    "/beta/fleet/trailers/stats": {
      "get": {
        "description": "Returns the last known stats of all trailers at the given `time`. If no `time` is specified, the current time is used.\n \n\n **Submit Feedback**: Likes, dislikes, and API feature requests should be filed as feedback in our \u003ca href=\"https://forms.gle/zkD4NCH7HjKb7mm69\" target=\"_blank\"\u003eAPI feedback form\u003c/a\u003e. If you encountered an issue or noticed inaccuracies in the API documentation, please \u003ca href=\"https://www.samsara.com/help\" target=\"_blank\"\u003esubmit a case\u003c/a\u003e to our support team.",
        "schemes": [
          "https"
        ],
        "tags": [
          "Beta APIs"
        ],
        "summary": "[beta] Get trailer stats",
        "operationId": "getTrailerStatsSnapshot",
        "parameters": [
          {
            "type": "string",
            "description": "The stat types you want this endpoint to return information on.\n\nYou may list **up to 3** types using comma-separated format. For example: `types=gps,reeferAmbientAirTemperatureMilliC,gpsOdometerMeters`.\n\n* `gps`: GPS data including lat/long, heading, speed, and a reverse geocode address.\n* `gpsOdometerMeters`: Odometer reading provided by GPS calculations. You must provide a manual odometer reading before this value is updated. Manual odometer readings can be provided via the PATCH /fleet/trailers/{id} endpoint or through the [cloud dashboard](https://kb.samsara.com/hc/en-us/articles/115005273667-Editing-Odometer-Reading). Odometer readings wthat are manually set will update as GPS trip data is gathered.\n* `reeferAmbientAirTemperatureMilliC`: The ambient air temperature reading of the reefer in millidegree Celsius.\n* `reeferObdEngineSeconds`: The cumulative number of seconds the reefer has run according to onboard diagnostics. Only supported on reefer solutions.\n* `reeferSupplyAirTemperatureMilliCZone1`: The supply or discharge air temperature zone 1 in millidegrees Celsius. For single zone reefers, this applies to the single zone. Only supported on multizone reefer solutions.\n* `reeferSupplyAirTemperatureMilliCZone2`: The supply or discharge air temperature zone 2 in millidegrees Celsius. Only supported on multizone reefer solutions.\n* `reeferSupplyAirTemperatureMilliCZone3`: The supply or discharge air temperature zone 3 in millidegrees Celsius. Only supported on multizone reefer solutions.\n* `reeferFuelPercent`: The fuel level of the reefer unit in percentage points (e.g. `99`, `50`, etc). Only supported on reefer solutions.\n* `carrierReeferState`: The overall state of the reefer (`Off`, `On`). Only supported on multizone Carrier reefer solutions.\n* `reeferStateZone1`: The state of the reefer in zone 1. For single zone reefers, this applies tot he single zone. Only supported on multizone reefer solutions.\n* `reeferStateZone2`: The state of the reefer in zone 2. Only supported on multizone reefer solutions.\n* `reeferStateZone3`: The state of the reefer in zone 3. Only supported on multizone reefer solutions.\n* `reeferRunMode`: The operational mode of the reefer (`Start/Stop`, `Continuous`)\n* `reeferAlarms`: Any alarms that are present on the reefer. Only supported on reefer solutions.\n* `reeferReturnAirTemperatureMilliCZone1`: The return air temperature in zone 1 of the reefer in millidegrees Celsius. For single zone reefers, this applies to the single zone. Only supported on multizone reefer solutions.\n* `reeferReturnAirTemperatureMilliCZone2`: The return air temperature in zone 2 of the reefer in millidegrees Celsius. Only supported on multizone reefer solutions.\n* `reeferReturnAirTemperatureMilliCZone3`: The return air temperature in zone 3 of the reefer in millidegrees Celsius. Only supported on multizone reefer solutions.\n* `reeferSetPointTemperatureMilliCZone1`: The set point temperature in zone 1 of the reefer in millidegrees Celsius. For single zone reefers, this applies to the single zone. Only supported on multizone reefer solutions.\n* `reeferSetPointTemperatureMilliCZone2`: The set point temperature in zone 2 of the reefer in millidegrees Celsius. Only supported on multizone reefer solutions.\n* `reeferSetPointTemperatureMilliCZone3`: The set point temperature in zone 3 of the reefer in millidegrees Celsius. Only supported on multizone reefer solutions.",
            "name": "types",
            "in": "query",
            "required": true
          },
          {
            "type": "string",
            "description": " A filter on the data based on this comma-separated list of tag IDs. Example: `tagIds=1234,5678`",
            "name": "tagIds",
            "in": "query"
          },
          {
            "type": "string",
            "description": " A filter on the data based on this comma-separated list of parent tag IDs, for use by orgs with tag hierarchies. Specifying a parent tag will implicitly include all descendent tags of the parent tag. Example: `parentTagIds=345,678`",
            "name": "parentTagIds",
            "in": "query"
          },
          {
            "type": "string",
            "description": " If specified, this should be the endCursor value from the previous page of results. When present, this request will return the next page of results that occur immediately after the previous page of results.",
            "name": "after",
            "in": "query"
          },
          {
            "type": "string",
            "description": " A filter on the data based on this comma-separated list of trailer IDs and externalIds. Example: `trailerIds=1234,5678,samsara.vin:1HGBH41JXMN109186`",
            "name": "trailerIds",
            "in": "query"
          },
          {
            "type": "string",
            "description": " A filter on the data that returns the last known data points with timestamps less than or equal to this value. Defaults to now if not provided. Must be a string in RFC 3339 Format. Millisecond precision and timezones are supported.",
            "name": "time",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": {
              "$ref": "#/definitions/TrailerStatsGetTrailerStatsSnapshotResponseBody"
            }
          },
          "401": {
            "description": "Unauthorized response.",
            "schema": {
              "$ref": "#/definitions/TrailerStatsGetTrailerStatsSnapshotUnauthorizedErrorResponseBody"
            }
          },
          "404": {
            "description": "Not Found response.",
            "schema": {
              "$ref": "#/definitions/TrailerStatsGetTrailerStatsSnapshotNotFoundErrorResponseBody"
            }
          },
          "405": {
            "description": "Method Not Allowed response.",
            "schema": {
              "$ref": "#/definitions/TrailerStatsGetTrailerStatsSnapshotMethodNotAllowedErrorResponseBody"
            }
          },
          "429": {
            "description": "Too Many Requests response.",
            "schema": {
              "$ref": "#/definitions/TrailerStatsGetTrailerStatsSnapshotTooManyRequestsErrorResponseBody"
            }
          },
          "500": {
            "description": "Internal Server Error response.",
            "schema": {
              "$ref": "#/definitions/TrailerStatsGetTrailerStatsSnapshotInternalServerErrorResponseBody"
            }
          },
          "501": {
            "description": "Not Implemented response.",
            "schema": {
              "$ref": "#/definitions/TrailerStatsGetTrailerStatsSnapshotNotImplementedErrorResponseBody"
            }
          },
          "502": {
            "description": "Bad Gateway response.",
            "schema": {
              "$ref": "#/definitions/TrailerStatsGetTrailerStatsSnapshotBadGatewayErrorResponseBody"
            }
          },
          "503": {
            "description": "Service Unavailable response.",
            "schema": {
              "$ref": "#/definitions/TrailerStatsGetTrailerStatsSnapshotServiceUnavailableErrorResponseBody"
            }
          },
          "504": {
            "description": "Gateway Timeout response.",
            "schema": {
              "$ref": "#/definitions/TrailerStatsGetTrailerStatsSnapshotGatewayTimeoutErrorResponseBody"
            }
          },
          "default": {
            "description": "Bad Request response.",
            "schema": {
              "$ref": "#/definitions/TrailerStatsGetTrailerStatsSnapshotBadRequestErrorResponseBody"
            }
          }
        }
      }
    },
    "/beta/fleet/trailers/stats/feed": {
      "get": {
        "description": "Follow a feed of trailer stats.\n\nThe first call to this endpoint will provide the most recent stats for each trailer and an `endCursor`.\n\nProviding the `endCursor` value to the `after` query parameter will fetch all updates since the previous API call.\n\nIf `hasNextPage` is false, no new data is immediately available. Please wait a minimum of 5 seconds before making a subsequent request.\n \n\n **Submit Feedback**: Likes, dislikes, and API feature requests should be filed as feedback in our \u003ca href=\"https://forms.gle/zkD4NCH7HjKb7mm69\" target=\"_blank\"\u003eAPI feedback form\u003c/a\u003e. If you encountered an issue or noticed inaccuracies in the API documentation, please \u003ca href=\"https://www.samsara.com/help\" target=\"_blank\"\u003esubmit a case\u003c/a\u003e to our support team.",
        "schemes": [
          "https"
        ],
        "tags": [
          "Beta APIs"
        ],
        "summary": "[beta] Get trailer stats feed",
        "operationId": "getTrailerStatsFeed",
        "parameters": [
          {
            "type": "string",
            "description": "The stat types you want this endpoint to return information on.\n\nYou may list **up to 3** types using comma-separated format. For example: `types=gps,reeferAmbientAirTemperatureMilliC,gpsOdometerMeters`.\n\n* `gps`: GPS data including lat/long, heading, speed, and a reverse geocode address.\n* `gpsOdometerMeters`: Odometer reading provided by GPS calculations. You must provide a manual odometer reading before this value is updated. Manual odometer readings can be provided via the PATCH /fleet/trailers/{id} endpoint or through the [cloud dashboard](https://kb.samsara.com/hc/en-us/articles/115005273667-Editing-Odometer-Reading). Odometer readings wthat are manually set will update as GPS trip data is gathered.\n* `reeferAmbientAirTemperatureMilliC`: The ambient air temperature reading of the reefer in millidegree Celsius.\n* `reeferObdEngineSeconds`: The cumulative number of seconds the reefer has run according to onboard diagnostics. Only supported on reefer solutions.\n* `reeferSupplyAirTemperatureMilliCZone1`: The supply or discharge air temperature zone 1 in millidegrees Celsius. For single zone reefers, this applies to the single zone. Only supported on multizone reefer solutions.\n* `reeferSupplyAirTemperatureMilliCZone2`: The supply or discharge air temperature zone 2 in millidegrees Celsius. Only supported on multizone reefer solutions.\n* `reeferSupplyAirTemperatureMilliCZone3`: The supply or discharge air temperature zone 3 in millidegrees Celsius. Only supported on multizone reefer solutions.\n* `reeferFuelPercent`: The fuel level of the reefer unit in percentage points (e.g. `99`, `50`, etc). Only supported on reefer solutions.\n* `carrierReeferState`: The overall state of the reefer (`Off`, `On`). Only supported on multizone Carrier reefer solutions.\n* `reeferStateZone1`: The state of the reefer in zone 1. For single zone reefers, this applies tot he single zone. Only supported on multizone reefer solutions.\n* `reeferStateZone2`: The state of the reefer in zone 2. Only supported on multizone reefer solutions.\n* `reeferStateZone3`: The state of the reefer in zone 3. Only supported on multizone reefer solutions.\n* `reeferRunMode`: The operational mode of the reefer (`Start/Stop`, `Continuous`)\n* `reeferAlarms`: Any alarms that are present on the reefer. Only supported on reefer solutions.\n* `reeferReturnAirTemperatureMilliCZone1`: The return air temperature in zone 1 of the reefer in millidegrees Celsius. For single zone reefers, this applies to the single zone. Only supported on multizone reefer solutions.\n* `reeferReturnAirTemperatureMilliCZone2`: The return air temperature in zone 2 of the reefer in millidegrees Celsius. Only supported on multizone reefer solutions.\n* `reeferReturnAirTemperatureMilliCZone3`: The return air temperature in zone 3 of the reefer in millidegrees Celsius. Only supported on multizone reefer solutions.\n* `reeferSetPointTemperatureMilliCZone1`: The set point temperature in zone 1 of the reefer in millidegrees Celsius. For single zone reefers, this applies to the single zone. Only supported on multizone reefer solutions.\n* `reeferSetPointTemperatureMilliCZone2`: The set point temperature in zone 2 of the reefer in millidegrees Celsius. Only supported on multizone reefer solutions.\n* `reeferSetPointTemperatureMilliCZone3`: The set point temperature in zone 3 of the reefer in millidegrees Celsius. Only supported on multizone reefer solutions.",
            "name": "types",
            "in": "query",
            "required": true
          },
          {
            "type": "string",
            "description": " A filter on the data based on this comma-separated list of tag IDs. Example: `tagIds=1234,5678`",
            "name": "tagIds",
            "in": "query"
          },
          {
            "type": "string",
            "description": " A filter on the data based on this comma-separated list of parent tag IDs, for use by orgs with tag hierarchies. Specifying a parent tag will implicitly include all descendent tags of the parent tag. Example: `parentTagIds=345,678`",
            "name": "parentTagIds",
            "in": "query"
          },
          {
            "type": "string",
            "description": " If specified, this should be the endCursor value from the previous page of results. When present, this request will return the next page of results that occur immediately after the previous page of results.",
            "name": "after",
            "in": "query"
          },
          {
            "type": "string",
            "description": " A filter on the data based on this comma-separated list of trailer IDs and externalIds. Example: `trailerIds=1234,5678,samsara.vin:1HGBH41JXMN109186`",
            "name": "trailerIds",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Decorations add to the primary stats listed in the `types` parameter. For example, if you wish to know the trailer's location whenever the odometer updates, you may set `types=gpsOdometerMeters\u0026decorations=gps`.\n\nYou may list **up to 2** types using comma-separated format. If multiple stats are listed in the types parameter, the decorations will be added to each type. For example: `types=reeferStateZone1,reeferAmbientAirTemperatureMilliC,gpsOdometerMeters\u0026decorations=gps` will list GPS decorations for each reeferStateZone1 reading, each reeferAmbientAirTemperatureMilliC reding, and gpsOdometerMeters reading.\n\nNote that decorations may significantly increase the response payload size.\n\n* `gps`: GPS data including lat/long, heading, speed, and a reverse geocode address.\n* `gpsOdometerMeters`: Odometer reading provided by GPS calculations. You must provide a manual odometer reading before this value is updated. Manual odometer readings can be provided via the PATCH /fleet/trailers/{id} endpoint or through the [cloud dashboard](https://kb.samsara.com/hc/en-us/articles/115005273667-Editing-Odometer-Reading). Odometer readings wthat are manually set will update as GPS trip data is gathered.\n* `reeferAmbientAirTemperatureMilliC`: The ambient air temperature reading of the reefer in millidegree Celsius.\n* `reeferObdEngineSeconds`: The cumulative number of seconds the reefer has run according to onboard diagnostics. Only supported on reefer solutions.\n* `reeferSupplyAirTemperatureMilliCZone1`: The supply or discharge air temperature zone 1 in millidegrees Celsius. For single zone reefers, this applies to the single zone. Only supported on multizone reefer solutions.\n* `reeferSupplyAirTemperatureMilliCZone2`: The supply or discharge air temperature zone 2 in millidegrees Celsius. Only supported on multizone reefer solutions.\n* `reeferSupplyAirTemperatureMilliCZone3`: The supply or discharge air temperature zone 3 in millidegrees Celsius. Only supported on multizone reefer solutions.\n* `reeferFuelPercent`: The fuel level of the reefer unit in percentage points (e.g. `99`, `50`, etc). Only supported on reefer solutions.\n* `carrierReeferState`: The overall state of the reefer (`Off`, `On`). Only supported on multizone Carrier reefer solutions.\n* `reeferStateZone1`: The state of the reefer in zone 1. For single zone reefers, this applies tot he single zone. Only supported on multizone reefer solutions.\n* `reeferStateZone2`: The state of the reefer in zone 2. Only supported on multizone reefer solutions.\n* `reeferStateZone3`: The state of the reefer in zone 3. Only supported on multizone reefer solutions.\n* `reeferRunMode`: The operational mode of the reefer (`Start/Stop`, `Continuous`)\n* `reeferAlarms`: Any alarms that are present on the reefer. Only supported on reefer solutions.\n* `reeferReturnAirTemperatureMilliCZone1`: The return air temperature in zone 1 of the reefer in millidegrees Celsius. For single zone reefers, this applies to the single zone. Only supported on multizone reefer solutions.\n* `reeferReturnAirTemperatureMilliCZone2`: The return air temperature in zone 2 of the reefer in millidegrees Celsius. Only supported on multizone reefer solutions.\n* `reeferReturnAirTemperatureMilliCZone3`: The return air temperature in zone 3 of the reefer in millidegrees Celsius. Only supported on multizone reefer solutions.\n* `reeferSetPointTemperatureMilliCZone1`: The set point temperature in zone 1 of the reefer in millidegrees Celsius. For single zone reefers, this applies to the single zone. Only supported on multizone reefer solutions.\n* `reeferSetPointTemperatureMilliCZone2`: The set point temperature in zone 2 of the reefer in millidegrees Celsius. Only supported on multizone reefer solutions.\n* `reeferSetPointTemperatureMilliCZone3`: The set point temperature in zone 3 of the reefer in millidegrees Celsius. Only supported on multizone reefer solutions.",
            "name": "decorations",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": {
              "$ref": "#/definitions/TrailerStatsGetTrailerStatsFeedResponseBody"
            }
          },
          "401": {
            "description": "Unauthorized response.",
            "schema": {
              "$ref": "#/definitions/TrailerStatsGetTrailerStatsFeedUnauthorizedErrorResponseBody"
            }
          },
          "404": {
            "description": "Not Found response.",
            "schema": {
              "$ref": "#/definitions/TrailerStatsGetTrailerStatsFeedNotFoundErrorResponseBody"
            }
          },
          "405": {
            "description": "Method Not Allowed response.",
            "schema": {
              "$ref": "#/definitions/TrailerStatsGetTrailerStatsFeedMethodNotAllowedErrorResponseBody"
            }
          },
          "429": {
            "description": "Too Many Requests response.",
            "schema": {
              "$ref": "#/definitions/TrailerStatsGetTrailerStatsFeedTooManyRequestsErrorResponseBody"
            }
          },
          "500": {
            "description": "Internal Server Error response.",
            "schema": {
              "$ref": "#/definitions/TrailerStatsGetTrailerStatsFeedInternalServerErrorResponseBody"
            }
          },
          "501": {
            "description": "Not Implemented response.",
            "schema": {
              "$ref": "#/definitions/TrailerStatsGetTrailerStatsFeedNotImplementedErrorResponseBody"
            }
          },
          "502": {
            "description": "Bad Gateway response.",
            "schema": {
              "$ref": "#/definitions/TrailerStatsGetTrailerStatsFeedBadGatewayErrorResponseBody"
            }
          },
          "503": {
            "description": "Service Unavailable response.",
            "schema": {
              "$ref": "#/definitions/TrailerStatsGetTrailerStatsFeedServiceUnavailableErrorResponseBody"
            }
          },
          "504": {
            "description": "Gateway Timeout response.",
            "schema": {
              "$ref": "#/definitions/TrailerStatsGetTrailerStatsFeedGatewayTimeoutErrorResponseBody"
            }
          },
          "default": {
            "description": "Bad Request response.",
            "schema": {
              "$ref": "#/definitions/TrailerStatsGetTrailerStatsFeedBadRequestErrorResponseBody"
            }
          }
        }
      }
    },
    "/beta/fleet/trailers/stats/history": {
      "get": {
        "description": "Returns trailer stats during the given time range for all trailers. This can be optionally filtered by tags or specific trailer IDs.\n \n\n **Submit Feedback**: Likes, dislikes, and API feature requests should be filed as feedback in our \u003ca href=\"https://forms.gle/zkD4NCH7HjKb7mm69\" target=\"_blank\"\u003eAPI feedback form\u003c/a\u003e. If you encountered an issue or noticed inaccuracies in the API documentation, please \u003ca href=\"https://www.samsara.com/help\" target=\"_blank\"\u003esubmit a case\u003c/a\u003e to our support team.",
        "schemes": [
          "https"
        ],
        "tags": [
          "Beta APIs"
        ],
        "summary": "[beta] Get trailer stats history",
        "operationId": "getTrailerStatsHistory",
        "parameters": [
          {
            "type": "string",
            "description": " A start time in RFC 3339 format. Defaults to now if not provided. Millisecond precision and timezones are supported. (Examples: 2019-06-13T19:08:25Z, 2019-06-13T19:08:25.455Z, OR 2015-09-15T14:00:12-04:00).",
            "name": "startTime",
            "in": "query",
            "required": true
          },
          {
            "type": "string",
            "description": " An end time in RFC 3339 format. Defaults to now if not provided. Millisecond precision and timezones are supported. (Examples: 2019-06-13T19:08:25Z, 2019-06-13T19:08:25.455Z, OR 2015-09-15T14:00:12-04:00).",
            "name": "endTime",
            "in": "query",
            "required": true
          },
          {
            "type": "string",
            "description": "The stat types you want this endpoint to return information on.\n\nYou may list **up to 3** types using comma-separated format. For example: `types=gps,reeferAmbientAirTemperatureMilliC,gpsOdometerMeters`.\n\n* `gps`: GPS data including lat/long, heading, speed, and a reverse geocode address.\n* `gpsOdometerMeters`: Odometer reading provided by GPS calculations. You must provide a manual odometer reading before this value is updated. Manual odometer readings can be provided via the PATCH /fleet/trailers/{id} endpoint or through the [cloud dashboard](https://kb.samsara.com/hc/en-us/articles/115005273667-Editing-Odometer-Reading). Odometer readings wthat are manually set will update as GPS trip data is gathered.\n* `reeferAmbientAirTemperatureMilliC`: The ambient air temperature reading of the reefer in millidegree Celsius.\n* `reeferObdEngineSeconds`: The cumulative number of seconds the reefer has run according to onboard diagnostics. Only supported on reefer solutions.\n* `reeferSupplyAirTemperatureMilliCZone1`: The supply or discharge air temperature zone 1 in millidegrees Celsius. For single zone reefers, this applies to the single zone. Only supported on multizone reefer solutions.\n* `reeferSupplyAirTemperatureMilliCZone2`: The supply or discharge air temperature zone 2 in millidegrees Celsius. Only supported on multizone reefer solutions.\n* `reeferSupplyAirTemperatureMilliCZone3`: The supply or discharge air temperature zone 3 in millidegrees Celsius. Only supported on multizone reefer solutions.\n* `reeferFuelPercent`: The fuel level of the reefer unit in percentage points (e.g. `99`, `50`, etc). Only supported on reefer solutions.\n* `carrierReeferState`: The overall state of the reefer (`Off`, `On`). Only supported on multizone Carrier reefer solutions.\n* `reeferStateZone1`: The state of the reefer in zone 1. For single zone reefers, this applies tot he single zone. Only supported on multizone reefer solutions.\n* `reeferStateZone2`: The state of the reefer in zone 2. Only supported on multizone reefer solutions.\n* `reeferStateZone3`: The state of the reefer in zone 3. Only supported on multizone reefer solutions.\n* `reeferRunMode`: The operational mode of the reefer (`Start/Stop`, `Continuous`)\n* `reeferAlarms`: Any alarms that are present on the reefer. Only supported on reefer solutions.\n* `reeferReturnAirTemperatureMilliCZone1`: The return air temperature in zone 1 of the reefer in millidegrees Celsius. For single zone reefers, this applies to the single zone. Only supported on multizone reefer solutions.\n* `reeferReturnAirTemperatureMilliCZone2`: The return air temperature in zone 2 of the reefer in millidegrees Celsius. Only supported on multizone reefer solutions.\n* `reeferReturnAirTemperatureMilliCZone3`: The return air temperature in zone 3 of the reefer in millidegrees Celsius. Only supported on multizone reefer solutions.\n* `reeferSetPointTemperatureMilliCZone1`: The set point temperature in zone 1 of the reefer in millidegrees Celsius. For single zone reefers, this applies to the single zone. Only supported on multizone reefer solutions.\n* `reeferSetPointTemperatureMilliCZone2`: The set point temperature in zone 2 of the reefer in millidegrees Celsius. Only supported on multizone reefer solutions.\n* `reeferSetPointTemperatureMilliCZone3`: The set point temperature in zone 3 of the reefer in millidegrees Celsius. Only supported on multizone reefer solutions.",
            "name": "types",
            "in": "query",
            "required": true
          },
          {
            "type": "string",
            "description": " A filter on the data based on this comma-separated list of tag IDs. Example: `tagIds=1234,5678`",
            "name": "tagIds",
            "in": "query"
          },
          {
            "type": "string",
            "description": " A filter on the data based on this comma-separated list of parent tag IDs, for use by orgs with tag hierarchies. Specifying a parent tag will implicitly include all descendent tags of the parent tag. Example: `parentTagIds=345,678`",
            "name": "parentTagIds",
            "in": "query"
          },
          {
            "type": "string",
            "description": " If specified, this should be the endCursor value from the previous page of results. When present, this request will return the next page of results that occur immediately after the previous page of results.",
            "name": "after",
            "in": "query"
          },
          {
            "type": "string",
            "description": " A filter on the data based on this comma-separated list of trailer IDs and externalIds. Example: `trailerIds=1234,5678,samsara.vin:1HGBH41JXMN109186`",
            "name": "trailerIds",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Decorations add to the primary stats listed in the `types` parameter. For example, if you wish to know the trailer's location whenever the odometer updates, you may set `types=gpsOdometerMeters\u0026decorations=gps`.\n\nYou may list **up to 2** types using comma-separated format. If multiple stats are listed in the types parameter, the decorations will be added to each type. For example: `types=reeferStateZone1,reeferAmbientAirTemperatureMilliC,gpsOdometerMeters\u0026decorations=gps` will list GPS decorations for each reeferStateZone1 reading, each reeferAmbientAirTemperatureMilliC reding, and gpsOdometerMeters reading.\n\nNote that decorations may significantly increase the response payload size.\n\n* `gps`: GPS data including lat/long, heading, speed, and a reverse geocode address.\n* `gpsOdometerMeters`: Odometer reading provided by GPS calculations. You must provide a manual odometer reading before this value is updated. Manual odometer readings can be provided via the PATCH /fleet/trailers/{id} endpoint or through the [cloud dashboard](https://kb.samsara.com/hc/en-us/articles/115005273667-Editing-Odometer-Reading). Odometer readings wthat are manually set will update as GPS trip data is gathered.\n* `reeferAmbientAirTemperatureMilliC`: The ambient air temperature reading of the reefer in millidegree Celsius.\n* `reeferObdEngineSeconds`: The cumulative number of seconds the reefer has run according to onboard diagnostics. Only supported on reefer solutions.\n* `reeferSupplyAirTemperatureMilliCZone1`: The supply or discharge air temperature zone 1 in millidegrees Celsius. For single zone reefers, this applies to the single zone. Only supported on multizone reefer solutions.\n* `reeferSupplyAirTemperatureMilliCZone2`: The supply or discharge air temperature zone 2 in millidegrees Celsius. Only supported on multizone reefer solutions.\n* `reeferSupplyAirTemperatureMilliCZone3`: The supply or discharge air temperature zone 3 in millidegrees Celsius. Only supported on multizone reefer solutions.\n* `reeferFuelPercent`: The fuel level of the reefer unit in percentage points (e.g. `99`, `50`, etc). Only supported on reefer solutions.\n* `carrierReeferState`: The overall state of the reefer (`Off`, `On`). Only supported on multizone Carrier reefer solutions.\n* `reeferStateZone1`: The state of the reefer in zone 1. For single zone reefers, this applies tot he single zone. Only supported on multizone reefer solutions.\n* `reeferStateZone2`: The state of the reefer in zone 2. Only supported on multizone reefer solutions.\n* `reeferStateZone3`: The state of the reefer in zone 3. Only supported on multizone reefer solutions.\n* `reeferRunMode`: The operational mode of the reefer (`Start/Stop`, `Continuous`)\n* `reeferAlarms`: Any alarms that are present on the reefer. Only supported on reefer solutions.\n* `reeferReturnAirTemperatureMilliCZone1`: The return air temperature in zone 1 of the reefer in millidegrees Celsius. For single zone reefers, this applies to the single zone. Only supported on multizone reefer solutions.\n* `reeferReturnAirTemperatureMilliCZone2`: The return air temperature in zone 2 of the reefer in millidegrees Celsius. Only supported on multizone reefer solutions.\n* `reeferReturnAirTemperatureMilliCZone3`: The return air temperature in zone 3 of the reefer in millidegrees Celsius. Only supported on multizone reefer solutions.\n* `reeferSetPointTemperatureMilliCZone1`: The set point temperature in zone 1 of the reefer in millidegrees Celsius. For single zone reefers, this applies to the single zone. Only supported on multizone reefer solutions.\n* `reeferSetPointTemperatureMilliCZone2`: The set point temperature in zone 2 of the reefer in millidegrees Celsius. Only supported on multizone reefer solutions.\n* `reeferSetPointTemperatureMilliCZone3`: The set point temperature in zone 3 of the reefer in millidegrees Celsius. Only supported on multizone reefer solutions.",
            "name": "decorations",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": {
              "$ref": "#/definitions/TrailerStatsGetTrailerStatsHistoryResponseBody"
            }
          },
          "401": {
            "description": "Unauthorized response.",
            "schema": {
              "$ref": "#/definitions/TrailerStatsGetTrailerStatsHistoryUnauthorizedErrorResponseBody"
            }
          },
          "404": {
            "description": "Not Found response.",
            "schema": {
              "$ref": "#/definitions/TrailerStatsGetTrailerStatsHistoryNotFoundErrorResponseBody"
            }
          },
          "405": {
            "description": "Method Not Allowed response.",
            "schema": {
              "$ref": "#/definitions/TrailerStatsGetTrailerStatsHistoryMethodNotAllowedErrorResponseBody"
            }
          },
          "429": {
            "description": "Too Many Requests response.",
            "schema": {
              "$ref": "#/definitions/TrailerStatsGetTrailerStatsHistoryTooManyRequestsErrorResponseBody"
            }
          },
          "500": {
            "description": "Internal Server Error response.",
            "schema": {
              "$ref": "#/definitions/TrailerStatsGetTrailerStatsHistoryInternalServerErrorResponseBody"
            }
          },
          "501": {
            "description": "Not Implemented response.",
            "schema": {
              "$ref": "#/definitions/TrailerStatsGetTrailerStatsHistoryNotImplementedErrorResponseBody"
            }
          },
          "502": {
            "description": "Bad Gateway response.",
            "schema": {
              "$ref": "#/definitions/TrailerStatsGetTrailerStatsHistoryBadGatewayErrorResponseBody"
            }
          },
          "503": {
            "description": "Service Unavailable response.",
            "schema": {
              "$ref": "#/definitions/TrailerStatsGetTrailerStatsHistoryServiceUnavailableErrorResponseBody"
            }
          },
          "504": {
            "description": "Gateway Timeout response.",
            "schema": {
              "$ref": "#/definitions/TrailerStatsGetTrailerStatsHistoryGatewayTimeoutErrorResponseBody"
            }
          },
          "default": {
            "description": "Bad Request response.",
            "schema": {
              "$ref": "#/definitions/TrailerStatsGetTrailerStatsHistoryBadRequestErrorResponseBody"
            }
          }
        }
      }
    },
    "/beta/fleet/trailers/{id}": {
      "get": {
        "description": "Retrieve a trailer with given ID.\n \n\n **Submit Feedback**: Likes, dislikes, and API feature requests should be filed as feedback in our \u003ca href=\"https://forms.gle/zkD4NCH7HjKb7mm69\" target=\"_blank\"\u003eAPI feedback form\u003c/a\u003e. If you encountered an issue or noticed inaccuracies in the API documentation, please \u003ca href=\"https://www.samsara.com/help\" target=\"_blank\"\u003esubmit a case\u003c/a\u003e to our support team.",
        "schemes": [
          "https"
        ],
        "tags": [
          "Beta APIs"
        ],
        "summary": "[beta] Retrieve a trailer",
        "operationId": "getTrailer",
        "parameters": [
          {
            "type": "string",
            "description": "ID of the trailer. This can either be the Samsara-specified ID, or an external ID. External IDs are customer specified key-value pairs created in the POST or PATCH requests of this resource. To specify an external ID as part of a path parameter, use the following format: \"key:value\". For example, \"maintenanceId:250020\".",
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": {
              "$ref": "#/definitions/TrailersGetTrailerResponseBody"
            }
          },
          "401": {
            "description": "Unauthorized response.",
            "schema": {
              "$ref": "#/definitions/TrailersGetTrailerUnauthorizedErrorResponseBody"
            }
          },
          "404": {
            "description": "Not Found response.",
            "schema": {
              "$ref": "#/definitions/TrailersGetTrailerNotFoundErrorResponseBody"
            }
          },
          "405": {
            "description": "Method Not Allowed response.",
            "schema": {
              "$ref": "#/definitions/TrailersGetTrailerMethodNotAllowedErrorResponseBody"
            }
          },
          "429": {
            "description": "Too Many Requests response.",
            "schema": {
              "$ref": "#/definitions/TrailersGetTrailerTooManyRequestsErrorResponseBody"
            }
          },
          "500": {
            "description": "Internal Server Error response.",
            "schema": {
              "$ref": "#/definitions/TrailersGetTrailerInternalServerErrorResponseBody"
            }
          },
          "501": {
            "description": "Not Implemented response.",
            "schema": {
              "$ref": "#/definitions/TrailersGetTrailerNotImplementedErrorResponseBody"
            }
          },
          "502": {
            "description": "Bad Gateway response.",
            "schema": {
              "$ref": "#/definitions/TrailersGetTrailerBadGatewayErrorResponseBody"
            }
          },
          "503": {
            "description": "Service Unavailable response.",
            "schema": {
              "$ref": "#/definitions/TrailersGetTrailerServiceUnavailableErrorResponseBody"
            }
          },
          "504": {
            "description": "Gateway Timeout response.",
            "schema": {
              "$ref": "#/definitions/TrailersGetTrailerGatewayTimeoutErrorResponseBody"
            }
          },
          "default": {
            "description": "Bad Request response.",
            "schema": {
              "$ref": "#/definitions/TrailersGetTrailerBadRequestErrorResponseBody"
            }
          }
        }
      },
      "delete": {
        "description": "Delete a trailer with the given ID.\n \n\n **Submit Feedback**: Likes, dislikes, and API feature requests should be filed as feedback in our \u003ca href=\"https://forms.gle/zkD4NCH7HjKb7mm69\" target=\"_blank\"\u003eAPI feedback form\u003c/a\u003e. If you encountered an issue or noticed inaccuracies in the API documentation, please \u003ca href=\"https://www.samsara.com/help\" target=\"_blank\"\u003esubmit a case\u003c/a\u003e to our support team.",
        "schemes": [
          "https"
        ],
        "tags": [
          "Beta APIs"
        ],
        "summary": "[beta] Delete a trailer",
        "operationId": "deleteTrailer",
        "parameters": [
          {
            "type": "string",
            "description": "Unique identifier for the trailer to delete.",
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "No Content response."
          },
          "401": {
            "description": "Unauthorized response.",
            "schema": {
              "$ref": "#/definitions/TrailersDeleteTrailerUnauthorizedErrorResponseBody"
            }
          },
          "404": {
            "description": "Not Found response.",
            "schema": {
              "$ref": "#/definitions/TrailersDeleteTrailerNotFoundErrorResponseBody"
            }
          },
          "405": {
            "description": "Method Not Allowed response.",
            "schema": {
              "$ref": "#/definitions/TrailersDeleteTrailerMethodNotAllowedErrorResponseBody"
            }
          },
          "429": {
            "description": "Too Many Requests response.",
            "schema": {
              "$ref": "#/definitions/TrailersDeleteTrailerTooManyRequestsErrorResponseBody"
            }
          },
          "500": {
            "description": "Internal Server Error response.",
            "schema": {
              "$ref": "#/definitions/TrailersDeleteTrailerInternalServerErrorResponseBody"
            }
          },
          "501": {
            "description": "Not Implemented response.",
            "schema": {
              "$ref": "#/definitions/TrailersDeleteTrailerNotImplementedErrorResponseBody"
            }
          },
          "502": {
            "description": "Bad Gateway response.",
            "schema": {
              "$ref": "#/definitions/TrailersDeleteTrailerBadGatewayErrorResponseBody"
            }
          },
          "503": {
            "description": "Service Unavailable response.",
            "schema": {
              "$ref": "#/definitions/TrailersDeleteTrailerServiceUnavailableErrorResponseBody"
            }
          },
          "504": {
            "description": "Gateway Timeout response.",
            "schema": {
              "$ref": "#/definitions/TrailersDeleteTrailerGatewayTimeoutErrorResponseBody"
            }
          },
          "default": {
            "description": "Bad Request response.",
            "schema": {
              "$ref": "#/definitions/TrailersDeleteTrailerBadRequestErrorResponseBody"
            }
          }
        }
      },
      "patch": {
        "description": "Update a trailer.  **Note** this implementation of patch uses [the JSON merge patch](https://tools.ietf.org/html/rfc7396) proposed standard.\n This means that any fields included in the patch request will _overwrite_ fields which exist on the target resource.\n For arrays, this means any array included in the request will _replace_ the array that exists at the specified path, it will not _add_ to the existing array\n \n\n **Submit Feedback**: Likes, dislikes, and API feature requests should be filed as feedback in our \u003ca href=\"https://forms.gle/zkD4NCH7HjKb7mm69\" target=\"_blank\"\u003eAPI feedback form\u003c/a\u003e. If you encountered an issue or noticed inaccuracies in the API documentation, please \u003ca href=\"https://www.samsara.com/help\" target=\"_blank\"\u003esubmit a case\u003c/a\u003e to our support team.",
        "schemes": [
          "https"
        ],
        "tags": [
          "Beta APIs"
        ],
        "summary": "[beta] Update a trailer",
        "operationId": "updateTrailer",
        "parameters": [
          {
            "type": "string",
            "description": "Unique identifier for the trailer to update.",
            "name": "id",
            "in": "path",
            "required": true
          },
          {
            "name": "UpdateTrailerRequestBody",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TrailersUpdateTrailerRequestBody"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": {
              "$ref": "#/definitions/TrailersUpdateTrailerResponseBody"
            }
          },
          "401": {
            "description": "Unauthorized response.",
            "schema": {
              "$ref": "#/definitions/TrailersUpdateTrailerUnauthorizedErrorResponseBody"
            }
          },
          "404": {
            "description": "Not Found response.",
            "schema": {
              "$ref": "#/definitions/TrailersUpdateTrailerNotFoundErrorResponseBody"
            }
          },
          "405": {
            "description": "Method Not Allowed response.",
            "schema": {
              "$ref": "#/definitions/TrailersUpdateTrailerMethodNotAllowedErrorResponseBody"
            }
          },
          "429": {
            "description": "Too Many Requests response.",
            "schema": {
              "$ref": "#/definitions/TrailersUpdateTrailerTooManyRequestsErrorResponseBody"
            }
          },
          "500": {
            "description": "Internal Server Error response.",
            "schema": {
              "$ref": "#/definitions/TrailersUpdateTrailerInternalServerErrorResponseBody"
            }
          },
          "501": {
            "description": "Not Implemented response.",
            "schema": {
              "$ref": "#/definitions/TrailersUpdateTrailerNotImplementedErrorResponseBody"
            }
          },
          "502": {
            "description": "Bad Gateway response.",
            "schema": {
              "$ref": "#/definitions/TrailersUpdateTrailerBadGatewayErrorResponseBody"
            }
          },
          "503": {
            "description": "Service Unavailable response.",
            "schema": {
              "$ref": "#/definitions/TrailersUpdateTrailerServiceUnavailableErrorResponseBody"
            }
          },
          "504": {
            "description": "Gateway Timeout response.",
            "schema": {
              "$ref": "#/definitions/TrailersUpdateTrailerGatewayTimeoutErrorResponseBody"
            }
          },
          "default": {
            "description": "Bad Request response.",
            "schema": {
              "$ref": "#/definitions/TrailersUpdateTrailerBadRequestErrorResponseBody"
            }
          }
        }
      },
      "parameters": [
        {
          "type": "string",
          "description": "ID of the trailer. This can either be the Samsara-specified ID, or an external ID. External IDs are customer specified key-value pairs created in the POST or PATCH requests of this resource. To specify an external ID as part of a path parameter, use the following format: \"key:value\". For example, \"maintenanceId:250020\".",
          "name": "id",
          "in": "path",
          "required": true
        },
        {
          "type": "string",
          "description": "Unique identifier for the trailer to delete.",
          "name": "id",
          "in": "path",
          "required": true
        },
        {
          "type": "string",
          "description": "Unique identifier for the trailer to update.",
          "name": "id",
          "in": "path",
          "required": true
        }
      ]
    },
    "/beta/fleet/vehicles/{id}/immobilizer": {
      "patch": {
        "description": "Update the engine immobilizer state of a vehicle. This requires an engine immobilizer to be installed on the vehicle gateway. The desired engine immobilizer state will be set on the vehicle when the vehicle gateway is online, and the engine is not running.\n \n\n **Submit Feedback**: Likes, dislikes, and API feature requests should be filed as feedback in our \u003ca href=\"https://forms.gle/zkD4NCH7HjKb7mm69\" target=\"_blank\"\u003eAPI feedback form\u003c/a\u003e. If you encountered an issue or noticed inaccuracies in the API documentation, please \u003ca href=\"https://www.samsara.com/help\" target=\"_blank\"\u003esubmit a case\u003c/a\u003e to our support team.",
        "schemes": [
          "https"
        ],
        "tags": [
          "Beta APIs"
        ],
        "summary": "[beta] Update engine immobilizer state of a vehicle.",
        "operationId": "updateEngineImmobilizerState",
        "parameters": [
          {
            "type": "integer",
            "format": "int64",
            "description": "Vehicle ID",
            "name": "id",
            "in": "path",
            "required": true
          },
          {
            "name": "UpdateEngineImmobilizerStateRequestBody",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EngineImmobilizerUpdateEngineImmobilizerStateRequestBody"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": {
              "$ref": "#/definitions/EngineImmobilizerUpdateEngineImmobilizerStateResponseBody"
            }
          },
          "401": {
            "description": "Unauthorized response.",
            "schema": {
              "$ref": "#/definitions/EngineImmobilizerUpdateEngineImmobilizerStateUnauthorizedErrorResponseBody"
            }
          },
          "404": {
            "description": "Not Found response.",
            "schema": {
              "$ref": "#/definitions/EngineImmobilizerUpdateEngineImmobilizerStateNotFoundErrorResponseBody"
            }
          },
          "405": {
            "description": "Method Not Allowed response.",
            "schema": {
              "$ref": "#/definitions/EngineImmobilizerUpdateEngineImmobilizerStateMethodNotAllowedErrorResponseBody"
            }
          },
          "429": {
            "description": "Too Many Requests response.",
            "schema": {
              "$ref": "#/definitions/EngineImmobilizerUpdateEngineImmobilizerStateTooManyRequestsErrorResponseBody"
            }
          },
          "500": {
            "description": "Internal Server Error response.",
            "schema": {
              "$ref": "#/definitions/EngineImmobilizerUpdateEngineImmobilizerStateInternalServerErrorResponseBody"
            }
          },
          "501": {
            "description": "Not Implemented response.",
            "schema": {
              "$ref": "#/definitions/EngineImmobilizerUpdateEngineImmobilizerStateNotImplementedErrorResponseBody"
            }
          },
          "502": {
            "description": "Bad Gateway response.",
            "schema": {
              "$ref": "#/definitions/EngineImmobilizerUpdateEngineImmobilizerStateBadGatewayErrorResponseBody"
            }
          },
          "503": {
            "description": "Service Unavailable response.",
            "schema": {
              "$ref": "#/definitions/EngineImmobilizerUpdateEngineImmobilizerStateServiceUnavailableErrorResponseBody"
            }
          },
          "504": {
            "description": "Gateway Timeout response.",
            "schema": {
              "$ref": "#/definitions/EngineImmobilizerUpdateEngineImmobilizerStateGatewayTimeoutErrorResponseBody"
            }
          },
          "default": {
            "description": "Bad Request response.",
            "schema": {
              "$ref": "#/definitions/EngineImmobilizerUpdateEngineImmobilizerStateBadRequestErrorResponseBody"
            }
          }
        }
      },
      "parameters": [
        {
          "type": "integer",
          "format": "int64",
          "description": "Vehicle ID",
          "name": "id",
          "in": "path",
          "required": true
        }
      ]
    },
    "/contacts": {
      "get": {
        "description": "Returns a list of all contacts in an organization. \n\n **Submit Feedback**: Likes, dislikes, and API feature requests should be filed as feedback in our \u003ca href=\"https://forms.gle/zkD4NCH7HjKb7mm69\" target=\"_blank\"\u003eAPI feedback form\u003c/a\u003e. If you encountered an issue or noticed inaccuracies in the API documentation, please \u003ca href=\"https://www.samsara.com/help\" target=\"_blank\"\u003esubmit a case\u003c/a\u003e to our support team.",
        "tags": [
          "Contacts"
        ],
        "summary": "List all contacts",
        "operationId": "listContacts",
        "parameters": [
          {
            "maximum": 512,
            "minimum": 1,
            "type": "integer",
            "format": "int64",
            "description": "The limit for how many objects will be in the response. Default and max for this value is 512 objects.",
            "name": "limit",
            "in": "query"
          },
          {
            "type": "string",
            "description": "If specified, this should be the endCursor value from the previous page of results. When present, this request will return the next page of results that occur immediately after the previous page of results.",
            "name": "after",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "List of all contacts",
            "schema": {
              "$ref": "#/definitions/ListContactsResponse"
            }
          },
          "default": {
            "description": "Error response",
            "schema": {
              "$ref": "#/definitions/standardErrorResponse"
            }
          }
        }
      },
      "post": {
        "description": "Add a contact to the organization. \n\n **Submit Feedback**: Likes, dislikes, and API feature requests should be filed as feedback in our \u003ca href=\"https://forms.gle/zkD4NCH7HjKb7mm69\" target=\"_blank\"\u003eAPI feedback form\u003c/a\u003e. If you encountered an issue or noticed inaccuracies in the API documentation, please \u003ca href=\"https://www.samsara.com/help\" target=\"_blank\"\u003esubmit a case\u003c/a\u003e to our support team.",
        "tags": [
          "Contacts"
        ],
        "summary": "Create a contact",
        "operationId": "createContact",
        "parameters": [
          {
            "description": "The contact create parameters.",
            "name": "contact",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateContactRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Contact was successfully added.",
            "schema": {
              "$ref": "#/definitions/ContactResponse"
            }
          },
          "default": {
            "description": "Error response",
            "schema": {
              "$ref": "#/definitions/standardErrorResponse"
            }
          }
        }
      }
    },
    "/contacts/{id}": {
      "get": {
        "description": "Get a specific contact's information. \n\n **Submit Feedback**: Likes, dislikes, and API feature requests should be filed as feedback in our \u003ca href=\"https://forms.gle/zkD4NCH7HjKb7mm69\" target=\"_blank\"\u003eAPI feedback form\u003c/a\u003e. If you encountered an issue or noticed inaccuracies in the API documentation, please \u003ca href=\"https://www.samsara.com/help\" target=\"_blank\"\u003esubmit a case\u003c/a\u003e to our support team.",
        "tags": [
          "Contacts"
        ],
        "summary": "Retrieve a contact",
        "operationId": "getContact",
        "responses": {
          "200": {
            "description": "Returns the specified contact.",
            "schema": {
              "$ref": "#/definitions/ContactResponse"
            }
          },
          "default": {
            "description": "Error response",
            "schema": {
              "$ref": "#/definitions/standardErrorResponse"
            }
          }
        }
      },
      "delete": {
        "description": "Delete the given contact. \n\n **Submit Feedback**: Likes, dislikes, and API feature requests should be filed as feedback in our \u003ca href=\"https://forms.gle/zkD4NCH7HjKb7mm69\" target=\"_blank\"\u003eAPI feedback form\u003c/a\u003e. If you encountered an issue or noticed inaccuracies in the API documentation, please \u003ca href=\"https://www.samsara.com/help\" target=\"_blank\"\u003esubmit a case\u003c/a\u003e to our support team.",
        "tags": [
          "Contacts"
        ],
        "summary": "Delete a contact",
        "operationId": "deleteContact",
        "responses": {
          "204": {
            "description": "A successful DELETE response is a 204 with no content.",
            "schema": {
              "$ref": "#/definitions/standardDeleteResponse"
            }
          },
          "default": {
            "description": "Error response",
            "schema": {
              "$ref": "#/definitions/standardErrorResponse"
            }
          }
        }
      },
      "patch": {
        "description": "Update a specific contact's information. \n\n **Submit Feedback**: Likes, dislikes, and API feature requests should be filed as feedback in our \u003ca href=\"https://forms.gle/zkD4NCH7HjKb7mm69\" target=\"_blank\"\u003eAPI feedback form\u003c/a\u003e. If you encountered an issue or noticed inaccuracies in the API documentation, please \u003ca href=\"https://www.samsara.com/help\" target=\"_blank\"\u003esubmit a case\u003c/a\u003e to our support team.",
        "tags": [
          "Contacts"
        ],
        "summary": "Update a contact",
        "operationId": "updateContact",
        "parameters": [
          {
            "description": "Updates to the contact.",
            "name": "contact",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateContactRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updated contact object with given ID.",
            "schema": {
              "$ref": "#/definitions/ContactResponse"
            }
          },
          "default": {
            "description": "Error response",
            "schema": {
              "$ref": "#/definitions/standardErrorResponse"
            }
          }
        }
      },
      "parameters": [
        {
          "type": "string",
          "description": "Unique identifier for the contact.",
          "name": "id",
          "in": "path",
          "required": true
        }
      ]
    },
    "/fleet/carrier-proposed-assignments": {
      "get": {
        "description": "Show the assignments that are active for drivers and that would currently be visible to them in the driver app. \n\n **Submit Feedback**: Likes, dislikes, and API feature requests should be filed as feedback in our \u003ca href=\"https://forms.gle/zkD4NCH7HjKb7mm69\" target=\"_blank\"\u003eAPI feedback form\u003c/a\u003e. If you encountered an issue or noticed inaccuracies in the API documentation, please \u003ca href=\"https://www.samsara.com/help\" target=\"_blank\"\u003esubmit a case\u003c/a\u003e to our support team.",
        "tags": [
          "Carrier Proposed Assignments"
        ],
        "summary": "Retrieve assignments",
        "operationId": "listCarrierProposedAssignments",
        "parameters": [
          {
            "maximum": 512,
            "minimum": 1,
            "type": "integer",
            "format": "int64",
            "description": "The limit for how many objects will be in the response. Default and max for this value is 512 objects.",
            "name": "limit",
            "in": "query"
          },
          {
            "type": "string",
            "description": "If specified, this should be the endCursor value from the previous page of results. When present, this request will return the next page of results that occur immediately after the previous page of results.",
            "name": "after",
            "in": "query"
          },
          {
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "csv",
            "description": "If specified, limits the results to those for these drivers. e.g. `driverIds=1,2,3`",
            "name": "driverIds",
            "in": "query"
          },
          {
            "type": "string",
            "description": "If specified, shows assignments that will be active at this time. Defaults to now, which would show current active assignments. In RFC 3339 format. Millisecond precision and timezones are supported. (Examples: 2019-06-13T19:08:25Z, 2019-06-13T19:08:25.455Z, OR 2015-09-15T14:00:12-04:00).",
            "name": "activeTime",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the assignments that drivers would see in the future, if any.",
            "schema": {
              "$ref": "#/definitions/ListCarrierProposedAssignmentResponse"
            }
          },
          "default": {
            "description": "Error response",
            "schema": {
              "$ref": "#/definitions/standardErrorResponse"
            }
          }
        }
      },
      "post": {
[...]
