{
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "schemes": [
    "https"
  ],
  "swagger": "2.0",
  "info": {
    "description": "# Introduction\n\nSamsara provides API endpoints for interacting with Samsara Cloud, so that you can build powerful applications and custom solutions with sensor data. Samsara has endpoints available to track and analyze sensors, vehicles, and entire fleets.\n\nThe Samsara Cloud API is a [RESTful API](https://en.wikipedia.org/wiki/Representational_state_transfer) accessed by an [HTTP](https://en.wikipedia.org/wiki/Hypertext_Transfer_Protocol) client such as wget or curl, or HTTP libraries of most modern programming languages including python, ruby, java. We use built-in HTTP features, like HTTP authentication and HTTP verbs, which are understood by off-the-shelf HTTP clients. We allow you to interact securely with our API from a client-side web application (though you should never expose your secret API key). [JSON](http://www.json.org/) is returned by all API responses, including errors. If you’re familiar with what you can build with a REST API, the following API reference guide will be your go-to resource.\n\nAPI access to the Samsara cloud is available to all Samsara administrators. To start developing with Samsara APIs you will need to [obtain your API keys](#section/Authentication) to authenticate your API requests.\n\nIf you have any questions you can reach out to us on [support@samsara.com](mailto:support@samsara.com)\n\n# Endpoints\n\nAll our APIs can be accessed through HTTP requests to URLs like:\n\n```curl\nhttps://api.samsara.com/\u003cversion\u003e/\u003cendpoint\u003e\n```\n\nAll our APIs are [versioned](#section/Versioning). If we intend to make breaking changes to an API which either changes the response format or request parameter, we will increment the version.\n\n# Authentication\n\nTo authenticate your API request you will need to include your secret token. You can manage your API tokens in the [Dashboard](https://cloud.samsara.com). They are visible under `Settings-\u003eOrganization-\u003eAPI Tokens`.\n\nYour API tokens carry many privileges, so be sure to keep them secure. Do not share your secret API tokens in publicly accessible areas such as GitHub, client-side code, and so on.\n\nAuthentication to the API is performed via [HTTP Basic Auth](https://en.wikipedia.org/wiki/Basic_access_authentication). Provide your API token as the basic access_token value in the URL. You do not need to provide a password.\n\n```curl\nhttps://api.samsara.com/\u003cversion\u003e/\u003cendpoint\u003e?access_token={access_token}\n```\n\nAll API requests must be made over [HTTPS](https://en.wikipedia.org/wiki/HTTPS). Calls made over plain HTTP or without authentication will fail.\n\n# Request Methods\n\nOur API endpoints use [HTTP request methods](https://en.wikipedia.org/wiki/Hypertext_Transfer_Protocol#Request_methods) to specify the desired operation to be performed. The documentation below specified request method supported by each endpoint and the resulting action.\n\n## GET\n\nGET requests are typically used for fetching data (like data for a particular driver).\n\n## POST\n\nPOST requests are typically used for creating or updating a record (like adding new tags to the system). With that being said, a few of our POST requests can be used for fetching data (like current location data of your fleet).\n\n## PUT\n\nPUT requests are typically used for updating an existing record (like updating all devices associated with a particular tag).\n\n## PATCH\n\nPATCH requests are typically used for modifying an existing record (like modifying a few devices associated with a particular tag).\n\n## DELETE\n\nDELETE requests are used for deleting a record (like deleting a tag from the system).\n\n# Response Codes\n\nAll API requests will respond with appropriate [HTTP status code](https://en.wikipedia.org/wiki/List_of_HTTP_status_codes). Your API client should handle each response class differently.\n\n## 2XX\n\nThese are successful responses and indicate that the API request returned the expected response.\n\n## 4XX\n\nThese indicate that there was a problem with the request like a missing parameter or invalid values. Check the response for specific [error details](#section/Error-Responses). Requests that respond with a 4XX status code, should be modified before retrying.\n\n## 5XX\n\nThese indicate server errors when the server is unreachable or is misconfigured. In this case, you should retry the API request after some delay.\n\n# Error Responses\n\nIn case of a 4XX status code, the body of the response will contain information to briefly explain the error reported. To help debugging the error, you can refer to the following table for understanding the error message.\n\n| Status Code | Message | Description |\n|-------------|----------------|-------------------------------------------------------------------|\n| 401 | Invalid token | The API token is invalid and could not be authenticated. Please refer to the [authentication section](#section/Authentication). |\n| 404 | Page not found | The API endpoint being accessed is invalid. |\n| 400 | Bad request | Default response for an invalid request. Please check the request to make sure it follows the format specified in the documentation. |\n\n# Versioning\n\nAll our APIs are versioned. Our current API version is `v1` and we are continuously working on improving it further and provide additional endpoints. If we intend to make breaking changes to an API which either changes the response format or request parameter, we will increment the version. Thus, you can use our current API version worry free.\n\n# FAQs\n\nCheck out our [responses to FAQs here](https://kb.samsara.com/hc/en-us/sections/360000538054-APIs). Don’t see an answer to your question? Reach out to us on [support@samsara.com](mailto:support@samsara.com).",
    "title": "Samsara API",
    "version": "1.0.0"
  },
  "host": "api.samsara.com",
  "basePath": "/v1",
  "paths": {
    "/addresses": {
      "get": {
        "description": "Fetch all addresses/geofences for the organization. An address contains either a circle or polygon geofence describing the address boundaries.",
        "tags": [
          "Fleet"
        ],
        "summary": "/addresses",
        "operationId": "GetOrganizationAddresses",
        "parameters": [
          {
            "$ref": "#/parameters/accessTokenParam"
          }
        ],
        "responses": {
          "200": {
            "description": "List of addresses/geofences. For each address entry, the geofence field will only be populated with either 'circle' or 'polygon', depending on the geofence type.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Address"
              }
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "post": {
        "description": "Add one or more addresses to the organization",
        "tags": [
          "Fleet"
        ],
        "summary": "/addresses",
        "operationId": "AddOrganizationAddresses",
        "parameters": [
          {
            "$ref": "#/parameters/accessTokenParam"
          },
          {
            "$ref": "#/parameters/addressAddParam"
          }
        ],
        "responses": {
          "200": {
            "description": "List of added addresses/geofences. For each address entry, the geofence field will only be populated with either 'circle' or 'polygon', depending on the geofence type. Circle geofences added without a specific lat/lng are geocoded asynchronously, and will be 0,0 in the immediate response.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Address"
              }
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/addresses/{addressId}": {
      "get": {
        "description": "Fetch an address by its id.",
        "tags": [
          "Fleet"
        ],
        "summary": "/addresses/{addressId}",
        "operationId": "GetOrganizationAddress",
        "parameters": [
          {
            "$ref": "#/parameters/accessTokenParam"
          },
          {
            "type": "integer",
            "format": "int64",
            "description": "ID of the address/geofence",
            "name": "addressId",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "The address/geofence. The geofence field will only be populated with either 'circle' or 'polygon', depending on the geofence type.",
            "schema": {
              "$ref": "#/definitions/Address"
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "description": "Delete an address.",
        "tags": [
          "Fleet"
        ],
        "summary": "/addresses/{addressId}",
        "operationId": "DeleteOrganizationAddress",
        "parameters": [
          {
            "$ref": "#/parameters/accessTokenParam"
          },
          {
            "type": "integer",
            "format": "int64",
            "description": "ID of the address/geofence",
            "name": "addressId",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Address was successfully deleted. No response body is returned."
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "patch": {
        "description": "Update the name, formatted address, geofence, notes, or tag and contact Ids for an address. The set of tags or contacts associated with this address will be updated to exactly match the list of IDs passed in. To remove all tags or contacts from an address, pass an empty list; to remove notes, pass an empty string.",
        "tags": [
          "Fleet"
        ],
        "summary": "/addresses/{addressId}",
        "operationId": "UpdateOrganizationAddress",
        "parameters": [
          {
            "$ref": "#/parameters/accessTokenParam"
          },
          {
            "$ref": "#/parameters/addressUpdateParam"
          },
          {
            "type": "integer",
            "format": "int64",
            "description": "ID of the address/geofence",
            "name": "addressId",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Address was successfully updated. No response body is returned."
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/contacts": {
      "get": {
        "description": "Fetch all contacts for the organization.",
        "tags": [
          "Fleet"
        ],
        "summary": "/contacts",
        "operationId": "ListContacts",
        "parameters": [
          {
            "$ref": "#/parameters/accessTokenParam"
          }
        ],
        "responses": {
          "200": {
            "description": "List of contacts.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Contact"
              }
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/contacts/{contact_id}": {
      "get": {
        "description": "Fetch a contact by its id.",
        "tags": [
          "Fleet"
        ],
        "summary": "/contacts/{contact_id}",
        "operationId": "GetOrganizationContact",
        "parameters": [
          {
            "$ref": "#/parameters/accessTokenParam"
          },
          {
            "type": "integer",
            "format": "int64",
            "description": "ID of the contact",
            "name": "contact_id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "The contact.",
            "schema": {
              "$ref": "#/definitions/Contact"
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/fleet/add_address": {
      "post": {
        "description": "This method adds an address book entry to the specified group.",
        "tags": [
          "Fleet"
        ],
        "summary": "/fleet/add_address",
        "operationId": "add_fleet_address",
        "parameters": [
          {
            "$ref": "#/parameters/accessTokenParam"
          },
          {
            "name": "addressParam",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "groupId",
                "name",
                "address",
                "radius"
              ],
              "properties": {
                "address": {
                  "description": "The address of the entry to add, as it would be recognized if provided to maps.google.com.",
                  "type": "string",
                  "example": "501 York St"
                },
                "groupId": {
                  "description": "Group ID to query.",
                  "type": "integer",
                  "format": "int64",
                  "example": 101
                },
                "name": {
                  "description": "Name of the location to add to the address book.",
                  "type": "string",
                  "example": "HQ"
                },
                "radius": {
                  "description": "Radius in meters of the address (used for matching vehicle trip stops to this location).",
                  "type": "integer",
                  "example": 10
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Address was successfully added. No response body is returned."
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/fleet/assets": {
      "get": {
        "description": "Fetch all of the assets for the group.",
        "tags": [
          "Fleet",
          "Assets"
        ],
        "summary": "/fleet/assets",
        "operationId": "GetAllAssets",
        "parameters": [
          {
            "$ref": "#/parameters/accessTokenParam"
          },
          {
            "$ref": "#/parameters/groupIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "List of assets.",
            "schema": {
              "type": "object",
              "properties": {
                "assets": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/Asset"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/fleet/assets/locations": {
      "get": {
        "description": "Fetch current locations of all assets for the group.",
        "tags": [
          "Fleet",
          "Assets"
        ],
        "summary": "/fleet/assets/locations",
        "operationId": "GetAllAssetCurrentLocations",
        "parameters": [
          {
            "$ref": "#/parameters/accessTokenParam"
          },
          {
            "$ref": "#/parameters/groupIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "List of assets and their current locations.",
            "schema": {
              "type": "object",
              "properties": {
                "assets": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/AssetCurrentLocationsResponse"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/fleet/assets/{asset_id}/locations": {
      "get": {
        "description": "Fetch the historical locations for the asset.",
        "tags": [
          "Fleet",
          "Assets"
        ],
        "summary": "/fleet/assets/{assetId:[0-9]+}/locations",
        "operationId": "GetAssetLocation",
        "parameters": [
          {
            "$ref": "#/parameters/accessTokenParam"
          },
          {
            "$ref": "#/parameters/assetIdParam"
          },
          {
            "$ref": "#/parameters/assetHistoryStartTimeParam"
          },
          {
            "$ref": "#/parameters/assetHistoryEndTimeParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Asset location details.",
            "schema": {
              "$ref": "#/definitions/AssetLocationResponse"
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/fleet/assets/{asset_id}/reefer": {
      "get": {
        "description": "Fetch the reefer-specific stats of an asset.",
        "tags": [
          "Fleet",
          "Assets"
        ],
        "summary": "/fleet/assets/{assetId:[0-9]+}/reefer",
        "operationId": "GetAssetReefer",
        "parameters": [
          {
            "$ref": "#/parameters/accessTokenParam"
          },
          {
            "$ref": "#/parameters/assetIdParam"
          },
          {
            "$ref": "#/parameters/assetHistoryStartTimeParam"
          },
          {
            "$ref": "#/parameters/assetHistoryEndTimeParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Reefer-specific asset details.",
            "schema": {
              "$ref": "#/definitions/AssetReeferResponse"
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/fleet/dispatch/routes": {
      "get": {
        "description": "Fetch all of the dispatch routes for the group.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Fleet",
          "Routes"
        ],
        "summary": "/fleet/dispatch/routes",
        "operationId": "fetchAllDispatchRoutes",
        "parameters": [
          {
            "$ref": "#/parameters/accessTokenParam"
          },
          {
            "$ref": "#/parameters/groupIdParam"
          },
          {
            "$ref": "#/parameters/routeEndTimeParam"
          },
          {
            "$ref": "#/parameters/routeDurationParam"
          }
        ],
        "responses": {
          "200": {
            "description": "All dispatch route objects for the group.",
            "schema": {
              "$ref": "#/definitions/DispatchRoutes"
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "post": {
        "description": "Create a new dispatch route.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Fleet",
          "Routes"
        ],
        "summary": "/fleet/dispatch/routes",
        "operationId": "createDispatchRoute",
        "parameters": [
          {
            "$ref": "#/parameters/accessTokenParam"
          },
          {
            "$ref": "#/parameters/routeCreateParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Created route object including the new route ID.",
            "schema": {
              "$ref": "#/definitions/DispatchRoute"
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/fleet/dispatch/routes/job_updates": {
      "get": {
        "description": "Fetch all updates to a job including route data in the last 24 hours or subsequent to an sequence ID",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Fleet",
          "Routes"
        ],
        "summary": "/fleet/dispatch/routes/job_updates",
        "operationId": "fetchAllRouteJobUpdates",
        "parameters": [
          {
            "$ref": "#/parameters/accessTokenParam"
          },
          {
            "$ref": "#/parameters/groupIdParam"
          },
          {
            "$ref": "#/parameters/lastReceivedSequenceIDParam"
          },
          {
            "$ref": "#/parameters/jobUpdatesIncludeParam"
          }
        ],
        "responses": {
          "200": {
            "description": "All job updates on routes.",
            "schema": {
              "$ref": "#/definitions/allRouteJobUpdates"
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/fleet/dispatch/routes/{route_id}": {
      "get": {
        "description": "Fetch a dispatch route by id.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Fleet",
          "Routes"
        ],
        "summary": "/fleet/dispatch/routes/{route_id:[0-9]+}",
        "operationId": "getDispatchRouteById",
        "responses": {
          "200": {
            "description": "The dispatch route corresponding to route_id.",
            "schema": {
              "$ref": "#/definitions/DispatchRoute"
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "description": "Update a dispatch route and its associated jobs.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Fleet",
          "Routes"
        ],
        "summary": "/fleet/dispatch/routes/{route_id:[0-9]+}/",
        "operationId": "updateDispatchRouteById",
        "parameters": [
          {
            "$ref": "#/parameters/routeUpdateParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Update the dispatch route. Allowable updates include setting job state, adding or removing jobs, and changing job locations and times.",
            "schema": {
              "$ref": "#/definitions/DispatchRoute"
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "description": "Delete a dispatch route and its associated jobs.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Fleet",
          "Routes"
        ],
        "summary": "/fleet/dispatch/routes/{route_id:[0-9]+}/",
        "operationId": "deleteDispatchRouteById",
        "responses": {
          "200": {
            "description": "Successfully deleted the dispatch route. No response body is returned."
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/parameters/accessTokenParam"
        },
        {
          "type": "integer",
          "format": "int64",
          "description": "ID of the dispatch route.",
          "name": "route_id",
          "in": "path",
          "required": true
        }
      ]
    },
    "/fleet/dispatch/routes/{route_id}/history": {
      "get": {
        "description": "Fetch the history of a dispatch route.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Fleet",
          "Routes"
        ],
        "summary": "/fleet/dispatch/routes/{route_id:[0-9]+}/history",
        "operationId": "getDispatchRouteHistory",
        "parameters": [
          {
            "$ref": "#/parameters/accessTokenParam"
          },
          {
            "$ref": "#/parameters/routeHistoryStartTimeParam"
          },
          {
            "$ref": "#/parameters/routeHistoryEndTimeParam"
          },
          {
            "type": "integer",
            "format": "int64",
            "description": "ID of the route with history.",
            "name": "route_id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "The historical route state changes between start_time and end_time.",
            "schema": {
              "$ref": "#/definitions/DispatchRouteHistory"
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/fleet/drivers": {
      "post": {
        "description": "Get all the drivers for the specified group.",
        "tags": [
          "Fleet"
        ],
        "summary": "/fleet/drivers",
        "operationId": "get_fleet_drivers",
        "parameters": [
          {
            "$ref": "#/parameters/accessTokenParam"
          },
          {
            "name": "groupDriversParam",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "groupId"
              ],
              "properties": {
                "groupId": {
                  "description": "Group ID to query.",
                  "type": "integer",
                  "format": "int64",
                  "example": 101
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "All drivers in the group.",
            "schema": {
              "$ref": "#/definitions/DriversResponse"
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/fleet/drivers/create": {
      "post": {
        "description": "Create a new driver.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Fleet",
          "Drivers"
        ],
        "summary": "/fleet/drivers/create",
        "operationId": "createDriver",
        "parameters": [
          {
            "$ref": "#/parameters/accessTokenParam"
          },
          {
            "$ref": "#/parameters/createDriverParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the successfully created the driver.",
            "schema": {
              "$ref": "#/definitions/Driver"
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/fleet/drivers/document_types": {
      "get": {
        "description": "Fetch all of the document types.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Fleet"
        ],
        "summary": "/fleet/drivers/document_types",
        "operationId": "getDriverDocumentTypesByOrgId",
        "responses": {
          "200": {
            "description": "Returns all of the document types.",
            "schema": {
              "$ref": "#/definitions/DocumentTypes"
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/fleet/drivers/documents": {
      "get": {
        "description": "Fetch all of the documents.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Fleet"
        ],
        "summary": "/fleet/drivers/documents",
        "operationId": "getDriverDocumentsByOrgId",
        "parameters": [
          {
            "$ref": "#/parameters/documentsEndMsParam"
          },
          {
            "$ref": "#/parameters/documentsDurationMsParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns all of the documents.",
            "schema": {
              "$ref": "#/definitions/Documents"
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/parameters/accessTokenParam"
        }
      ]
    },
    "/fleet/drivers/inactive": {
      "get": {
        "description": "Fetch all deactivated drivers for the group.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Fleet",
          "Drivers"
        ],
        "summary": "/fleet/drivers/inactive",
        "operationId": "getAllDeactivatedDrivers",
        "parameters": [
          {
            "$ref": "#/parameters/accessTokenParam"
          },
          {
            "$ref": "#/parameters/groupIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns an array of all deactivated drivers for the group. Deactivated drivers are referenced at /fleet/drivers/inactive/{driver_id}",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Driver"
              }
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/fleet/drivers/inactive/{driver_id_or_external_id}": {
      "get": {
        "description": "Fetch deactivated driver by id.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Fleet",
          "Drivers"
        ],
        "summary": "/fleet/drivers/inactive/{driver_id:[0-9]+ | external_id:[a-zA-Z0-9]+}",
        "operationId": "getDeactivatedDriverById",
        "responses": {
          "200": {
            "description": "Returns the deactivated driver with the given driver_id.",
            "schema": {
              "$ref": "#/definitions/Driver"
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "description": "Reactivate the inactive driver having id.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Fleet",
          "Drivers"
        ],
        "summary": "/fleet/drivers/inactive/{driver_id:[0-9]+ | external_id:[a-zA-Z0-9]+}",
        "operationId": "reactivateDriverById",
        "parameters": [
          {
            "$ref": "#/parameters/reactivateDriverParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the reactivated driver, which is now available at /fleet/drivers/{driver_id}.",
            "schema": {
              "$ref": "#/definitions/CurrentDriver"
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/parameters/accessTokenParam"
        },
        {
          "$ref": "#/parameters/driverIdOrExternalIdParam"
        }
      ]
    },
    "/fleet/drivers/summary": {
      "post": {
        "description": "Get the distance and time each driver in an organization has driven in a given time period.",
        "tags": [
          "Fleet"
        ],
        "summary": "/fleet/drivers/summary",
        "operationId": "get_fleet_drivers_summary",
        "parameters": [
          {
            "$ref": "#/parameters/accessTokenParam"
          },
          {
            "type": "boolean",
            "description": "Snap query result to HOS day boundaries.",
            "name": "snap_to_day_bounds",
            "in": "query"
          },
          {
            "description": "Org ID and time range to query.",
            "name": "driversSummaryParam",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "orgId",
                "startMs",
                "endMs"
              ],
              "properties": {
                "endMs": {
                  "description": "End time (ms) of queried time period.",
                  "type": "integer",
                  "format": "int64",
                  "example": 1481076244389
                },
                "orgId": {
                  "description": "Org ID to query.",
                  "type": "integer",
                  "format": "int64",
                  "example": 101
                },
                "startMs": {
                  "description": "Start time (ms) of queried time period.",
                  "type": "integer",
                  "format": "int64",
                  "example": 1481076243389
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Distance traveled and time active for each driver in the organization over the specified time period.",
            "schema": {
              "$ref": "#/definitions/DriversSummaryResponse"
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/fleet/drivers/{driverId}/safety/score": {
      "get": {
        "description": "Fetch the safety score for the driver.",
        "tags": [
          "Fleet",
          "Safety"
        ],
        "summary": "/fleet/drivers/{driverId:[0-9]+}/safety/score",
        "operationId": "GetDriverSafetyScore",
        "parameters": [
          {
            "$ref": "#/parameters/accessTokenParam"
          },
          {
            "$ref": "#/parameters/safetyScoreStartMsParam"
          },
          {
            "$ref": "#/parameters/safetyScoreEndMsParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Safety score details.",
            "schema": {
              "$ref": "#/definitions/DriverSafetyScoreResponse"
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "parameters": [
        {
          "type": "integer",
          "format": "int64",
          "description": "ID of the driver",
          "name": "driverId",
          "in": "path",
          "required": true
        }
      ]
    },
    "/fleet/drivers/{driver_id_or_external_id}": {
      "get": {
        "description": "Fetch driver by id.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Fleet",
          "Drivers"
        ],
        "summary": "/fleet/drivers/{driver_id:[0-9]+ | external_id:[a-zA-Z0-9]+}",
        "operationId": "getDriverById",
        "responses": {
          "200": {
            "description": "Returns the driver for the given driver_id.",
            "schema": {
              "$ref": "#/definitions/CurrentDriver"
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "description": "Deactivate a driver with the given id.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Fleet",
          "Drivers"
        ],
        "summary": "/fleet/drivers/{driver_id:[0-9]+ | external_id:[a-zA-Z0-9]+}",
        "operationId": "deactivateDriver",
        "responses": {
          "200": {
            "description": "Successfully deactivated the driver, which is now referenced by /fleet/drivers/inactive/{driver_id}."
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/parameters/accessTokenParam"
        },
        {
          "$ref": "#/parameters/driverIdOrExternalIdParam"
        }
      ]
    },
    "/fleet/drivers/{driver_id}/dispatch/routes": {
      "get": {
        "description": "Fetch all of the dispatch routes for a given driver.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Fleet",
          "Routes"
        ],
        "summary": "/fleet/drivers/{driver_id:[0-9]+}/dispatch/routes",
        "operationId": "getDispatchRoutesByDriverId",
        "parameters": [
          {
            "$ref": "#/parameters/routeEndTimeParam"
          },
          {
            "$ref": "#/parameters/routeDurationParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the dispatch routes for the given driver_id.",
            "schema": {
              "$ref": "#/definitions/DispatchRoutes"
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "post": {
        "description": "Create a new dispatch route for the driver with driver_id.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Fleet",
          "Routes"
        ],
        "summary": "/fleet/drivers/{driver_id:[0-9]+}/dispatch/routes",
        "operationId": "createDriverDispatchRoute",
        "parameters": [
          {
            "$ref": "#/parameters/routeCreateParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Created route object including the new route ID.",
            "schema": {
              "$ref": "#/definitions/DispatchRoute"
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/parameters/accessTokenParam"
        },
        {
          "type": "integer",
          "format": "int64",
          "description": "ID of the driver with the associated routes.",
          "name": "driver_id",
          "in": "path",
          "required": true
        }
      ]
    },
    "/fleet/drivers/{driver_id}/documents": {
      "post": {
        "description": "Create a driver document for the given driver.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Fleet"
        ],
        "summary": "/fleet/drivers/{driver_id:[0-9]+}/documents",
        "operationId": "createDriverDocument",
        "parameters": [
          {
            "$ref": "#/parameters/documentCreateParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the created document.",
            "schema": {
              "$ref": "#/definitions/Document"
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/parameters/accessTokenParam"
        },
        {
          "type": "integer",
          "format": "int64",
          "description": "ID of the driver for whom the document is created.",
          "name": "driver_id",
          "in": "path",
          "required": true
        }
      ]
    },
    "/fleet/drivers/{driver_id}/hos_daily_logs": {
      "post": {
        "description": "Get summarized daily HOS charts for a specified driver.",
        "tags": [
          "Fleet"
        ],
        "summary": "/fleet/drivers/{driver_id:[0-9]+}/hos_daily_logs",
        "operationId": "get_fleet_drivers_hos_daily_logs",
        "parameters": [
          {
            "$ref": "#/parameters/accessTokenParam"
          },
          {
            "type": "integer",
            "format": "int64",
            "description": "ID of the driver with HOS logs.",
            "name": "driver_id",
            "in": "path",
            "required": true
          },
          {
            "name": "hosLogsParam",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "groupId",
                "driverId",
                "startMs",
                "endMs"
              ],
              "properties": {
                "driverId": {
                  "description": "Driver ID to query.",
                  "type": "integer",
                  "format": "int64",
                  "example": 444
                },
                "endMs": {
                  "description": "End of the time range, specified in milliseconds UNIX time.",
                  "type": "integer",
                  "example": 1462881998034
                },
                "groupId": {
                  "description": "Group ID to query.",
                  "type": "integer",
                  "format": "int64",
                  "example": 101
                },
                "startMs": {
                  "description": "Beginning of the time range, specified in milliseconds UNIX time.",
                  "type": "integer",
                  "example": 1462878398034
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Distance traveled and time active for each driver in the organization over the specified time period.",
            "schema": {
              "$ref": "#/definitions/DriverDailyLogResponse"
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/fleet/hos_authentication_logs": {
      "post": {
        "description": "Get the HOS (hours of service) signin and signout logs for the specified driver. Only signout logs include location information.",
        "tags": [
          "Fleet"
        ],
        "summary": "/fleet/hos_authentication_logs",
        "operationId": "get_fleet_hos_authentication_logs",
        "parameters": [
          {
            "$ref": "#/parameters/accessTokenParam"
          },
          {
            "name": "hosAuthenticationLogsParam",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "groupId",
                "driverId",
                "startMs",
                "endMs"
              ],
              "properties": {
                "driverId": {
                  "description": "Driver ID to query.",
                  "type": "integer",
                  "format": "int64",
                  "example": 444
                },
                "endMs": {
                  "description": "End of the time range, specified in milliseconds UNIX time.",
                  "type": "integer",
                  "example": 1462881998034
                },
                "groupId": {
                  "description": "Group ID to query.",
                  "type": "integer",
                  "format": "int64",
                  "example": 101
                },
                "startMs": {
                  "description": "Beginning of the time range, specified in milliseconds UNIX time.",
                  "type": "integer",
                  "example": 1462878398034
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "HOS authentication logs for the specified driver.",
            "schema": {
              "$ref": "#/definitions/HosAuthenticationLogsResponse"
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/fleet/hos_logs": {
      "post": {
        "description": "Get the HOS (hours of service) logs for the specified driver. This method returns all the HOS statuses that the driver was in during this time period.",
        "tags": [
          "Fleet"
        ],
        "summary": "/fleet/hos_logs",
        "operationId": "get_fleet_hos_logs",
        "parameters": [
          {
            "$ref": "#/parameters/accessTokenParam"
          },
          {
            "name": "hosLogsParam",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "groupId",
                "driverId",
                "startMs",
                "endMs"
              ],
              "properties": {
                "driverId": {
                  "description": "Driver ID to query.",
                  "type": "integer",
                  "format": "int64",
                  "example": 444
                },
                "endMs": {
                  "description": "End of the time range, specified in milliseconds UNIX time.",
                  "type": "integer",
                  "example": 1462881998034
                },
                "groupId": {
                  "description": "Group ID to query.",
                  "type": "integer",
                  "format": "int64",
                  "example": 101
                },
                "startMs": {
                  "description": "Beginning of the time range, specified in milliseconds UNIX time.",
                  "type": "integer",
                  "example": 1462878398034
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "HOS logs for the specified driver.",
            "schema": {
              "$ref": "#/definitions/HosLogsResponse"
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/fleet/hos_logs_summary": {
      "post": {
        "description": "Get the current HOS status for all drivers in the group.",
        "tags": [
          "Fleet"
        ],
        "summary": "/fleet/hos_logs_summary",
        "operationId": "get_fleet_hos_logs_summary",
        "parameters": [
          {
            "$ref": "#/parameters/accessTokenParam"
          },
          {
            "name": "hosLogsParam",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "groupId"
              ],
              "properties": {
                "groupId": {
                  "description": "Group ID to query.",
                  "type": "integer",
                  "format": "int64",
                  "example": 101
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "HOS logs for the specified driver.",
            "schema": {
              "$ref": "#/definitions/HosLogsSummaryResponse"
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/fleet/list": {
      "post": {
        "description": "Get list of the vehicles. This method returns a list of the vehicles in the Samsara Cloud and information about them.",
        "tags": [
          "Fleet"
        ],
        "summary": "/fleet/list",
        "operationId": "list_fleet",
        "parameters": [
          {
            "$ref": "#/parameters/accessTokenParam"
          },
          {
            "$ref": "#/parameters/groupParam"
          },
          {
            "$ref": "#/parameters/paginationStartingAfterParam"
          },
          {
            "$ref": "#/parameters/paginationEndingBeforeParam"
          },
          {
            "$ref": "#/parameters/paginationLimitParam"
          }
        ],
        "responses": {
          "200": {
            "description": "List of vehicles and information about each.",
            "schema": {
              "type": "object",
              "properties": {
                "groupId": {
                  "description": "Group ID to query.",
                  "type": "integer",
                  "format": "int64",
                  "example": 101
                },
                "pagination": {
                  "$ref": "#/definitions/Pagination"
                },
                "vehicles": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/Vehicle"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/fleet/locations": {
      "post": {
        "description": "Get current location of vehicles in a group. This method returns the current location in latitude and longitude of all vehicles in a requested group.",
        "tags": [
          "Fleet"
        ],
        "summary": "/fleet/locations",
        "operationId": "get_fleet_locations",
        "parameters": [
          {
            "$ref": "#/parameters/accessTokenParam"
          },
          {
            "$ref": "#/parameters/groupParam"
          }
        ],
        "responses": {
          "200": {
            "description": "List of vehicle objects containing their location and the time at which that location was logged.",
            "schema": {
              "type": "object",
              "properties": {
                "groupId": {
                  "description": "Group ID to query.",
                  "type": "integer",
                  "format": "int64",
                  "example": 101
                },
                "vehicles": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/VehicleLocation"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/fleet/maintenance/dvirs": {
      "get": {
        "description": "Get DVIRs for the org within provided time constraints",
        "tags": [
          "Fleet"
        ],
        "summary": "/fleet/maintenance/dvirs",
        "operationId": "get_dvirs",
        "parameters": [
          {
            "$ref": "#/parameters/accessTokenParam"
          },
          {
            "type": "integer",
            "description": "time in millis until the last dvir log.",
            "name": "end_ms",
            "in": "query",
            "required": true
          },
          {
            "type": "integer",
            "description": "time in millis which corresponds to the duration before the end_ms.",
            "name": "duration_ms",
            "in": "query",
            "required": true
          },
          {
            "type": "integer",
            "description": "Group ID to query.",
            "name": "group_id",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "DVIRs for the specified duration.",
            "schema": {
              "$ref": "#/definitions/DvirListResponse"
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "post": {
        "description": "Create a new dvir, marking a vehicle or trailer safe or unsafe.",
        "tags": [
          "Fleet"
        ],
        "summary": "/fleet/maintenance/dvirs",
        "operationId": "create_dvir",
        "parameters": [
          {
            "$ref": "#/parameters/accessTokenParam"
          },
          {
            "$ref": "#/parameters/createDvirParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Newly created DVIR.",
            "schema": {
              "$ref": "#/definitions/DvirBase"
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/fleet/maintenance/list": {
      "post": {
        "description": "Get list of the vehicles with any engine faults or check light data.",
        "tags": [
          "Fleet"
        ],
        "summary": "/fleet/maintenance/list",
        "operationId": "get_fleet_maintenance_list",
        "parameters": [
          {
            "$ref": "#/parameters/accessTokenParam"
          },
          {
            "$ref": "#/parameters/groupParam"
          }
        ],
        "responses": {
          "200": {
            "description": "List of vehicles and maintenance information about each.",
            "schema": {
              "type": "object",
              "properties": {
                "vehicles": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/VehicleMaintenance"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/fleet/set_data": {
      "post": {
        "description": "This method enables the mutation of metadata for vehicles in the Samsara Cloud.",
        "tags": [
          "Fleet"
        ],
        "summary": "/fleet/set_data",
        "operationId": "update_vehicles",
        "parameters": [
          {
            "$ref": "#/parameters/accessTokenParam"
          },
          {
            "name": "vehicleUpdateParam",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "groupId",
                "vehicles"
              ],
              "properties": {
                "groupId": {
                  "description": "Group ID to query.",
                  "type": "integer",
                  "format": "int64",
                  "example": 101
                },
                "vehicles": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/Vehicle"
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Vehicles were successfully updated. No response body is returned."
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/fleet/trips": {
      "post": {
        "description": "Get historical trips data for specified vehicle. This method returns a set of historical trips data for the specified vehicle in the specified time range.",
        "tags": [
          "Fleet"
        ],
        "summary": "/fleet/trips",
        "operationId": "get_fleet_trips",
        "parameters": [
          {
            "$ref": "#/parameters/accessTokenParam"
          },
          {
            "description": "Group ID, vehicle ID and time range to query.",
            "name": "tripsParam",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "groupId",
                "vehicleId",
                "startMs",
                "endMs"
              ],
              "properties": {
                "endMs": {
                  "description": "End of the time range, specified in milliseconds UNIX time.",
                  "type": "integer",
                  "example": 1462881998034
                },
                "groupId": {
                  "description": "Group ID to query.",
                  "type": "integer",
                  "format": "int64",
                  "example": 101
                },
                "startMs": {
                  "description": "Beginning of the time range, specified in milliseconds UNIX time. Limited to a 90 day window with respect to startMs and endMs",
                  "type": "integer",
                  "example": 1462878398034
                },
                "vehicleId": {
                  "description": "Vehicle ID to query.",
                  "type": "integer",
                  "format": "int64",
                  "example": 112
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of trips taken by the requested vehicle within the specified timeframe.",
            "schema": {
              "$ref": "#/definitions/TripResponse"
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/fleet/vehicles/locations": {
      "get": {
        "description": "Fetch locations for a given vehicle between a start/end time. The maximum query duration is 30 minutes.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Fleet"
        ],
        "summary": "/fleet/vehicles/locations",
        "operationId": "getVehiclesLocations",
        "responses": {
          "200": {
            "description": "Returns locations for a given vehicle between a start/end time, with a maximum query duration of 30 minutes.",
            "schema": {
              "$ref": "#/definitions/FleetVehiclesLocations"
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/parameters/accessTokenParam"
        },
        {
          "type": "integer",
          "description": "Time in Unix epoch milliseconds for the start of the query (cannot exceed 30 minutes)",
          "name": "startMs",
          "in": "query",
          "required": true
        },
        {
          "type": "integer",
          "description": "Time in Unix epoch milliseconds for the end of the query (cannot exceed 30 minutes)",
          "name": "endMs",
          "in": "query",
          "required": true
        }
      ]
    },
    "/fleet/vehicles/stats": {
      "get": {
        "description": "Fetch engine state and aux input data for all vehicles in the group between a start/end time. Data returned may be affected by device connectivity and processing time.",
        "tags": [
          "Fleet"
        ],
        "summary": "/fleet/vehicles/stats",
        "operationId": "GetVehicleStats",
        "parameters": [
          {
            "$ref": "#/parameters/accessTokenParam"
          },
          {
            "type": "integer",
            "description": "Time in Unix epoch milliseconds for the start of the query.",
            "name": "startMs",
            "in": "query",
            "required": true
          },
          {
            "type": "integer",
            "description": "Time in Unix epoch milliseconds for the end of the query.",
            "name": "endMs",
            "in": "query",
            "required": true
          },
          {
            "enum": [
              "engineState",
              "auxInput1",
              "auxInput2"
            ],
            "type": "string",
            "description": "Comma-separated list of stat types. Options are engineState, auxInput1, and auxInput2. If this parameter is excluded, all 3 stat types will be returned. Example: series=engineState,auxInput2",
            "name": "series",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Comma-separated list of tag ids. Example: tagIds=1,2,3",
            "name": "tagIds",
            "in": "query"
          },
          {
            "$ref": "#/parameters/paginationStartingAfterParam"
          },
          {
            "$ref": "#/parameters/paginationEndingBeforeParam"
          },
          {
            "$ref": "#/parameters/paginationLimitParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns engine state and/or aux input data for all vehicles in the group between a start/end time.",
            "schema": {
              "type": "object",
              "required": [
                "vehicleStats"
              ],
              "properties": {
                "pagination": {
                  "$ref": "#/definitions/Pagination"
                },
                "vehicleStats": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "required": [
                      "vehicleId"
                    ],
                    "properties": {
                      "auxInput1": {
                        "$ref": "#/definitions/AuxInputSeries"
                      },
                      "auxInput2": {
                        "$ref": "#/definitions/AuxInputSeries"
                      },
                      "engineState": {
                        "type": "array",
                        "items": {
                          "$ref": "#/definitions/EngineState"
                        }
                      },
                      "vehicleId": {
                        "description": "ID of the vehicle.",
                        "type": "integer",
                        "format": "int64",
                        "example": 112
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/fleet/vehicles/{vehicleId}/safety/harsh_event": {
      "get": {
        "description": "Fetch harsh event details for a vehicle.",
        "tags": [
          "Fleet",
          "Safety"
        ],
        "summary": "/fleet/vehicles/{vehicleId:[0-9]+}/safety/harsh_event",
        "operationId": "GetVehicleHarshEvent",
        "parameters": [
          {
            "$ref": "#/parameters/accessTokenParam"
          },
          {
            "$ref": "#/parameters/harshEventMsParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Harsh event details.",
            "schema": {
              "$ref": "#/definitions/VehicleHarshEventResponse"
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "parameters": [
        {
          "type": "integer",
          "format": "int64",
          "description": "ID of the vehicle",
          "name": "vehicleId",
          "in": "path",
          "required": true
        }
      ]
    },
    "/fleet/vehicles/{vehicleId}/safety/score": {
      "get": {
        "description": "Fetch the safety score for the vehicle.",
        "tags": [
          "Fleet",
          "Safety"
        ],
        "summary": "/fleet/vehicles/{vehicleId:[0-9]+}/safety/score",
        "operationId": "GetVehicleSafetyScore",
        "parameters": [
          {
            "$ref": "#/parameters/accessTokenParam"
          },
          {
            "$ref": "#/parameters/safetyScoreStartMsParam"
          },
          {
            "$ref": "#/parameters/safetyScoreEndMsParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Safety score details.",
            "schema": {
              "$ref": "#/definitions/VehicleSafetyScoreResponse"
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "parameters": [
        {
          "type": "integer",
          "format": "int64",
          "description": "ID of the vehicle",
          "name": "vehicleId",
          "in": "path",
          "required": true
        }
      ]
    },
    "/fleet/vehicles/{vehicle_id_or_external_id}": {
      "get": {
        "description": "Gets a specific vehicle.",
        "consumes": [
          "application/json"
        ],
        "tags": [
          "Fleet"
        ],
        "summary": "/fleet/vehicles/{vehicle_id:[0-9]+ | external_id:[a-zA-Z0-9]+}",
        "operationId": "getFleetVehicle",
        "parameters": [
          {
            "$ref": "#/parameters/accessTokenParam"
          },
          {
            "$ref": "#/parameters/vehicleIdOrExternalIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "The specified vehicle.",
            "schema": {
              "$ref": "#/definitions/FleetVehicleResponse"
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "patch": {
        "description": "Updates the specified vehicle using JSON merge patch format. See IETF RFC 7396: https://tools.ietf.org/html/rfc7396.",
        "consumes": [
          "application/json",
          "application/merge-patch+json"
        ],
        "tags": [
          "Fleet"
        ],
        "summary": "/fleet/vehicles/{vehicle_id:[0-9]+ | external_id:[a-zA-Z0-9]+}",
        "operationId": "patchFleetVehicle",
        "parameters": [
          {
            "$ref": "#/parameters/accessTokenParam"
          },
          {
            "$ref": "#/parameters/vehicleIdOrExternalIdParam"
          },
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "externalIds": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  },
                  "example": {
                    "maintenanceId": "ABFS18600"
                  }
                },
                "harsh_accel_setting": {
                  "description": "Harsh Event Detection Setting\n* 0: Passenger\n* 1: Light Truck\n* 2: Heavy\n* 3: Off\n* 4: Automatic",
                  "type": "integer",
                  "format": "string",
                  "enum": [
                    "Passenger",
                    "Light Truck",
                    "Heavy",
                    "Off",
                    "Auto"
                  ]
                },
                "name": {
                  "description": "Name",
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The updated vehicle.",
            "schema": {
              "$ref": "#/definitions/FleetVehicleResponse"
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/fleet/vehicles/{vehicle_id}/dispatch/routes": {
      "get": {
        "description": "Fetch all of the dispatch routes for a given vehicle.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Fleet",
          "Routes"
        ],
        "summary": "/fleet/vehicles/{vehicle_id:[0-9]+}/dispatch/routes",
        "operationId": "getDispatchRoutesByVehicleId",
        "parameters": [
          {
            "$ref": "#/parameters/routeEndTimeParam"
          },
          {
            "$ref": "#/parameters/routeDurationParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns all of the dispatch routes for the given vehicle_id.",
            "schema": {
              "$ref": "#/definitions/DispatchRoutes"
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "post": {
        "description": "Create a new dispatch route for the vehicle with vehicle_id.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Fleet",
          "Routes"
        ],
        "summary": "/fleet/vehicles/{vehicle_id:[0-9]+}/dispatch/routes",
        "operationId": "createVehicleDispatchRoute",
        "parameters": [
          {
            "$ref": "#/parameters/routeCreateParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Created route object including the new route ID.",
            "schema": {
              "$ref": "#/definitions/DispatchRoute"
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/parameters/accessTokenParam"
        },
        {
          "type": "integer",
          "format": "int64",
          "description": "ID of the vehicle with the associated routes.",
          "name": "vehicle_id",
          "in": "path",
          "required": true
        }
      ]
    },
    "/fleet/vehicles/{vehicle_id}/locations": {
      "get": {
        "description": "Fetch locations for a given vehicle between a start/end time. The maximum query duration is one hour.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Fleet"
        ],
        "summary": "/fleet/vehicles/{vehicle_id:[0-9]+}/locations",
        "operationId": "getVehicleLocations",
        "responses": {
          "200": {
            "description": "Returns locations for a given vehicle between a start/end time, with a maximum query duration of one hour.",
            "schema": {
              "$ref": "#/definitions/FleetVehicleLocations"
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/parameters/accessTokenParam"
        },
        {
          "type": "integer",
          "format": "int64",
          "description": "ID of the vehicle with the associated routes.",
          "name": "vehicle_id",
          "in": "path",
          "required": true
        },
        {
          "type": "integer",
          "format": "int64",
          "description": "Time in Unix epoch milliseconds for the start of the query (cannot exceed 1 hour)",
          "name": "startMs",
          "in": "query",
          "required": true
        },
        {
          "type": "integer",
          "format": "int64",
          "description": "Time in Unix epoch milliseconds for the end of the query (cannot exceed 1 hour)",
          "name": "endMs",
          "in": "query",
          "required": true
        }
      ]
    },
    "/industrial/data": {
      "get": {
        "description": "Fetch all of the data inputs for a group.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Industrial"
        ],
        "summary": "/industrial/data",
        "operationId": "GetAllDataInputs",
        "parameters": [
          {
            "$ref": "#/parameters/accessTokenParam"
          },
          {
            "$ref": "#/parameters/groupIdParam"
          },
          {
            "$ref": "#/parameters/dataInputStartTimeParam"
          },
          {
            "$ref": "#/parameters/dataInputEndTimeParam"
          }
        ],
        "responses": {
          "200": {
            "description": "List of data inputs.",
            "schema": {
              "type": "object",
              "properties": {
                "dataInputs": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/DataInputHistoryResponse"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/industrial/data/{data_input_id}": {
      "get": {
        "description": "Fetch datapoints from a given data input.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Industrial"
        ],
        "summary": "/industrial/data/{data_input_id:[0-9]+}",
        "operationId": "GetDataInput",
        "parameters": [
          {
            "$ref": "#/parameters/accessTokenParam"
          },
          {
            "$ref": "#/parameters/dataInputIdParam"
          },
          {
            "$ref": "#/parameters/dataInputStartTimeParam"
          },
          {
            "$ref": "#/parameters/dataInputEndTimeParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns datapoints for the given data input",
            "schema": {
              "$ref": "#/definitions/DataInputHistoryResponse"
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/machines/history": {
      "post": {
        "description": "Get historical data for machine objects. This method returns a set of historical data for all machines in a group",
        "tags": [
          "Industrial"
        ],
        "summary": "/machines/history",
        "operationId": "get_machines_history",
        "parameters": [
          {
            "$ref": "#/parameters/accessTokenParam"
          },
          {
            "description": "Group ID and time range to query for events",
            "name": "historyParam",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "groupId",
                "startMs",
                "endMs"
              ],
              "properties": {
                "endMs": {
                  "description": "End of the time range, specified in milliseconds UNIX time.",
                  "type": "integer",
                  "example": 1462881998034
                },
                "groupId": {
                  "description": "Group ID to query.",
                  "type": "integer",
                  "format": "int64",
                  "example": 101
                },
                "startMs": {
                  "description": "Beginning of the time range, specified in milliseconds UNIX time.",
                  "type": "integer",
                  "example": 1462878398034
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of machine results objects, each containing a time and a datapoint.",
            "schema": {
              "$ref": "#/definitions/MachineHistoryResponse"
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/machines/list": {
      "post": {
        "description": "Get machine objects. This method returns a list of the machine objects in the Samsara Cloud and information about them.",
        "tags": [
          "Industrial"
        ],
        "summary": "/machines/list",
        "operationId": "get_machines",
        "parameters": [
          {
            "$ref": "#/parameters/accessTokenParam"
          },
          {
            "$ref": "#/parameters/groupParam"
          }
        ],
        "responses": {
          "200": {
            "description": "List of machine objects.",
            "schema": {
              "type": "object",
              "properties": {
                "machines": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/Machine"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/sensors/cargo": {
      "post": {
        "description": "Get cargo monitor status (empty / full) for requested sensors.",
        "tags": [
          "Sensors"
        ],
        "summary": "/sensors/cargo",
        "operationId": "get_sensors_cargo",
        "parameters": [
          {
            "$ref": "#/parameters/accessTokenParam"
          },
          {
            "$ref": "#/parameters/sensorParam"
          }
        ],
        "responses": {
          "200": {
            "description": "List of sensor objects containing the current cargo status reported by each sensor.",
            "schema": {
              "$ref": "#/definitions/CargoResponse"
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/sensors/door": {
      "post": {
        "description": "Get door monitor status (closed / open) for requested sensors.",
        "tags": [
          "Sensors"
        ],
        "summary": "/sensors/door",
        "operationId": "get_sensors_door",
        "parameters": [
          {
            "$ref": "#/parameters/accessTokenParam"
          },
          {
            "$ref": "#/parameters/sensorParam"
          }
        ],
        "responses": {
          "200": {
            "description": "List of sensor objects containing the current door status reported by each sensor.",
            "schema": {
              "$ref": "#/definitions/DoorResponse"
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/sensors/history": {
      "post": {
        "description": "Get historical data for specified sensors. This method returns a set of historical data for the specified sensors in the specified time range and at the specified time resolution.",
        "tags": [
          "Sensors"
        ],
        "summary": "/sensors/history",
        "operationId": "get_sensors_history",
        "parameters": [
          {
            "$ref": "#/parameters/accessTokenParam"
          },
          {
            "description": "Group ID, time range and resolution, and list of sensor ID, field pairs to query.",
            "name": "historyParam",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "groupId",
                "startMs",
                "endMs",
                "stepMs",
                "series"
              ],
              "properties": {
                "endMs": {
                  "description": "End of the time range, specified in milliseconds UNIX time.",
                  "type": "integer",
                  "example": 1462881998034
                },
                "fillMissing": {
                  "type": "string",
                  "default": "withNull",
                  "enum": [
                    "withNull",
                    "withPrevious"
                  ]
                },
                "groupId": {
                  "description": "Group ID to query.",
                  "type": "integer",
                  "format": "int64",
                  "example": 101
                },
                "series": {
                  "type": "array",
                  "items": {
                    "description": "Sensor ID and field to query.",
                    "type": "object",
                    "required": [
                      "widgetId",
                      "field"
                    ],
                    "properties": {
                      "field": {
                        "description": "Field to query.",
                        "type": "string",
                        "enum": [
                          "ambientTemperature",
                          "probeTemperature",
                          "currentLoop1Raw",
                          "currentLoop1Mapped",
                          "currentLoop2Raw",
                          "currentLoop2Mapped",
                          "pmPowerTotal",
                          "pmPhase1Power",
                          "pmPhase2Power",
                          "pmPhase3Power",
                          "pmPhase1PowerFactor",
                          "pmPhase2PowerFactor",
                          "pmPhase3PowerFactor"
                        ],
                        "example": "ambientTemperature"
                      },
                      "widgetId": {
                        "description": "Sensor ID to query.",
                        "type": "integer",
                        "format": "int64",
                        "example": 1
                      }
                    }
                  }
                },
                "startMs": {
                  "description": "Beginning of the time range, specified in milliseconds UNIX time.",
                  "type": "integer",
                  "example": 1462878398034
                },
                "stepMs": {
                  "description": "Time resolution for which data should be returned, in milliseconds. Specifying 3600000 will return data at hour intervals.",
                  "type": "integer",
                  "example": 3600000
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of results objects, each containing a time and a datapoint for each requested sensor/field pair.",
            "schema": {
              "$ref": "#/definitions/SensorHistoryResponse"
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/sensors/humidity": {
      "post": {
        "description": "Get humidity for requested sensors. This method returns the current relative humidity for the requested sensors.",
        "tags": [
          "Sensors"
        ],
        "summary": "/sensors/humidity",
        "operationId": "get_sensors_humidity",
        "parameters": [
          {
            "$ref": "#/parameters/accessTokenParam"
          },
          {
            "$ref": "#/parameters/sensorParam"
          }
        ],
        "responses": {
          "200": {
            "description": "List of sensor objects containing the current humidity reported by each sensor.",
            "schema": {
              "$ref": "#/definitions/HumidityResponse"
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/sensors/list": {
      "post": {
        "description": "Get sensor objects. This method returns a list of the sensor objects in the Samsara Cloud and information about them.",
        "tags": [
          "Sensors"
        ],
        "summary": "/sensors/list",
        "operationId": "get_sensors",
        "parameters": [
          {
            "$ref": "#/parameters/accessTokenParam"
          },
          {
            "$ref": "#/parameters/groupParam"
          }
        ],
        "responses": {
          "200": {
            "description": "List of sensor objects.",
            "schema": {
              "type": "object",
              "properties": {
                "sensors": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/Sensor"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/sensors/temperature": {
      "post": {
        "description": "Get temperature for requested sensors. This method returns the current ambient temperature (and probe temperature if applicable) for the requested sensors.",
        "tags": [
          "Sensors"
        ],
        "summary": "/sensors/temperature",
        "operationId": "get_sensors_temperature",
        "parameters": [
          {
            "$ref": "#/parameters/accessTokenParam"
          },
          {
            "$ref": "#/parameters/sensorParam"
          }
        ],
        "responses": {
          "200": {
            "description": "List of sensor objects containing the current temperature reported by each sensor.",
            "schema": {
              "$ref": "#/definitions/TemperatureResponse"
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/tags": {
      "get": {
        "description": "Fetch all of the tags for a group.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Tags"
        ],
        "summary": "/tags",
        "operationId": "GetAllTags",
        "parameters": [
          {
            "$ref": "#/parameters/accessTokenParam"
          },
          {
            "$ref": "#/parameters/groupIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "List of tags.",
            "schema": {
              "type": "object",
              "properties": {
                "tags": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/Tag"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "post": {
        "description": "Create a new tag for the group.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Tags"
        ],
        "summary": "/tags",
        "operationId": "CreateTag",
        "parameters": [
          {
            "$ref": "#/parameters/accessTokenParam"
          },
          {
            "$ref": "#/parameters/tagCreateParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Newly created tag object, including the new tag ID.",
            "schema": {
              "$ref": "#/definitions/Tag"
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/tags/{tag_id}": {
      "get": {
        "description": "Fetch a tag by id.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Tags"
        ],
        "summary": "/tags/{tag_id:[0-9]+}",
        "operationId": "getTagById",
        "parameters": [
          {
            "$ref": "#/parameters/accessTokenParam"
          },
          {
            "$ref": "#/parameters/tagPathParam"
          }
        ],
        "responses": {
          "200": {
            "description": "The tag corresponding to tag_id.",
            "schema": {
              "$ref": "#/definitions/Tag"
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "description": "Update a tag with a new name and new members. This API call would replace all old members of a tag with new members specified in the request body. To modify only a few devices associated with a tag use the PATCH endpoint.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Tags"
        ],
        "summary": "/tags/{tag_id:[0-9]+}",
        "operationId": "updateTagById",
        "parameters": [
          {
            "$ref": "#/parameters/accessTokenParam"
          },
          {
            "$ref": "#/parameters/tagPathParam"
          },
          {
            "$ref": "#/parameters/tagUpdateParam"
          }
        ],
        "responses": {
          "200": {
            "description": "The updated tag data.",
            "schema": {
              "$ref": "#/definitions/Tag"
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "description": "Permanently deletes a tag.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Tags"
        ],
        "summary": "/tags/{tag_id:[0-9]+}",
        "operationId": "deleteTagById",
        "parameters": [
          {
            "$ref": "#/parameters/accessTokenParam"
          },
          {
            "$ref": "#/parameters/tagPathParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully deleted the tag. No response body is returned."
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "patch": {
        "description": "Add or delete specific members from a tag, or modify the name of a tag.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Tags"
        ],
        "summary": "/tags/{tag_id:[0-9]+}",
        "operationId": "modifyTagById",
        "parameters": [
          {
            "$ref": "#/parameters/accessTokenParam"
          },
          {
            "$ref": "#/parameters/tagPathParam"
          },
          {
            "$ref": "#/parameters/tagModifyParam"
          }
        ],
        "responses": {
          "200": {
            "description": "The updated tag data.",
            "schema": {
              "$ref": "#/definitions/Tag"
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/user_roles": {
      "get": {
        "description": "Get all roles in the organization.",
        "tags": [
          "Users"
        ],
        "summary": "/user_roles",
        "operationId": "listUserRoles",
        "parameters": [
          {
            "$ref": "#/parameters/accessTokenParam"
          }
        ],
        "responses": {
          "200": {
            "description": "List of user roles.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/UserRole"
              }
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/users": {
      "get": {
        "description": "List all users in the organization.",
        "tags": [
          "Users"
        ],
        "summary": "/users",
        "operationId": "list_users",
        "parameters": [
          {
            "$ref": "#/parameters/accessTokenParam"
          }
        ],
        "responses": {
          "200": {
            "description": "List of users.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/User"
              }
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/users/{userId}": {
      "get": {
        "description": "Get a user.",
        "tags": [
          "Users"
        ],
        "summary": "/users/{userId:[0-9]+}",
        "operationId": "getUserById",
        "parameters": [
          {
            "$ref": "#/parameters/accessTokenParam"
          },
          {
            "type": "integer",
            "format": "int64",
            "description": "ID of the user.",
            "name": "userId",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "User record.",
            "schema": {
              "$ref": "#/definitions/User"
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "description": "Remove a user from the organization.",
        "tags": [
          "Users"
        ],
        "summary": "/users/{userId:[0-9]+}",
        "operationId": "deleteUserById",
        "parameters": [
          {
            "$ref": "#/parameters/accessTokenParam"
          },
          {
            "type": "integer",
            "format": "int64",
            "description": "ID of the user.",
            "name": "userId",
[...]
